<!--
  재고현황확인
  -->
<!--toolbar-->
<dx-toolbar style="margin: 20px 0px 20px 0px;padding:0px 5px 0px 5px">
  <!--<dxi-item location="before" locateInMenu="auto">
    <div *dxTemplate>
      <div class="toolbar-label" style="float:left;margin-right:10px;padding:5px;"><b>기간</b></div>
      <div style="float:left;width:auto">
        <dx-date-box [(value)]="startDate" type="date" displayFormat="yyyy-MM-dd"></dx-date-box>
      </div>
      <div style="float:left; margin-left:10px; margin-right:10px;">
        ~
      </div>
      <div style="float: left; margin-right: 10px; width: auto">
        <dx-date-box [(value)]="endDate" type="date" displayFormat="yyyy-MM-dd"></dx-date-box>
      </div>
    </div>
  </dxi-item>

  <dxi-item location="before" locateInMenu="auto" style=" margin-right:10px;" >
    <dx-select-box [items]="sort" placeholder="구분"></dx-select-box>
  </dxi-item>-->

  <dxi-item location="before"
            widget="dxButton"
            locateInMenu="auto"
            [height]="25"
            [options]="searchButtonOptions">
  </dxi-item>

  <!--<dxi-item location="after"
            widget="dxButton"
            locateInMenu="auto"
            [height]="25"
            [options]="exportSelectedData">
  </dxi-item>-->
</dx-toolbar>

<dx-data-grid id="grid"
              [dataSource]="mainGridData"
              [showBorders]="true"
              [focusedRowIndex]="0"
              columnResizingMode="widget"
              [allowColumnReordering]="true"
              [columnAutoWidth]="true"
              [allowColumnResizing]="true"
              [remoteOperations]="false"
              [rowAlternationEnabled]="true"
              height="calc(100vh - 230px)">
  <!--Datagrid Option-->
  <dxo-paging [enabled]="false"></dxo-paging>
  <dxo-scrolling columnRenderingMode="virtual"></dxo-scrolling>

  <!--Filtering Option-->
  <dxo-filter-panel [visible]="true"></dxo-filter-panel>
  <dxo-filter-builder [customOperations]="customOperations"
                      [allowHierarchicalFields]="true">
  </dxo-filter-builder>
  <dxo-filter-row [visible]="true"></dxo-filter-row>
  <dxo-header-filter [visible]="true"></dxo-header-filter>
  <!--Grouping Option-->
  <dxo-grouping #expand [autoExpandAll]="true"></dxo-grouping>
  <!--Data column-->
  <dxi-column dataField="LGORT" caption="창고코드" dataType="string">  </dxi-column>

  <dxi-column dataField="LGOBE" caption="창고명" dataType="string">  </dxi-column>

  <dxi-column dataField="MTART" caption="자재유형" dataType="string">  </dxi-column>

  <dxi-column dataField="MATNR" caption="자재코드" dataType="string">   </dxi-column>

  <dxi-column dataField="MAKTX" caption="자재명" dataType="string">  </dxi-column>

  <dxi-column dataField="MATKL" caption="자재그룹" dataType="string">  </dxi-column>

  <dxi-column dataField="WGBEZ" caption="자재그룹명" dataType="string">  </dxi-column>

  <dxi-column dataField="ZZDEPT_CD" caption="운영부서" dataType="string">  </dxi-column>

  <dxi-column dataField="ZZDEPT_NM" caption="운영부서명" dataType="string"></dxi-column>

  <dxi-column dataField="ZZBIN" caption="BIN번호" dataType="string">   </dxi-column>

  <dxi-column dataField="MEINS" caption="기본단위" dataType="string">  </dxi-column>

  <dxi-column dataField="SOBKZ" caption="특별재고지시자" dataType="string"> </dxi-column>

  <dxi-column dataField="SOTXT" caption="특별재고명" dataType="string">  </dxi-column>

  <dxi-column dataField="LABST" caption="가용재고" dataType="number" format="#,###.##">  </dxi-column>

  <dxi-column dataField="INSME" caption="검사재고" dataType="number" format="#,###.##">  </dxi-column>

  <dxi-column dataField="SPEME" caption="보류재고" dataType="number" format="#,###.##">  </dxi-column>

  <dxi-column dataField="UMLME" caption="이동중재고" dataType="number" format="#,###.##">  </dxi-column>

  <dxi-column dataField="PEINH" caption="가격단위">  </dxi-column>

  <dxi-column dataField="VERPR" caption="단가" dataType="number" format="#,###.###">  </dxi-column>

</dx-data-grid>



