  <!--toolbar-->
<dx-toolbar style="margin:20px 0px 20px 0px">
  <dxi-item location="before" widget="dxButton" locateInMenu="never">
    <div *dxTemplate>
      <!---<div class="toolbar-label" style="float:left;margin:10px 5px 0px 5px"><b>정산년월</b></div>-->
      <div style="float:left; margin-left: 10px;">
        <dx-date-box [value]="now" type="date" [width]="150" label="정산년월"> </dx-date-box>
      </div>
    </div>
  </dxi-item>

  <dxi-item location="before" locateInMenu="auto">
    <dx-select-box [items]="setDivision"
                   labelMode="floating"
                   label="정산구분"
                   style="width: auto;
                   margin-left: 5px;
                   margin-right: 5px;">
    </dx-select-box>
  </dxi-item>

  <dxi-item location="before" locateInMenu="auto">
    <dx-select-box [items]="product"
                   labelMode="floating"
                   label="제품"
                   style="width: auto;
                   margin-left: 5px;
                   margin-right: 5px;">
    </dx-select-box>
  </dxi-item>

  <dxi-item location="before" locateInMenu="auto">
    <dx-select-box [items]="account"
                   labelMode="floating"
                   label="거래처"
                   style="width: auto;
                   margin-left: 5px;
                   margin-right: 5px;">
    </dx-select-box>
  </dxi-item>

  <dxi-item location="before" locateInMenu="auto">
    <dx-select-box [items]="destination"
                   labelMode="floating"
                   label="도착지"
                   style="width: auto;
                   margin-left: 5px;
                   margin-right: 5px;">
    </dx-select-box>
  </dxi-item>

  <dxi-item location="left"
            widget="dxButton"
            locateInMenu="auto"
            [options]="searchButtonOptions">
  </dxi-item>


  <dxi-item location="after"
            widget="dxButton"
            locateInMenu="auto">
    <dx-button stylingMode="contained"
               icon="plus"
               type="normal"
               (onClick)="RegisRecords()"
               [width]="50">
    </dx-button>
  </dxi-item>
</dx-toolbar>

<dx-data-grid class="dx-card wide-card"
              [dataSource]="data"
              [showBorders]="false"
              [columnAutoWidth]="true"
              keyExpr="customerName"
              [columnHidingEnabled]="true"
              [allowColumnResizing]="true"
              columnResizingMode="widget"
              [selection]="{ mode: 'multiple' }"
              [allowColumnReordering]="true"
              height="calc(100vh - 230px)">

  <!--Datagrid Option-->
  <dxo-paging [enabled]="false"></dxo-paging>
  <dxo-pager [showPageSizeSelector]="true" [showInfo]="true"></dxo-pager>


  <!--Filtering Option-->
  <dxo-filter-panel [visible]="true"></dxo-filter-panel>
  <dxo-filter-builder [customOperations]="customOperations"
                      [allowHierarchicalFields]="true">
  </dxo-filter-builder>
  <dxo-filter-builder-popup [position]="popupPosition">
  </dxo-filter-builder-popup>
  <dxo-filter-row [visible]="true"></dxo-filter-row>
  <dxo-header-filter [visible]="true"></dxo-header-filter>
  <dxo-scrolling columnRenderingMode="virtual"></dxo-scrolling>


  <!--Grouping Option-->
  <dxo-group-panel [visible]="true"></dxo-group-panel>
  <dxo-grouping #expand [autoExpandAll]="true"></dxo-grouping>

  <!--Data column-->
  <dxi-column dataField="customerName"
              caption="거래처명">
  </dxi-column>

  <dxi-column dataField="productName"
              caption="품명">
  </dxi-column>

  <dxi-column dataField="shInformation" caption="출하정보">

    <dxi-column caption="출하일자"
                dataField="shInformation_date"
                alignment="center">
    </dxi-column>

    <dxi-column caption="출하지" dataField="shInformation_shipped"></dxi-column>

    <dxi-column caption="출발지" dataField="shInformation_StartPo"></dxi-column>

    <dxi-column caption="도착지" dataField="shInformation_dest"></dxi-column>

    <dxi-column caption="도착지명" dataField="shInformation_placeDe"></dxi-column>

    <dxi-column caption="순번" dataField="shInformation_turn" alignment="center"></dxi-column>

    <dxi-column caption="출하중량" dataField="shInformation_shWeight" format="#,###"></dxi-column>

    <dxi-column caption="착지중량" dataField="shInformation_laWeight" format="#,###"></dxi-column>

    <dxi-column caption="기본중량" dataField="shInformation_baWeight" format="#,###"></dxi-column>
  </dxi-column>

  <dxi-column dataField="shCost" caption="기본운송비">
    <dxi-column caption="단가"
                dataField="shCost_unPrice"
                format="#,###">
    </dxi-column>

    <dxi-column caption="운송비합계" dataField="shCost_totCost" format="#,###"></dxi-column>
  </dxi-column>

  <dxi-column dataField="caAccount" caption="운송사계산">
    <dxi-column caption="단가구분"
                dataField="caAccount_unPrice">
    </dxi-column>

    <dxi-column caption="정산중량" dataField="caAccount_setWeight" format="#,###"></dxi-column>

    <dxi-column caption="단가" dataField="caAccount_unitPr" format="#,###"></dxi-column>

    <dxi-column caption="운송비합계" dataField="caAccount_totCost" format="#,###"></dxi-column>
  </dxi-column>

  <dxi-column dataField="HPCharge" caption="본사담장자계산">
    <dxi-column caption="정산중량(톤)"
                dataField="HPCharge_setWeight"
                format="#,###">
    </dxi-column>

    <dxi-column caption="단가" dataField="HPCharge_unPrice" format="#,###"></dxi-column>

    <dxi-column caption="운송비합계" dataField="HPCharge_totCost" format="#,###"></dxi-column>
  </dxi-column>

  <dxi-column dataField="note"
              caption="비고">
  </dxi-column>

  <dxi-column dataField="settlement"
              caption="정산여부"
              alignment="center">
  </dxi-column>

  <dxi-column dataField="ofClosing"
              caption="본사마감"
              alignment="center">
  </dxi-column>

  <dxi-column dataField="carType"
              caption="차종">
  </dxi-column>

  <dxi-column dataField="shCategory"
              caption="출하구분"
              alignment="center">
  </dxi-column>

  <dxi-column dataField="flag"
              caption="플래그"
              alignment="center">
  </dxi-column>

  <dxi-column dataField="reNumber"
              caption="출고번호"
              [visible]="false">
  </dxi-column>

  <dxi-column dataField="division"
              caption="구분"
              [visible]="false">
  </dxi-column>
</dx-data-grid>



<!--Popup-->
<dx-popup [showTitle]="true"
          [(visible)]="popupVisible"
          width="80%"
          height="80%"
          title="운송비 자료 생성"
          [showCloseButton]="false">
  <dxi-toolbar-item widget="dxButton"
                    toolbar="bottom"
                    location="before"
                    [options]="savesButtonOptions">
  </dxi-toolbar-item>
  <dxi-toolbar-item widget="dxButton"
                    toolbar="bottom"
                    location="after"
                    [options]="closeButtonOptions">
  </dxi-toolbar-item>

  <!--Form-->
  <dx-form>
    <dxi-item>
      <div *dxTemplate="let data of 'content'">
        <dx-toolbar style="margin:20px 0px 20px 0px" >

          <dxi-item location="before" widget="dxButton" locateInMenu="auto">
            <div *dxTemplate>
              <div class="toolbar-label" style="float:left;margin:10px 5px 0px 5px"><b>정산년월</b></div>
              <div class="dx-field-value">
                <dx-date-box [value]="now" type="date" [width]="150"> </dx-date-box>
              </div>
            </div>
          </dxi-item>

          <dxi-item location="before" locateInMenu="auto">
            <dx-select-box [items]="setDivision"
                           placeholder="정산구분"
                           style="width: auto;
                           margin-left: 10px;
                           margin-right: 10px;">
            </dx-select-box>
          </dxi-item>

          <dxi-item location="before" locateInMenu="auto">
            <dx-select-box [items]="product"
                           placeholder="제품"
                           style="width: auto;
                           margin-left: 10px;
                           margin-right: 10px;">
            </dx-select-box>
          </dxi-item>

          <dxi-item location="before" locateInMenu="auto">
            <dx-select-box [items]="account"
                           placeholder="거래처"
                           style="width: auto;
                           margin-left: 10px;
                           margin-right: 10px;">
            </dx-select-box>
          </dxi-item>

          <dxi-item location="before" locateInMenu="auto">
            <dx-select-box [items]="destination"
                           placeholder="도착지"
                           style="width: auto;
                           margin-left: 10px;
                           margin-right: 10px;">
            </dx-select-box>
          </dxi-item>

          <dxi-item location="before" widget="dxButton" locateInMenu="never">
            <div *dxTemplate>
              <div class="toolbar-label"><b>요청일자</b></div>
            </div>
          </dxi-item>
          <dxi-item location="before">
            <div *dxTemplate>
              <div style="float:left">
                <dx-date-box [(value)]="startDate" type="date" [width]="150" displayFormat="yyyy-MM-dd"></dx-date-box>
              </div>
              <div style="float:left; margin-left:10px; margin-right:10px;">
                ~
              </div>
              <div style="float:left">
                <dx-date-box [(value)]="endDate" type="date" [width]="150" displayFormat="yyyy-MM-dd"></dx-date-box>
              </div>
            </div>
          </dxi-item>
          <dxi-item location="left"
                    widget="dxButton"
                    locateInMenu="auto"
                    [options]="searchButtonOptions">
          </dxi-item>
        </dx-toolbar>
      </div>
    </dxi-item>
  </dx-form>


  <dx-box direction="row" width="100%" [height]="700">
    <dxi-item>
      <div *dxTemplate="let data of 'content'">

        <dx-data-grid class="dx-card wide-card"
                      [dataSource]="division"
                      [showBorders]="true"
                      [columnWidth]="100"
                      [selection]="{ mode: 'multiple' }"
                      [focusedRowIndex]="0"
                      [width]="1800"
                      [height]="600"
                      keyExpr="customerName">


          <!--Datagrid Option-->
          <dxo-paging [enabled]="false"></dxo-paging>
          <dxo-pager [showPageSizeSelector]="true" [showInfo]="true"></dxo-pager>


          <!--Filtering Option-->
          <dxo-filter-builder [customOperations]="customOperations"
                              [allowHierarchicalFields]="true">
          </dxo-filter-builder>


          <!--Grouping Option-->
          <dxo-group-panel [visible]="true"></dxo-group-panel>
          <dxo-grouping #expand [autoExpandAll]="true"></dxo-grouping>

          <!--Data column-->
          <dxi-column dataField="division"
                      caption="구분">
          </dxi-column>

          <dxi-column dataField="customerName"
                      caption="거래처명"
                      [width]="130">
          </dxi-column>

          <dxi-column dataField="productName"
                      caption="품명"
                      [width]="130">
          </dxi-column>

          <dxi-column dataField="shInformation" caption="출하정보">

            <dxi-column caption="출하일자"
                        dataField="shInformation_date">
            </dxi-column>

            <dxi-column caption="출하지" dataField="shInformation_shipped"></dxi-column>

            <dxi-column caption="순번" dataField="shInformation_turn" alignment="center"></dxi-column>

            <dxi-column caption="도착지" dataField="shInformation_dest"></dxi-column>

            <dxi-column caption="출하중량" dataField="shInformation_shWeight" format="#,###"></dxi-column>

            <dxi-column caption="착지중량" dataField="shInformation_laWeight" format="#,###"></dxi-column>

            <dxi-column caption="기본중량" dataField="shInformation_baWeight" format="#,###"></dxi-column>
          </dxi-column>

          <dxi-column dataField="caAccount" caption="운송사계산">

            <dxi-column caption="정산중량" dataField="caAccount_setWeight" format="#,###"></dxi-column>

            <dxi-column caption="단가" dataField="caAccount_unitPr" format="#,###"></dxi-column>

            <dxi-column caption="운송비합계" dataField="caAccount_totCost" format="#,###"></dxi-column>
          </dxi-column>

          <dxi-column dataField="HPCharge" caption="본사담장자계산">
            <dxi-column caption="정산중량(톤)"
                        dataField="HPCharge_setWeight"
                        format="#,###">
            </dxi-column>

            <dxi-column caption="단가" dataField="HPCharge_unPrice" format="#,###"></dxi-column>

            <dxi-column caption="운송비합계" dataField="HPCharge_totCost" format="#,###"></dxi-column>
          </dxi-column>

          <dxi-column caption="출발지" dataField="shInformation_StartPo"></dxi-column>

          <dxi-column caption="도착지" dataField="shInformation_dest"></dxi-column>

          <dxi-column dataField="reNumber"
                      caption="출고번호">
          </dxi-column>

          <dxi-column dataField="note"
                      caption="비고">
          </dxi-column>
        </dx-data-grid>
      </div>
    </dxi-item>
  </dx-box>
</dx-popup>


