<!--고객주문등록(S/O)-포장재-->

<dx-toolbar style="margin:20px 0px 20px 0px" width="99%">
  <dxi-item location="before">
    <div class="toolbar-label" style="float: left; margin-top: 5px; margin-left: 10px; "><b>주문처(산하)</b> </div>
    <div style="float: left; margin-left: 10px; ">
      <dx-select-box [items]="clients"></dx-select-box>
    </div>
  </dxi-item>
  <dxi-item location="before">
    <div *dxTemplate>
      <div class="toolbar-label" style="float: left; margin-top: 5px; margin-left: 10px; "><b>출고기간</b> </div>
      <div style="float: left; margin-left: 10px;">
        <dx-date-box [(value)]="startDate" type="date" [width]="150"></dx-date-box>
      </div>
      <div style="float: left; margin-left: 10px;">
        ~
      </div>
      <div style="float: left; margin-left: 10px;">
        <dx-date-box [(value)]="endDate" type="date" [width]="150"></dx-date-box>
      </div>
    </div>
  </dxi-item>

  <dxi-item location="before"
            widget="dxButton"
            locateInMenu="auto"
            [height]="25"
            [options]="searchButtonOptions">
  </dxi-item>


  <dxi-item location="after"
            widget="dxButton"
            locateInMenu="auto"
            [options]="addButtonOptions">
  </dxi-item>

  <dxi-item location="after"
            widget="dxButton"
            locateInMenu="auto"
            [options]="saveButtonOptions">
  </dxi-item>

</dx-toolbar>



<!--formdata-->
<div class="widget-container">
  <div *ngIf="labelMode === 'outside'">Select company:</div>
  <dx-select-box #company
                 displayExpr="orderNum"
                 [dataSource]="requestprocess"
                 label="Select company"
                 [labelMode]="getCompanySelectorLabelMode()"
                 [value]="requestprocess[0]"></dx-select-box>
  <dx-form id="form"
           [(formData)]="company.value"
           [readOnly]="readOnly"
           [labelMode]="labelMode"
           [showColonAfterLabel]="showColon"
           [labelLocation]="labelLocation"
           [minColWidth]="minColWidth"
           [colCount]="4"
           [width]="width"></dx-form>
</div>

<dx-toolbar style="height: 40px; " width="99%">

  <dxi-item location="after"
            widget="dxButton"
            locateInMenu="auto"
            [options]="addButtonOptions">

  </dxi-item>
  <dxi-item location="after"
            widget="dxButton"
            locateInMenu="auto"
            [options]="deleteButtonOptions">
  </dxi-item>

</dx-toolbar>


<dx-data-grid id="grid"
              [dataSource]="requestprocess"
              keyExpr="orderNum"
              [showBorders]="true"
              [focusedRowIndex]="0"
              [selection]="{ mode: 'multiple' }"
              height="calc(100vh - 230px)"
              [columnAutoWidth]="true"
              (onContentReady)="contentReady($event)"
              (onRowDblClick)="orderDBClick($event)"
              [allowColumnReordering]="true"
              columnResizingMode="widget">
  <dxo-scrolling columnRenderingMode="virtual"></dxo-scrolling>
  <dxo-paging [pageSize]="100"></dxo-paging>
  <dxo-header-filter [visible]="true" [allowSearch]="true"></dxo-header-filter>
  <dxo-paging [pageSize]="10"></dxo-paging>


  <!--Popup Option-->
  <dxo-editing mode="popup"
               [selectTextOnEditStart]="selectTextOnEditStart"
               [startEditAction]="startEditAction"
               refreshMode="repaint">
    <dxo-popup title="주문등록/수정"
               [showTitle]="true"
               width="50%"
               height="70%"
               [dragEnabled]="false"
               [showCloseButton]="false"
               container=".dx-viewport">
    </dxo-popup>

    <dxo-form>

      <dxi-item itemType="group" [colCount]="3" [colSpan]="2">
        <dxi-item dataField="a"><dxo-label text="주문번호"></dxo-label></dxi-item>
        <dxi-item dataField="a"><dxo-label text="주문처(산하)"></dxo-label></dxi-item>
        <dxi-item dataField="a"><dxo-label text="담보금액"></dxo-label></dxi-item>
        <dxi-item dataField="a"><dxo-label text="요청번호"></dxo-label></dxi-item>
        <dxi-item dataField="a"><dxo-label text="미수채권(비료+화공등)"></dxo-label></dxi-item>
      </dxi-item>

      <dxi-item itemType="group" [colCount]="3" [colSpan]="2">
        <dxi-item dataField="deliveryDate">
          <dxo-label text="납기일자"></dxo-label>
          <dx-date-box type="date"
                       pickerType="rollers"
                       displayFormat="yyyy-MM-dd"
                       [useMaskBehavior]="true"
                       [showClearButton]="true">
          </dx-date-box>
        </dxi-item>
        <dxi-item dataField="a">
          <dxo-label text="도착지"></dxo-label>
          <div *dxTemplate>
            <dx-select-box [items]="simpleProducts"></dx-select-box>
          </div>
        </dxi-item>
        <dxi-item dataField="a"><dxo-label text="주문처"></dxo-label></dxi-item>
        <dxi-item dataField="a">
          <dxo-label text="제품명"></dxo-label>
          <div *dxTemplate>
            <dx-select-box [items]="simpleProducts2"></dx-select-box>
          </div>
        </dxi-item>
        <dxi-item dataField="a"><dxo-label text="주문수량"></dxo-label></dxi-item>
        <dxi-item dataField="a">
          <dxo-label text="주문구분"></dxo-label>
          <div *dxTemplate>
            <dx-select-box [items]="simpleProducts3"></dx-select-box>
          </div>
        </dxi-item>
        <dxi-item dataField="a">
          <dxo-label text="용도구분"></dxo-label>
          <div *dxTemplate>
            <dx-select-box [items]="simpleProducts4"></dx-select-box>
          </div>
        </dxi-item>
        <dxi-item dataField="a">
          <dxo-label text="하차방법"></dxo-label>
          <div *dxTemplate>
            <dx-select-box [items]="simpleProducts5"></dx-select-box>
          </div>
        </dxi-item>
        <dxi-item dataField="a">
          <dxo-label text="운송방법"></dxo-label>
          <div *dxTemplate>
            <dx-select-box [items]="simpleProducts6"></dx-select-box>
          </div>
        </dxi-item>
        <dxi-item dataField="a" [colSpan]="2" [editorOptions]="{height:60}"><dxo-label text="특기사항"></dxo-label></dxi-item>
        <dxi-item dataField="a"><dxo-label text="예약물량"></dxo-label></dxi-item>
        <dxi-item dataField="a"><dxo-label text="출고물량"></dxo-label></dxi-item>
        <dxi-item dataField="a"><dxo-label text="운송사"></dxo-label></dxi-item>
        <dxi-item dataField="a"><dxo-label text="출고사업장"></dxo-label></dxi-item>
        <dxi-item dataField="a"><dxo-label text="실제운송사"></dxo-label></dxi-item>
        <dxi-item dataField="a"><dxo-label text="시행부서/문서번호"></dxo-label></dxi-item>
      </dxi-item>

      <dxi-item itemType="group"
                caption="농협검수항목관리"
                [colCount]="3"
                [colSpan]="2">
        <dxi-item dataField="a"><dxo-label text="농협명"></dxo-label></dxi-item>
        <dxi-item dataField="a"><dxo-label text="사업방식"></dxo-label></dxi-item>
        <dxi-item dataField="a"><dxo-label text="거래구분"></dxo-label></dxi-item>
        <dxi-item dataField="a"><dxo-label text="농협제품"></dxo-label></dxi-item>
        <dxi-item dataField="a"><dxo-label text="계통구분"></dxo-label></dxi-item>
        <dxi-item dataField="a"><dxo-label text="단가구분"></dxo-label></dxi-item>
        <dxi-item dataField="a"><dxo-label text="대분류"></dxo-label></dxi-item>
        <dxi-item dataField="a"><dxo-label text="세무구분"></dxo-label></dxi-item>
        <dxi-item dataField="a"><dxo-label text="인수도구분"></dxo-label></dxi-item>
      </dxi-item>

      <dxi-item itemType="group" [colCount]="2" [colSpan]="2">
        <dxi-item dataField="a"><dxo-label text="주문처 담보금액"></dxo-label></dxi-item>
        <dxi-item dataField="a"><dxo-label text="주문처 미수채권"></dxo-label></dxi-item>
      </dxi-item>
    </dxo-form>



  </dxo-editing>


  <!--Data column-->
  <dxi-column dataField="orderNum"
              caption="주문번호">
  </dxi-column>

  <dxi-column dataField="orderPlace"
              caption="주문처">
  </dxi-column>
  <dxi-column dataField="productName"
              caption="제품">
  </dxi-column>
  <dxi-column dataField="packing"
              caption="포장">
  </dxi-column>
  <dxi-column dataField="orderClass"
              caption="주문구분">
  </dxi-column>
  <dxi-column dataField="purpose"
              caption="용도">
  </dxi-column>
  <dxi-column dataField="destination"
              caption="도착지">
  </dxi-column>
  <dxi-column dataField="orderQuantity"
              caption="주문량">
  </dxi-column>

  <dxi-column dataField="orderPrice"
              caption="주문단가"
              format="currency"
              dataType="number">
    <dxo-header-filter [dataSource]="saleAmountHeaderFilter"></dxo-header-filter>
  </dxi-column>
  <dxi-column dataField="vehicle"
              caption="배차량">
  </dxi-column>
  <dxi-column dataField="released"
              caption="출고량">
  </dxi-column>
  <dxi-column dataField="numofVehicle"
              caption="차량댓수">
  </dxi-column>
  <dxi-column dataField="deliveryDate"
              caption="납기일자"
              dataType="date">
  </dxi-column>
  <dxi-column dataField="address"
              caption="출고지">
  </dxi-column>
  <dxi-column dataField="shipping"
              caption="운송사">
  </dxi-column>
  <dxi-column dataField="shipmentNum"
              caption="출하요청번호">
  </dxi-column>
  <dxi-column dataField="orderAccount"
              caption="주문등록계정">
  </dxi-column>

  <dxi-column dataField="orderDate"
              dataType="date"
              caption="주문일자">
  </dxi-column>
  <dxi-column dataField="shipment"
              caption="출하가능">
  </dxi-column>
  <dxi-column dataField="productClass"
              caption="제품구분">
  </dxi-column>
  <dxi-column dataField="note"
              caption="비고">
  </dxi-column>


</dx-data-grid>

<dx-popup title="주문등록/수정"
          [showTitle]="true"
          width="50%"
          height="70%"
          [(visible)]="popupVisible"
          [dragEnabled]="false"
          [showCloseButton]="false"
          container=".dx-viewport">
  <dxi-toolbar-item widget="dxButton"
                    toolbar="bottom"
                    location="after"
                    [options]="closeButtonOptions">
  </dxi-toolbar-item>
  <dx-scroll-view width="100%" height="100%">
    <div id="form-container">
      <dx-form id="requestprocess" [formData]="requestprocess">
        <dxi-item itemType="group" [colCount]="3" [colSpan]="2">
          <dxi-item dataField="a" [disabled]="true"><dxo-label text="주문번호"></dxo-label></dxi-item>
          <dxi-item dataField="a" [disabled]="true"><dxo-label text="주문처(산하)"></dxo-label></dxi-item>
          <dxi-item dataField="a" [disabled]="true"><dxo-label text="담보금액"></dxo-label></dxi-item>
          <dxi-item dataField="a" [disabled]="true"><dxo-label text="요청번호"></dxo-label></dxi-item>
          <dxi-item dataField="a" [disabled]="true"><dxo-label text="미수채권(비료+화공등)"></dxo-label></dxi-item>
        </dxi-item>

        <dxi-item itemType="group" [colCount]="3" [colSpan]="2">
          <dxi-item dataField="a" [disabled]="true"><dxo-label text="납기일자"></dxo-label></dxi-item>
          <dxi-item dataField="a" [disabled]="true"><dxo-label text="도착지"></dxo-label></dxi-item>
          <dxi-item dataField="a" [disabled]="true"><dxo-label text="주문처"></dxo-label></dxi-item>
          <dxi-item dataField="a" [disabled]="true"><dxo-label text="제품명"></dxo-label></dxi-item>
          <dxi-item dataField="a" [disabled]="true"><dxo-label text="주문수량"></dxo-label></dxi-item>
          <dxi-item dataField="a" [disabled]="true"><dxo-label text="주문구분"></dxo-label></dxi-item>
          <dxi-item dataField="a" [disabled]="true"><dxo-label text="용도구분"></dxo-label></dxi-item>
          <dxi-item dataField="a" [disabled]="true"><dxo-label text="하차방법"></dxo-label></dxi-item>
          <dxi-item dataField="a" [disabled]="true"><dxo-label text="운송방법"></dxo-label></dxi-item>
          <dxi-item dataField="a" [colSpan]="2" [editorOptions]="{height:60}" [disabled]="true"><dxo-label text="특기사항"></dxo-label></dxi-item>
          <dxi-item dataField="a" [disabled]="true"><dxo-label text="예약물량"></dxo-label></dxi-item>
          <dxi-item dataField="a" [disabled]="true"><dxo-label text="출고물량"></dxo-label></dxi-item>
          <dxi-item dataField="a" [disabled]="true"><dxo-label text="운송사"></dxo-label></dxi-item>
          <dxi-item dataField="a" [disabled]="true"><dxo-label text="출고사업장"></dxo-label></dxi-item>
          <dxi-item dataField="a" [disabled]="true"><dxo-label text="실제운송사"></dxo-label></dxi-item>
          <dxi-item dataField="a" [disabled]="true"><dxo-label text="시행부서/문서번호"></dxo-label></dxi-item>
        </dxi-item>

        <dxi-item itemType="group"
                  caption="농협검수항목관리"
                  [colCount]="3"
                  [colSpan]="2">
          <dxi-item dataField="a" [disabled]="true"><dxo-label text="농협명"></dxo-label></dxi-item>
          <dxi-item dataField="a" [disabled]="true"><dxo-label text="사업방식"></dxo-label></dxi-item>
          <dxi-item dataField="a" [disabled]="true"><dxo-label text="거래구분"></dxo-label></dxi-item>
          <dxi-item dataField="a" [disabled]="true"><dxo-label text="농협제품"></dxo-label></dxi-item>
          <dxi-item dataField="a" [disabled]="true"><dxo-label text="계통구분"></dxo-label></dxi-item>
          <dxi-item dataField="a" [disabled]="true"><dxo-label text="단가구분"></dxo-label></dxi-item>
          <dxi-item dataField="a" [disabled]="true"><dxo-label text="대분류"></dxo-label></dxi-item>
          <dxi-item dataField="a" [disabled]="true"><dxo-label text="세무구분"></dxo-label></dxi-item>
          <dxi-item dataField="a" [disabled]="true"><dxo-label text="인수도구분"></dxo-label></dxi-item>
        </dxi-item>

        <dxi-item itemType="group" [colCount]="2" [colSpan]="2">
          <dxi-item dataField="a" [disabled]="true"><dxo-label text="주문처 담보금액"></dxo-label></dxi-item>
          <dxi-item dataField="a" [disabled]="true"><dxo-label text="주문처 미수채권"></dxo-label></dxi-item>
        </dxi-item>
      </dx-form>
    </div>
  </dx-scroll-view>
</dx-popup>
