<!--고객주문처리(S/O)-->

<dx-toolbar style="margin:20px 0px 20px 0px" width="99%">
  <dxi-item location="before" locateInMenu="auto">
    <div *dxTemplate style="float: left; margin-left: 10px; ">
      <dx-select-box [dataSource]="data2"
                     displayExpr="name"
                     valueExpr="code"
                     [value]="selectData2"
                     label="구분"
                     labelMode="floating"
                     (onValueChanged)="onData2ValueChanged($event)"></dx-select-box>
    </div>
  </dxi-item>

  <dxi-item location="before">
    <div *dxTemplate>
      <div style="float: left; margin-left: 10px;">
        <dx-date-box [(value)]="startDate" label="생성일(From)" type="date" [width]="120" displayFormat="yyyy-MM-dd"></dx-date-box>
      </div>

      <div style="float: left; margin-left: 10px;">
        <dx-date-box [(value)]="endDate" label="생성일(to)" type="date" [width]="120" displayFormat="yyyy-MM-dd"></dx-date-box>
      </div>
    </div>
  </dxi-item>
  <dxi-item location="before">
    <div style="float: left; margin-left: 10px; ">
      <nh-possible-comm #sd007Entery1
                        [dataStoreKey]="dataStoreKey"
                        [codeInfo]="sd007Code1"
                        valueColumn="ZCM_CODE3"
                        valueDisplayFormat="%ZCMF01_CH%(%ZCM_CODE3%)"
                        placeholderText="주문구분"
                        label="주문구분"
                        [width]="200"
                        [showClearButton]="true"
                        [gridBoxWidth]="500"
                        (onDataLoaded)="onPEDataLoaded($event)"
                        class="weight-test"></nh-possible-comm>
    </div>
  </dxi-item>

  <dxi-item location="after">
    <div *dxTemplate>
      <dx-button text="주문생성" (onClick)="addOrder($event)">
      </dx-button>
    </div>
  </dxi-item>
  <dxi-item location="after"
            widget="dxButton"
            locateInMenu="auto"
            [height]="25"
            [options]="searchButtonOptions">
  </dxi-item>
  <!--<dxi-item location="after">
    <div *dxTemplate>
      <dx-button icon="save" (onClick)="saveOrder($event)">
      </dx-button>
    </div>
  </dxi-item>-->

</dx-toolbar>

<dx-toolbar style="margin:20px 0px 20px 0px" width="99%">
  <dxi-item location="before">
    <div style="float: left; margin-left: 10px; ">
      <nh-possible-table #maEntery
                         [dataStoreKey]="dataStoreKey"
                         [codeInfo]="maCode"
                         valueColumn="MATKL"
                         valueDisplayFormat="%WGBEZ%(%MATKL%)"
                         placeholderText="제품구분"
                         width="200"
                         label="제품구분"
                         [gridBoxWidth]="500"
                         (onDataLoaded)="onPEDataLoaded($event)"
                         [showClearButton]="true"
                         class="weight-test"></nh-possible-table>
    </div>
  </dxi-item>
  <dxi-item location="before">
    <div style="float: left; margin-left: 10px; ">
      <nh-possible-table #maktEntery
                         [dataStoreKey]="dataStoreKey"
                         [codeInfo]="maktCode"
                         valueColumn="MATNR"
                         valueDisplayFormat="%MAKTX%(%MATNR%)"
                         placeholderText="제품명"
                         label="제품명"
                         width="270"
                         [showClearButton]="true"
                         [gridBoxWidth]="500"
                         (onDataLoaded)="onPEDataLoaded($event)"
                         class="weight-test"></nh-possible-table>
    </div>
  </dxi-item>

  <dxi-item location="before">
    <div style="float: left; margin-left: 10px; ">
      <nh-possible-table [codeInfo]="kunnCode" #kunnrEntery3
                         [dataStoreKey]="dataStoreKey"
                         valueColumn="KUNNR"
                         valueDisplayFormat="%NAME1%(%KUNNR%)"
                         width="200"
                         placeholderText="주문처(산하)"
                         label="주문처(산하)"
                         [gridBoxWidth]="500"
                         [showClearButton]="true"
                         (onDataLoaded)="onPEDataLoaded($event)"></nh-possible-table>
    </div>
  </dxi-item>
  <!--<dxi-item location="after">
    <div *dxTemplate>
      <dx-button text="참조추가" (onClick)="refAddOrder($event)">
      </dx-button>
    </div>
  </dxi-item>-->
  <!--<dxi-item location="after"
            widget="dxButton"
            locateInMenu="auto"
            [options]="deleteButtonOptions">
  </dxi-item>-->

</dx-toolbar>


<dx-data-grid id="grid"
              [dataSource]="orderData"
              keyExpr="VBELN"
              [showBorders]="true"
              [focusedRowIndex]="0"
              [selection]="{ mode: 'single' }"
              height="calc(100vh - 230px)"
              [columnAutoWidth]="true"
              (onContentReady)="contentReady($event)"
              (onRowDblClick)="orderDBClick($event)"
              [allowColumnReordering]="true"
              columnResizingMode="widget"
              [loadPanel]="loadPanelOption"
              [allowColumnResizing]="true">
  <dxo-scrolling mode="infinite"></dxo-scrolling>
  <dxo-paging [enabled]="false"></dxo-paging>
  <dxo-header-filter [visible]="true" [allowSearch]="true"></dxo-header-filter>
  <dxo-paging [pageSize]="10"></dxo-paging>
  <dxo-filter-panel [visible]="true"></dxo-filter-panel>
  <dxo-filter-builder [customOperations]="customOperations"
                      [allowHierarchicalFields]="true">
  </dxo-filter-builder>
  <dxo-filter-row [visible]="true"></dxo-filter-row>


  <!--Data column-->
  <dxi-column dataField="VBELN"
              caption="주문번호">
  </dxi-column>

  <dxi-column dataField="ZEXIDNAME"
              caption="주문자">
  </dxi-column>
  <dxi-column dataField="MAKTX"
              caption="제품명">
  </dxi-column>
  <dxi-column dataField="ZZPACK_N"
              caption="포장">
  </dxi-column>
  <dxi-column dataField="AUART_N"
              caption="주문구분">
  </dxi-column>
  <dxi-column dataField="VKAUS_N"
              caption="용도">
  </dxi-column>
  <dxi-column dataField="KUNNR"
              caption="판매처">
  </dxi-column>
  <dxi-column dataField="KUNWE_N"
              caption="도착지">
  </dxi-column>
  <dxi-column dataField="KWMENG"
              caption="주문량">
  </dxi-column>

  <dxi-column dataField="NETPR"
              caption="주문단가"
              format="currency"
              dataType="number">
    <dxo-header-filter [dataSource]="saleAmountHeaderFilter"></dxo-header-filter>
  </dxi-column>
  <dxi-column dataField="GIQTY"
              caption="출고량">
  </dxi-column>
  <dxi-column dataField="VDATU"
              caption="출하요청일"
              format="yyyy-MM-dd"
              dataType="date">
  </dxi-column>
  <dxi-column dataField="LGORT"
              caption="출고지">
  </dxi-column>
  <dxi-column dataField="TDLNR_N"
              caption="운송사">
  </dxi-column>
  <dxi-column dataField="shipmentNum"
              caption="출하요청번호">
  </dxi-column>
  <dxi-column dataField="orderAccount"
              caption="주문등록계정">
  </dxi-column>

  <dxi-column dataField="ERDAT"
              dataType="date"
              caption="주문일자"
              format="yyyy-MM-dd">
  </dxi-column>
  <dxi-column dataField="DOLOG"
              caption="출하가능">
  </dxi-column>
  <dxi-column dataField="productClass"
              caption="제품구분">
  </dxi-column>
  <dxi-column dataField="TEXT"
              caption="비고">
  </dxi-column>


</dx-data-grid>

<dx-popup [title]="popupTitle"
          [showTitle]="true"
          width="80%"
          height="80%"
          [(visible)]="popupVisible"
          [dragEnabled]="false"
          [showCloseButton]="false"
          container=".dx-viewport">
  <dxi-toolbar-item widget="dxButton"
                    toolbar="top"
                    location="after"
                    [options]="saveButtonOptions"
                    [visible]="saveVisible">
  </dxi-toolbar-item>
  <dxi-toolbar-item location="after"
                    widget="dxButton"
                    locateInMenu="auto"

                    [options]="closeButtonOptions">
  </dxi-toolbar-item>
    <dx-scroll-view width="100%" height="100%">
      <div id="form-container">
        <dx-form id="popupForm" [formData]="popupData" [disabled]="editFlag">
          <dxi-item itemType="group" [colCount]="3" [colSpan]="2">
            <dxi-item dataField="VBELN" [disabled]="true"><dxo-label text="주문번호"></dxo-label></dxi-item>
            <dxi-item dataField="CREDIT_LIMIT" [disabled]="true"><dxo-label text="여신금액"></dxo-label></dxi-item>
            <dxi-item dataField="ARAMOUNT" [disabled]="true"><dxo-label text="미수채권"></dxo-label></dxi-item>
          </dxi-item>

          <dxi-item itemType="group" [colCount]="3" [colSpan]="2">
            <dxi-item dataField="AUART" [disabled]="false">
              <dxi-validation-rule type="required" message="주문구분필수입력"></dxi-validation-rule>
              <dxo-label text="주문구분"></dxo-label>
              <div *dxTemplate>
                <nh-possible-comm #sd007Entery2
                                  [dataStoreKey]="dataStoreKey"
                                  [codeInfo]="sd007Code2"
                                  valueColumn="ZCM_CODE3"
                                  valueDisplayFormat="%ZCMF01_CH%(%ZCM_CODE3%)"
                                  width="auto"
                                  [showClearButton]="true"
                                  [(selectedValue)]="auartValue"
                                  [gridBoxWidth]="500"
                                  class="weight-test"
                                  (onDataLoaded)="onPEDataLoaded($event)"
                                  [showDataLoadingPanel]="showDataLoadingPanel"
                                  (onEntryValueChanged)="onAuartCodeValueChanged($event)"></nh-possible-comm>
              </div>
            </dxi-item>

            <dxi-item dataField="MATNR" [disabled]="false">
              <dxi-validation-rule type="required" message="제품명필수입력"></dxi-validation-rule>
              <dxo-label text="제품명"></dxo-label>
              <div *dxTemplate>
                <nh-possible-table #maktEntery2
                                   [dataStoreKey]="dataStoreKey"
                                   [codeInfo]="maktCode2"
                                   valueColumn="MATNR"
                                   valueDisplayFormat="%MAKTX%(%MATNR%)"
                                   width="auto"
                                   [(selectedValue)]="maktValue"
                                   [gridBoxWidth]="500"
                                   class="weight-test"
                                   [showClearButton]="true"
                                   (onDataLoaded)="onPEDataLoaded($event)"
                                   [showDataLoadingPanel]="showDataLoadingPanel"
                                   (onEntryValueChanged)="onMatnrCodeValueChanged($event)"></nh-possible-table>
              </div>
            </dxi-item>
            <dxi-item dataField="KUNNR" [disabled]="false">
              <dxi-validation-rule type="required" message="주문처필수입력"></dxi-validation-rule>
              <dxo-label text="주문처"></dxo-label>
              <div *dxTemplate>
                <!--<nh-possible-comm [codeInfo]="kunnCode2" #kunnrEntery
          [dataStoreKey]="dataStoreKey"
          valueColumn="ZCMF01_CH"
          valueDisplayFormat="%ZCMF02_CH%(%ZCMF01_CH%)"
          width="auto"
          [gridBoxWidth]="500"
          [showClearButton]="true"
          [(selectedValue)]="kunnrValue2"
          (onDataLoaded)="onPEDataLoaded($event)"
          [showDataLoadingPanel]="showDataLoadingPanel"
          (onEntryValueChanged)="onKunnrCodeValueChanged($event)"></nh-possible-comm>-->
                <nh-possible-table [codeInfo]="kunnCode2" #kunnrEntery
                                   [dataStoreKey]="dataStoreKey"
                                   valueColumn="KUNNR"
                                   valueDisplayFormat="%NAME1%(%KUNNR%)"
                                   width="auto"
                                   [gridBoxWidth]="500"
                                   [showClearButton]="true"
                                   [(selectedValue)]="kunnrValue2"
                                   (onDataLoaded)="onPEDataLoaded($event)"
                                   [showDataLoadingPanel]="showDataLoadingPanel"
                                   (onEntryValueChanged)="onKunnrCodeValueChanged($event)"></nh-possible-table>
              </div>
            </dxi-item>
            <dxi-item dataField="VDATU" [disabled]="false" editorType="dxDateBox" [editorOptions]="{ displayFormat: 'yyyy-MM-dd', type: 'date', showClearButton : true , useMaskBehavior : true}">
              <dxi-validation-rule type="required" message="출하요청일필수입력"></dxi-validation-rule>
              <dxo-label text="출하요청일"></dxo-label>
            </dxi-item>

            <dxi-item dataField="KUNWE" [disabled]="false">
              <dxi-validation-rule type="required" message="도착지필수입력"></dxi-validation-rule>
              <dxo-label text="도착지"></dxo-label>
              <div *dxTemplate>
                <nh-possible-table [codeInfo]="kunnCode" #kunnEntery
                                   [dataStoreKey]="dataStoreKey"
                                   valueColumn="KUNNR"
                                   valueDisplayFormat="%NAME1%(%KUNNR%)"
                                   width="auto"
                                   valueExpr="KUNWE"
                                   [gridBoxWidth]="500"
                                   [showClearButton]="true"
                                   [(selectedValue)]="kunnrValue"
                                   (onDataLoaded)="onPEDataLoaded($event)"
                                   [showDataLoadingPanel]="showDataLoadingPanel"
                                   (onEntryValueChanged)="onKunweCodeValueChanged($event)"></nh-possible-table>
              </div>
            </dxi-item>
            <dxi-item dataField="LGORT" [disabled]="false">
              <dxi-validation-rule type="required" message="출고사업장필수입력"></dxi-validation-rule>
              <dxo-label text="출고사업장"></dxo-label>
              <div *dxTemplate>
                <nh-possible-comm #t001Entery
                                  [dataStoreKey]="dataStoreKey"
                                  [codeInfo]="t001Code"
                                  valueColumn="ZCM_CODE3"
                                  valueDisplayFormat="%ZCMF01_CH%(%ZCM_CODE3%)"
                                  width="auto"
                                  [showClearButton]="true"
                                  [(selectedValue)]="lgortValue"
                                  [gridBoxWidth]="500"
                                  class="weight-test"
                                  (onDataLoaded)="onPEDataLoaded($event)"
                                  [showDataLoadingPanel]="showDataLoadingPanel"
                                  (onEntryValueChanged)="onLgortCodeValueChanged($event)"></nh-possible-comm>
              </div>
            </dxi-item>


            <dxi-item dataField="AVAILQTY" [disabled]="true" editorType="dxNumberBox" [editorOptions]="{ format : '#,##0'}">
              <dxo-label text="주문가능량"></dxo-label>
            </dxi-item>
            <dxi-item dataField="KWMENG" [disabled]="auartFlag2" editorType="dxNumberBox" [editorOptions]="{ format : '#,##0'}">
              <dxi-validation-rule type="required" message="주문수량필수입력"></dxi-validation-rule>
              <dxo-label text="주문수량"></dxo-label>
            </dxi-item>




            <dxi-item dataField="VKAUS" [disabled]="false">
              <dxi-validation-rule type="required" message="용도구분필수입력"></dxi-validation-rule>
              <dxo-label text="용도구분"></dxo-label>
              <div *dxTemplate>
                <nh-possible-table #tvlvEntery
                                   [dataStoreKey]="dataStoreKey"
                                   [codeInfo]="tvlvCode"
                                   valueColumn="DOMVALUE_L"
                                   valueDisplayFormat="%DDTEXT%(%DOMVALUE_L%)"
                                   width="auto"
                                   [(selectedValue)]="vkausValue"
                                   [gridBoxWidth]="500"
                                   class="weight-test"
                                   (onDataLoaded)="onPEDataLoaded($event)"
                                   [showDataLoadingPanel]="showDataLoadingPanel"
                                   (onEntryValueChanged)="onTvlvCodeValueChanged($event)"></nh-possible-table>
              </div>
            </dxi-item>

            <dxi-item dataField="ZUNLOAD" [disabled]="false">
              <dxo-label text="하차방법"></dxo-label>
              <div *dxTemplate>
                <nh-possible-table #dd07tEntery
                                   [dataStoreKey]="dataStoreKey"
                                   [codeInfo]="dd07tCode"
                                   valueColumn="DOMVALUE_L"
                                   valueDisplayFormat="%DDTEXT%(%DOMVALUE_L%)"
                                   width="auto"
                                   [showClearButton]="true"
                                   [(selectedValue)]="zunloadValue"
                                   [gridBoxWidth]="500"
                                   class="weight-test"
                                   (onDataLoaded)="onPEDataLoaded($event)"
                                   [showDataLoadingPanel]="showDataLoadingPanel"
                                   (onEntryValueChanged)="onZunloadCodeValueChanged($event)"></nh-possible-table>
              </div>
            </dxi-item>
            <dxi-item dataField="INCO1" [disabled]="false">
              <dxo-label text="운송방법"></dxo-label>
              <div *dxTemplate>
                <nh-possible-comm [codeInfo]="inco1Code" #incoEntery
                                  [dataStoreKey]="dataStoreKey"
                                  valueColumn="ZCM_CODE3"
                                  valueDisplayFormat="%ZCMF01_CH%(%ZCM_CODE3%)"
                                  width="auto"
                                  [showClearButton]="true"
                                  [(selectedValue)]="incoValue"
                                  [gridBoxWidth]="500"
                                  [filerExpression]="incoFilter"
                                  (onDataLoaded)="onPEDataLoaded($event)"
                                  [showDataLoadingPanel]="showDataLoadingPanel"
                                  (onEntryValueChanged)="onIncoCodeValueChanged($event)"></nh-possible-comm>
              </div>
            </dxi-item>
            <dxi-item dataField="TEXT" [colSpan]="2" [editorOptions]="{height:60}" [disabled]="false"><dxo-label text="특기사항"></dxo-label></dxi-item>

            <dxi-item dataField="REVQTY" [disabled]="true"><dxo-label text="예약물량"></dxo-label></dxi-item>
            <dxi-item dataField="GIQTY" [disabled]="true"><dxo-label text="출고물량"></dxo-label></dxi-item>
            <dxi-item dataField="TDLNR" [disabled]="false">
              <dxo-label text="운송사"></dxo-label>
              <div *dxTemplate>
                <nh-possible-comm [codeInfo]="tdlnrCode" #tdlnrEntery
                                  [dataStoreKey]="dataStoreKey"
                                  valueColumn="LIFNR"
                                  valueDisplayFormat="%NAME1%(%LIFNR%)"
                                  width="auto"
                                  label="운송사"
                                  labelMode="floating"
                                  [showClearButton]="true"
                                  [(selectedValue)]="tdlnrValue"
                                  [gridBoxWidth]="500"
                                  (onDataLoaded)="onPEDataLoaded($event)"
                                  (onEntryValueChanged)="onTdlnrCodeValueChanged($event)"></nh-possible-comm>
              </div>
            </dxi-item>
            <dxi-item dataField="TDLNR2" [disabled]="false">
              <dxo-label text="실제운송사"></dxo-label>
              <div *dxTemplate>
                <nh-possible-comm [codeInfo]="tdlnr2Code" #tdlnr2Entery
                                  [dataStoreKey]="dataStoreKey"
                                  valueColumn="LIFNR"
                                  valueDisplayFormat="%NAME1%(%LIFNR%)"
                                  width="auto"
                                  label="운송사"
                                  labelMode="floating"
                                  [showClearButton]="true"
                                  [(selectedValue)]="tdlnr2Value"
                                  [gridBoxWidth]="500"
                                  (onDataLoaded)="onPEDataLoaded($event)"
                                  (onEntryValueChanged)="onTdlnr2CodeValueChanged($event)"></nh-possible-comm>
              </div>
            </dxi-item>
            <dxi-item dataField="ZCARTYPE" [disabled]="false">
              <dxo-label text="화물차종"></dxo-label>
              <div *dxTemplate>
                <nh-possible-table #dd07tCarEntery
                                   [dataStoreKey]="dataStoreKey"
                                   [codeInfo]="dd07tCarCode"
                                   valueColumn="DOMVALUE_L"
                                   [showClearButton]="true"
                                   valueDisplayFormat="%DDTEXT%(%DOMVALUE_L%)"
                                   width="auto"
                                   [(selectedValue)]="zcarValue"
                                   [gridBoxWidth]="500"
                                   class="weight-test"
                                   (onDataLoaded)="onPEDataLoaded($event)"
                                   [showDataLoadingPanel]="showDataLoadingPanel"
                                   (onEntryValueChanged)="onZcartypeCodeValueChanged($event)"></nh-possible-table>
              </div>
            </dxi-item>
            <dxi-item dataField="ZCARNO" [disabled]="false">
              <dxo-label text="차량번호"></dxo-label>
              <!--<div *dxTemplate>
                <nh-possible-table #zcarnoModiCodeEntery
                                   [dataStoreKey]="dataStoreKey"
                                   [codeInfo]="zcarnoModiCode"
                                   valueColumn="ZCARNO"
                                   [showClearButton]="true"
                                   valueDisplayFormat="%ZCARNO%"
                                   width="auto"
                                   [(selectedValue)]="zcarnoModiValue"
                                   [gridBoxWidth]="500"
                                   class="weight-test"
                                   (onDataLoaded)="onPEDataLoaded($event)"
                                   [showDataLoadingPanel]="showDataLoadingPanel"
                                   (onEntryValueChanged)="onZcarno1CodeValueChanged($event)"></nh-possible-table>
              </div>-->
            </dxi-item>
            <dxi-item dataField="ZDRIVER" [disabled]="false"><dxo-label text="운전기사명"></dxo-label></dxi-item>
            <dxi-item dataField="ZPHONE" [disabled]="false"><dxo-label text="전화번호"></dxo-label></dxi-item>
          </dxi-item>
        </dx-form>

        <dx-form id="popupForm" [formData]="popupData" [disabled]="autruDisabled"    style="margin-top:10px; margin-left:5px">
          <dxi-item itemType="group"
                    [colCount]="3"
                    [colSpan]="2"
                 >

            <dxi-item dataField="AUGRU">
              <dxo-label text="오더사유"></dxo-label>
              <div *dxTemplate>
                <nh-possible-table #augruEntery
                                   [dataStoreKey]="dataStoreKey"
                                   [codeInfo]="augruCode"
                                   valueColumn="AUGRU"
                                   valueDisplayFormat="%AUGRU%"
                                   width="auto"
                                   [(selectedValue)]="augruValue"
                                   [gridBoxWidth]="500"
                                   class="weight-test"
                                   [showClearButton]="true"
                                   (onDataLoaded)="onPEDataLoaded($event)"
                                   [showDataLoadingPanel]="showDataLoadingPanel"
                                   (onEntryValueChanged)="onAugruCodeValueChanged($event)"></nh-possible-table>
              </div>
            </dxi-item>
          </dxi-item>
        </dx-form>




        <dx-form id="popupForm" [formData]="popupData" [visible]="nh" style="margin-top:10px;">
          <dxi-item itemType="group"
                    caption="농협검수항목관리"
                    [colCount]="3"
                    [colSpan]="2"
                   >
            <dxi-item dataField="ZNHNAME" [disabled]="true"><dxo-label text="농협명"></dxo-label></dxi-item>
            <dxi-item dataField="MVGR2_N" [disabled]="false">
              <dxo-label text="사업방식"></dxo-label>
              <div *dxTemplate>
                <nh-possible-table #mvgr2Entery
                                   [dataStoreKey]="dataStoreKey"
                                   [codeInfo]="mvgr2Code"
                                   valueColumn="MVGR2"
                                   valueDisplayFormat="%BEZEI%(%MVGR2%)"
                                   width="auto"
                                   [(selectedValue)]="mvgr2Value"
                                   [gridBoxWidth]="500"
                                   class="weight-test"
                                   [showClearButton]="true"
                                   (onDataLoaded)="onPEDataLoaded($event)"
                                   [showDataLoadingPanel]="showDataLoadingPanel"
                                   (onEntryValueChanged)="onMvgr2CodeValueChanged($event)"></nh-possible-table>
              </div>
            </dxi-item>
            <dxi-item dataField="MAKTX_NH" [disabled]="true"><dxo-label text="농협제품"></dxo-label></dxi-item>
            <dxi-item dataField="MVGR3_N" [disabled]="false">
              <dxo-label text="계통구분"></dxo-label>
              <div *dxTemplate>
                <nh-possible-table #mvgr3Entery
                                   [dataStoreKey]="dataStoreKey"
                                   [codeInfo]="mvgr3Code"
                                   valueColumn="MVGR3"
                                   valueDisplayFormat="%BEZEI%(%MVGR3%)"
                                   width="auto"
                                   [(selectedValue)]="mvgr3Value"
                                   [gridBoxWidth]="500"
                                   class="weight-test"
                                   [showClearButton]="true"
                                   (onDataLoaded)="onPEDataLoaded($event)"
                                   [showDataLoadingPanel]="showDataLoadingPanel"
                                   (onEntryValueChanged)="onMvgr3CodeValueChanged($event)"></nh-possible-table>
              </div>
            </dxi-item>
            <dxi-item dataField="MVGR1_N" [disabled]="false">
              <dxo-label text="대분류"></dxo-label>
              <div *dxTemplate>
                <nh-possible-table #mvgr1Entery
                                   [dataStoreKey]="dataStoreKey"
                                   [codeInfo]="mvgr1Code"
                                   valueColumn="MVGR1"
                                   valueDisplayFormat="%BEZEI%(%MVGR1%)"
                                   width="auto"
                                   [(selectedValue)]="mvgr1Value"
                                   [gridBoxWidth]="500"
                                   class="weight-test"
                                   [showClearButton]="true"
                                   (onDataLoaded)="onPEDataLoaded($event)"
                                   [showDataLoadingPanel]="showDataLoadingPanel"
                                   (onEntryValueChanged)="onMvgr1CodeValueChanged($event)"></nh-possible-table>
              </div>
            </dxi-item>
            <dxi-item dataField="TAXK1" [disabled]="false">
              <dxo-label text="세무구분"></dxo-label>
              <dx-select-box [dataSource]="taxkData"
                             displayExpr="Name"
                             valueExpr="ID"
                             [value]="products[1].ID"
                             (onValueChanged)="onValueChanged($event)">
              </dx-select-box>
            </dxi-item>
            <dxi-item dataField="INCO1" [disabled]="true"><dxo-label text="인수도구분"></dxo-label></dxi-item>
          </dxi-item>

          <!--<dxi-item itemType="group" [colCount]="2" [colSpan]="2">
            <dxi-item dataField="temp3" [disabled]="true"><dxo-label text="주문처 담보금액"></dxo-label></dxi-item>
            <dxi-item dataField="temp4" [disabled]="true"><dxo-label text="주문처 미수채권"></dxo-label></dxi-item>
          </dxi-item>-->
        </dx-form>
      </div>
    </dx-scroll-view>
</dx-popup>

<dx-load-panel #loadPanel [position]="{ of: '#pageContent' }" shadingColor="rgba(0,0,0,0.4)" [(visible)]="loadingVisible" [showIndicator]="true" [showPane]="true"
               [shading]="true" [hideOnOutsideClick]="true">
</dx-load-panel>

<dx-load-panel #popLoadPanel [position]="{ of: '.dx-viewport' }" shadingColor="rgba(0,0,0,0.4)" [(visible)]="loadingVisible2" [showIndicator]="true" [showPane]="true"
               [shading]="true" [hideOnOutsideClick]="true">
</dx-load-panel>
