  <!--toolbar-->
<dx-toolbar style="height: 40px; margin-top: 5px;">

  <dxi-item location="after"
            widget="dxButton"
            locateInMenu="auto"
            style="width: auto;
              margin-left: 5px;
              margin-right: 5px;">
    <dx-button stylingMode="contained"
               text="등록"
               type="normal">
    </dx-button>
  </dxi-item>

  <dxi-item location="after"
            widget="dxButton"
            locateInMenu="auto"
            style="width: auto;
              margin-left: 5px;
              margin-right: 5px;">
    <dx-button stylingMode="contained"
               text="목록"
               type="normal">
    </dx-button>
  </dxi-item>
</dx-toolbar>

<dx-form id="form"
         [formData]="vocList"
         width="80%"
         style="margin-left:180px">

  <dxi-item location="before">
    <div class="label"><b>VOC기본정보</b></div>
  </dxi-item>

  <dxi-item itemType="group" [colCount]="5" [colSpan]="2" style="margin-top:5px">
    <dxi-item dataField="PLANT" [label]="{text: '사업장'}" [editorOptions]="{ height: 30 }">
      <nh-possible-comm #siteEntery
                        dataStoreKey=""
                        label="사업장"
                        [validationErrors]="[{type:'required', message:'사업장을 선택 하십시오.'}]"
                        [(selectedValue)]="selSite"
                        class="weight-test">
        <nbp-validator [adapter]="siteAdapter">
          <dxi-validation-rule type="required"></dxi-validation-rule>
        </nbp-validator>
      </nh-possible-comm>
    </dxi-item>
    <dxi-item dataField="BUSINESS" [label]="{text: '사업부'}" [editorOptions]="{ height: 30 }">
      <nh-possible-comm #bunitEntery
                        dataStoreKey=""
                        label="사업부"
                        [validationErrors]="[{type:'required', message:'사업부를 선택 하십시오.'}]"
                        [(selectedValue)]="selBunit"
                        class="weight-test">
        <nbp-validator [adapter]="bunitAdapter">
          <dxi-validation-rule type="required"></dxi-validation-rule>
        </nbp-validator>
      </nh-possible-comm>
    </dxi-item>
    <dxi-item dataField="CUSTOMER" [label]="{text: '고객'}" [editorOptions]="{ height: 30 }">
      <dxi-validation-rule type="required"></dxi-validation-rule>
    </dxi-item>
  </dxi-item>

  <dxi-item itemType="group" [colCount]="5" [colSpan]="2" style="margin-top:5px">
    <dxi-item dataField="CUST_TYPE" [label]="{text: '고객유형'}" [editorOptions]="{ height: 30 }">
      <nh-possible-comm #cystmerTypeEntery
                        dataStoreKey=""
                        label="고객유형"
                        [validationErrors]="[{type:'required', message:'고객유형을 선택 하십시오.'}]"
                        [(selectedValue)]="selCystmerType"
                        class="weight-test">
        <nbp-validator [adapter]="cystmerTypeAdapter">
          <dxi-validation-rule type="required"></dxi-validation-rule>
        </nbp-validator>
      </nh-possible-comm>
    </dxi-item>
    <dxi-item dataField="AREA" [label]="{text: '지역'}" [editorOptions]="{ height: 30 }">
      <nh-possible-comm #areaEntery
                        dataStoreKey=""
                        label="지역"
                        [validationErrors]="[{type:'required', message:'지역을 선택 하십시오.'}]"
                        [(selectedValue)]="selArea"
                        class="weight-test">
        <nbp-validator [adapter]="areaAdapter">
          <dxi-validation-rule type="required"></dxi-validation-rule>
        </nbp-validator>
      </nh-possible-comm>
      </dxi-item>
      <dxi-item>
      <nh-possible-comm #domesticEntery
                        dataStoreKey=""
                        label="select"
                        [validationErrors]="[{type:'required', message:'지역을 선택 하십시오.'}]"
                        [(selectedValue)]="selDomestic"
                        class="weight-test">
        <nbp-validator [adapter]="domesticAdapter">
          <dxi-validation-rule type="required"></dxi-validation-rule>
        </nbp-validator>
      </nh-possible-comm>
    </dxi-item>
    <dxi-item dataField="CUAREA_DETAILSTOMER" [label]="{text: '상세지역'}" [editorOptions]="{ height: 30 }">
      <dxi-validation-rule type="required"></dxi-validation-rule>
    </dxi-item>
  </dxi-item>

  <dxi-item itemType="group" [colCount]="5" [colSpan]="2" style="margin-top:5px">
    <dxi-item dataField="CULTURE_TYPE" [label]="{text: '재배형태'}" [editorOptions]="{ height: 30 }">
      <nh-possible-comm #culytivateTypeEntery
                        dataStoreKey=""
                        label="재배형태"
                        [validationErrors]="[{type:'required', message:'재배형태를 선택 하십시오.'}]"
                        [(selectedValue)]="selCulytivateType"
                        class="weight-test">
        <nbp-validator [adapter]="culytivateTypeAdapter">
          <dxi-validation-rule type="required"></dxi-validation-rule>
        </nbp-validator>
      </nh-possible-comm>
    </dxi-item>
    <dxi-item dataField="PARTNM" [label]="{text: '제품명'}" [editorOptions]="{ height: 30 }">
      <dxi-validation-rule type="required"></dxi-validation-rule>
    </dxi-item>
    <dxi-item dataField="PARTNM" [editorOptions]="{ height: 30 }">
      <dxo-label text="제품명" [visible]="false"></dxo-label>
      <nh-possible-comm #partnmQtyUnitEntery
                        dataStoreKey=""
                        [validationErrors]="[{type:'required', message:'제품명을 선택 하십시오.'}]"
                        [(selectedValue)]="selPartnmQtyUnit"
                        class="weight-test">
        <nbp-validator [adapter]="partnmQtyAdapter">
          <dxi-validation-rule type="required"></dxi-validation-rule>
        </nbp-validator>
      </nh-possible-comm>
    </dxi-item>
    <dxi-item dataField="ERROR_CNT" [label]="{text: '불량수량'}" [editorOptions]="{ height: 30 }">
      <dxi-validation-rule type="required"></dxi-validation-rule>
    </dxi-item>
    <dxi-item dataField="ERROR_CNT" [editorOptions]="{ height: 30 }">
      <dxo-label text="단위" [visible]="false"></dxo-label>
      <nh-possible-comm #rejectQtyUnitEntery
                        dataStoreKey=""
                        [validationErrors]="[{type:'required', message:'불량수량 단위를 선택 하십시오.'}]"
                        [(selectedValue)]="selRejectQtyUnit"
                        class="weight-test">
        <nbp-validator [adapter]="rejectQtyUnitAdapter">
          <dxi-validation-rule type="required"></dxi-validation-rule>
        </nbp-validator>
      </nh-possible-comm>
    </dxi-item>
  </dxi-item>
  
  <dxi-item itemType="group" [colCount]="5" [colSpan]="2" style="margin-top:5px">
    <dxi-item dataField="PARTGUN" [label]="{text: '제품군'}" [editorOptions]="{ height: 30 }">
      <nh-possible-comm #productGroupEntery
                        dataStoreKey=""
                        label="제품군"
                        [validationErrors]="[{type:'required', message:'제품군을 선택 하십시오.'}]"
                        [(selectedValue)]="selProductGroup"
                        class="weight-test">
        <nbp-validator [adapter]="productGroupAdapter">
          <dxi-validation-rule type="required"></dxi-validation-rule>
        </nbp-validator>
      </nh-possible-comm>
    </dxi-item>
    <dxi-item dataField="DEPARTMENT" [label]="{text: '소속부서'}" [editorOptions]="{ height: 30 }">
      <dxi-validation-rule type="required"></dxi-validation-rule>
    </dxi-item>
    <dxi-item dataField="REGISTER" [label]="{text: '등록자'}" [editorOptions]="{ height: 30 }">
      <dxi-validation-rule type="required"></dxi-validation-rule>
    </dxi-item>
  </dxi-item>

  <dxi-item itemType="group" [colCount]="5" [colSpan]="2" style="margin-top:5px">
    <dxi-item dataField="REGIST_DT" [label]="{text: '등록일자'}" [editorOptions]="{ height: 30 }">
      <dx-date-box [(value)]="startDate" type="date" displayFormat="yyyy-MM-dd"></dx-date-box>
      <dxi-validation-rule type="required"></dxi-validation-rule>
    </dxi-item>
    <dxi-item dataField="LOTNO" [label]="{text: '로트넘버'}" [editorOptions]="{ height: 30 }">
    </dxi-item>
    <dxi-item dataField="PRODUCE_DT" [label]="{text: '생산일자'}" [editorOptions]="{ height: 30 }">
      <dx-date-box [(value)]="startDate" type="date" displayFormat="yyyy-MM-dd"></dx-date-box>
    </dxi-item>
  </dxi-item>

  <dxi-item itemType="group" [colCount]="5" [colSpan]="2" style="margin-top:5px">
    <dxi-item dataField="PURCHASE_DT" [label]="{text: '구매일자'}" [editorOptions]="{ height: 30 }">
      <dx-date-box [(value)]="startDate" type="date" displayFormat="yyyy-MM-dd"></dx-date-box>
    </dxi-item>
    <dxi-item dataField="COMPLAIN_TYPE" [label]="{text: '민원종류'}" [editorOptions]="{ height: 30 }">
      <nh-possible-comm #vocTypeEntery
                        dataStoreKey=""
                        label="민원종류"
                        [validationErrors]="[{type:'required', message:'민원종류를 선택 하십시오.'}]"
                        [(selectedValue)]="selVocType"
                        class="weight-test">
        <nbp-validator [adapter]="vocTypeAdapter">
          <dxi-validation-rule type="required"></dxi-validation-rule>
        </nbp-validator>
      </nh-possible-comm>
    </dxi-item>
    <dxi-item dataField="COMPLAIN_CAUSE" [label]="{text: '민원원인'}" [editorOptions]="{ height: 30 }">
      <nh-possible-comm #vocCauseEntery
                        dataStoreKey=""
                        label="민원원인"
                        [validationErrors]="[{type:'required', message:'민원원인을 선택 하십시오.'}]"
                        [(selectedValue)]="selVocCause"
                        class="weight-test">
        <nbp-validator [adapter]="vocCauseAdapter">
          <dxi-validation-rule type="required"></dxi-validation-rule>
        </nbp-validator>
      </nh-possible-comm>
    </dxi-item>
  </dxi-item>

  <dxi-item itemType="group" [colCount]="5" [colSpan]="2" style="margin-top:5px">
    <dxi-item dataField="CROPS" [label]="{text: '사용작물'}" [editorOptions]="{ height: 30 }">
    </dxi-item>
    <dxi-item dataField="AMOUNT" [label]="{text: '시비량'}" [editorOptions]="{ height: 30 }">
      <dxi-validation-rule type="required"></dxi-validation-rule>
    </dxi-item>
    <dxi-item dataField="AMOUNT" [editorOptions]="{ height: 30 }">
      <dxo-label text="단위" [visible]="false"></dxo-label>
      <nh-possible-comm #manureQtyUnitEntery
                        dataStoreKey=""
                        [validationErrors]="[{type:'required', message:'시비량단위를 입력 하십시오.'}]"
                        [(selectedValue)]="selManureQtyUnit"
                        class="weight-test">
        <nbp-validator [adapter]="manureQtyAdapter">
          <dxi-validation-rule type="required"></dxi-validation-rule>
        </nbp-validator>
      </nh-possible-comm>
    </dxi-item>
    <dxi-item dataField="DUE_DT" [label]="{text: '완료일시'}" [editorOptions]="{ height: 30 }">
      <dx-date-box [(value)]="now" type="date" displayFormat="yyyy-MM-dd / HH:mm:ss"></dx-date-box>
      <dxi-validation-rule type="required"></dxi-validation-rule>
    </dxi-item>
  </dxi-item>

  <dxi-item itemType="group" [colCount]="5" [colSpan]="2" style="margin-top:5px">
    <dxi-item dataField="MONTH" [label]="{text: '사용개월'}" [editorOptions]="{ height: 30 }">
    </dxi-item>
    <dxi-item dataField="PRODPLANT" [label]="{text: '생산공장'}" [editorOptions]="{ height: 30 }">
      <nh-possible-comm #factoryEntery
                        dataStoreKey=""
                        label="생산공장"
                        [validationErrors]="[{type:'required', message:'생산공장을 입력 하십시오.'}]"
                        [(selectedValue)]="selFactory"
                        class="weight-test">
        <nbp-validator [adapter]="factoryAdapter">
          <dxi-validation-rule type="required"></dxi-validation-rule>
        </nbp-validator>
      </nh-possible-comm>
    </dxi-item>
    <dxi-item dataField="MIDCHARGER" [label]="{text: '지시담당'}" [editorOptions]="{ height: 30 }">
      <dxi-validation-rule type="required"></dxi-validation-rule>
    </dxi-item>
    <dxi-item dataField="MIDCHARGER" [editorOptions]="{ height: 30 }">
      <dxo-label text="담당자" [visible]="false"></dxo-label>
      <nh-possible-comm #inChargesCodeEntery
                        dataStoreKey=""
                        [validationErrors]="[{type:'required', message:'담당자를 입력 하십시오.'}]"
                        [(selectedValue)]="selInChargePerson"
                        class="weight-test">
        <nbp-validator [adapter]="inChargePersonAdapter">
          <dxi-validation-rule type="required"></dxi-validation-rule>
        </nbp-validator>
      </nh-possible-comm>
    </dxi-item>
  </dxi-item>

  <dxi-item itemType="group" [colCount]="2" [colSpan]="2">
    <dxi-item dataField="ACTCONT" [label]="{text: '조치내용'}" [editorOptions]="{ height: 60 }" [colSpan]="2">
      <dxi-validation-rule type="required"></dxi-validation-rule>
    </dxi-item>
  </dxi-item>

  <dxi-item itemType="group" [colCount]="2" [colSpan]="2">
    <dxi-item dataField="REMARKS" [label]="{text: '특기사항'}" [editorOptions]="{ height: 60 }" [colSpan]="2">
    </dxi-item>
  </dxi-item>

  <dxi-item location="before">
    <div class="label"><b>고객불만현상이미지 첨부</b></div>
  </dxi-item>

  <dxi-item itemType="group" [colCount]="8" [colSpan]="2">
    <dxi-item location="before">
      <dx-file-uploader selectButtonText="파일등록"
                        labelText=""
                        id="dx-fileuploader"
                        class="dx-fileuploader"
                        accept="image/*"
                        width="150px"
                        style="padding:0px;"
                        uploadMode="useForm">
      </dx-file-uploader>
    </dxi-item>
    <dxi-item style="margin-top:18px" dataField="" [colSpan]="7">
      <dx-text-box>
      </dx-text-box>
    </dxi-item>
  </dxi-item>

  <dxi-item location="before">
    <div class="label"><b>민원발생 보고</b></div>
  </dxi-item>

  <dxi-item itemType="group" [colCount]="2" [colSpan]="2">
    <dxi-item dataField="" [colSpan]="2" [editorOptions]="{ height: 60 }">
    </dxi-item>
  </dxi-item>

  <dxi-item location="before">
    <div class="label"><b>공문 첨부 파일(파일명을 문서명으로)</b></div>
  </dxi-item>

  <dxi-item itemType="group" [colCount]="8" [colSpan]="2">
    <dxi-item location="before">
      <dx-file-uploader selectButtonText="등록파일정보"
                        labelText=""
                        id="dx-fileuploader"
                        class="dx-fileuploader"
                        accept="image/*"
                        width="150px"
                        style="padding:0px;"
                        uploadMode="useForm">
      </dx-file-uploader>
    </dxi-item>
    <dxi-item style="margin-top:18px" dataField="" [colSpan]="7">
      <dx-text-box>
      </dx-text-box>
    </dxi-item>
  </dxi-item>

  <dxi-item location="before">
    <div class="label"><b>결재선 지정</b></div>
  </dxi-item>

  <dxi-item itemType="group" [colCount]="8" [colSpan]="2">
    <dxi-item location="before">
      <dx-file-uploader selectButtonText="결재선"
                        labelText=""
                        id="dx-fileuploader"
                        class="dx-fileuploader"
                        accept="image/*"
                        width="150px"
                        style="padding:0px;"
                        uploadMode="useForm">
      </dx-file-uploader>
    </dxi-item>
    <dxi-item style="margin-top:18px" dataField="" [colSpan]="7">
      <dx-text-box>
      </dx-text-box>
    </dxi-item>
  </dxi-item>

  <dxi-item location="before">
    <div class="label"><b>본사담당자 지정</b></div>
  </dxi-item>

  <dxi-item itemType="group" [colCount]="8" [colSpan]="2">
    <dxi-item location="before">
      <dx-file-uploader selectButtonText="담당자"
                        labelText=""
                        id="dx-fileuploader"
                        class="dx-fileuploader"
                        accept="image/*"
                        width="150px"
                        style="padding:0px;"
                        uploadMode="useForm">
      </dx-file-uploader>
    </dxi-item>
    <dxi-item style="margin-top:18px" dataField="" [colSpan]="7">
      <dx-text-box>
      </dx-text-box>
    </dxi-item>
  </dxi-item>
</dx-form>
