<!--
  W/O 진행현황
  -->
<div style="margin:10px 10px 0px 10px">
  <dx-toolbar style="margin: 20px 0px 20px 0px;padding:0px 5px 0px 5px">
    <dxi-item location="before" locateInMenu="auto">
      <div *dxTemplate>
        <!---<div class="toolbar-label" style="float:left;margin-right:10px;padding:5px;"><b>기간</b></div>-->
        <div style="float:left; ">
          <dx-date-box [(value)]="startDate" type="date" [width]="120" displayFormat="yyyy-MM-dd" label="주문기간(From)"></dx-date-box>
        </div>
        <div style="float:left; margin-left:10px;">
          <dx-date-box [(value)]="endDate" type="date" [width]="120" displayFormat="yyyy-MM-dd" label="주문기간(To)"></dx-date-box>
        </div>
      </div>
    </dxi-item>

    <dxi-item location="before" locateInMenu="auto">
      <div *dxTemplate>
        <div class="dx-field-label" style="width: auto;"></div>
        <div style="width: 100px; float: left; margin-left: 10px; margin-right: 10px;">
          <dx-text-box label="도급업체"
                       labelMode="floating"
                       [maxLength]="40"></dx-text-box>
        </div>
      </div>
    </dxi-item>

    <dxi-item location="before">
      <div *dxTemplate>
        <dx-button icon="search" (onClick)="refreshDataGrid($event)">
        </dx-button>
      </div>
    </dxi-item>
    <dxi-item location="after"
              widget="dxButton"
              locateInMenu="auto">
      <div *dxTemplate style="margin-right:10px;">
        <dx-button (onClick)="AddRecords()"
                   [disabled]="!selectedOrderItemKeys.length">
          <dx-box direction="row" width="100%" [height]="14">
            <dxi-item [ratio]="1"> 조회 </dxi-item>
          </dx-box>
        </dx-button>
      </div>
    </dxi-item>
    <dxi-item location="after"
              widget="dxButton"
              locateInMenu="auto"
              style="margin-left:10px;"
              [height]="25"
              [options]="exportSelectedData">
    </dxi-item>
  </dx-toolbar>


  <dx-data-grid id="gcOrderData"
                [dataSource]="orderData"
                [remoteOperations]="false"
                [focusedRowIndex]="0"
                [allowColumnReordering]="true"
                [allowColumnResizing]="true"
                [rowAlternationEnabled]="true"
                [showBorders]="true"
                [columnAutoWidth]="true"
                keyExpr="AUFNR"
                height="calc(100vh - 155px)"
                [columnResizingMode]="columnResizeMode"
                (onSelectionChanged)="selectionOrderChanged($event)"
                (onRowDblClick)="dblClick($event)"
                (onContentReady)="contentReady($event)">
    <dxo-paging [pageSize]="10"></dxo-paging>
    <dxo-scrolling mode="infinite"></dxo-scrolling>

    <dxo-selection mode="single"></dxo-selection>
    <dxo-filter-row visible="true"></dxo-filter-row>
    <dxo-header-filter visible="true"></dxo-header-filter>

    <dxo-search-panel [visible]="true"
                      [highlightCaseSensitive]="true"></dxo-search-panel>

    <!--<dxo-group-panel [visible]="true"></dxo-group-panel>
    <dxo-grouping [autoExpandAll]="false"></dxo-grouping>-->
    <!--Data column-->
    <dxi-column dataField="AUFNR"
                caption="오더번호"
                dataType="string">
    </dxi-column>

    <dxi-column dataField="AUART"
                caption="오더유형"
                dataType="string">
    </dxi-column>

    <dxi-column dataField="KTEXT"
                caption="내역"
                dataType="string">
    </dxi-column>

    <dxi-column dataField="BUKRS"
                caption="회사코드"
                dataType="string">
    </dxi-column>

    <dxi-column dataField="WERKS_DESC"
                caption="플랜트"
                dataType="string">
    </dxi-column>

    <dxi-column dataField="GSBER_DESC"
                caption="사업영역"
                dataType="string">
    </dxi-column>

    <dxi-column dataField="STAT"
                caption="오더상태"
                dataType="string">
    </dxi-column>

    <dxi-column dataField="INGPR_DESC"
                caption="요청부서"
                dataType="string">
    </dxi-column>

    <dxi-column dataField="VAPLZ_DESC"
                caption="작업장"
                dataType="string">
    </dxi-column>

    <dxi-column dataField="GSTRP"
                caption="시작일"
                dataType="date"
                format="yyyy-MM-dd">
    </dxi-column>

    <dxi-column dataField="GLTRP"
                caption="종료일"
                dataType="date"
                format="yyyy-MM-dd">
    </dxi-column>

    <dxi-column dataField="QMNUM"
                caption="통지번호"
                dataType="string">
    </dxi-column>

    <dxi-column dataField="EQUNR_DESC"
                caption="설비"
                dataType="string">
    </dxi-column>

  </dx-data-grid>

  <!--pop Option-->
  <dx-popup width="80%"
            height="80%"
            margin="20px"
            [showTitle]="true"
            [dragEnabled]="false"
            [showCloseButton]="false"
            container=".dx-viewport"
            [(visible)]="popupVisible">

    <dxi-toolbar-item widget="dxButton"
                      toolbar="top"
                      location="before"
                      [options]="closeButtonOptions">
    </dxi-toolbar-item>
    <dxi-toolbar-item text="W/O 작업결과등록"
                      toolbar="top"
                      location="center">
    </dxi-toolbar-item>
    <dx-scroll-view width="100%" height="100%">


      <div id="form-container">
        <dx-box direction="row" width="100%">
          <dxi-item [ratio]="0" [baseSize]="200">
            <dx-form style="margin-bottom: 20px;">
              <dxi-item location="before"
                        widget="dxButton"
                        locateInMenu="auto">
                <dx-button stylingMode="contained"
                           text="검수요청"
                           type="normal"
                           (onClick)="AddRecords()"
                           [width]="150">
                </dx-button>
              </dxi-item>
            </dx-form>
          </dxi-item>

          <dxi-item [ratio]="0" [baseSize]="200">
            <dx-form style="margin-bottom: 20px;">
              <dxi-item location="before"
                        widget="dxButton"
                        locateInMenu="auto">
                <dx-button stylingMode="contained"
                           text="계약추가"
                           type="normal"
                           (onClick)="addRow($event)"
                           [width]="150">
                </dx-button>
              </dxi-item>
            </dx-form>
          </dxi-item>

          <dxi-item [ratio]="0" [baseSize]="200">
            <dx-form style="margin-bottom: 20px;">
              <dxi-item location="before"
                        widget="dxButton"
                        locateInMenu="auto">
                <dx-button stylingMode="contained"
                           text="작업결과등록"
                           type="normal"
                           (onClick)="AddRecords()"
                           [width]="150">
                </dx-button>
              </dxi-item>
            </dx-form>
          </dxi-item>
        </dx-box>
      </div>
      <div style="margin-bottom: 20px;margin-top: 20px">작업목록</div>

      <dx-data-grid id="gcWorkOrderList"
                    [dataSource]="workOrderList"
                    [remoteOperations]="false"
                    [allowColumnReordering]="true"
                    [allowColumnResizing]="true"
                    [columnResizingMode]="columnResizeMode"
                    [rowAlternationEnabled]="true"
                    [columnAutoWidth]="true"
                    [showBorders]="true">

        <dxo-filter-row visible="true"></dxo-filter-row>
        <dxo-header-filter visible="true"></dxo-header-filter>

        <dxi-column dataField="AUFNR"
                    caption="오더번호"
                    dataType="string">
        </dxi-column>

        <dxi-column dataField="PAY_CNT"
                    caption="순번"
                    dataType="string">
        </dxi-column>

        <dxi-column dataField="PAYITEM"
                    caption="자재번호"
                    dataType="string">
        </dxi-column>

        <dxi-column dataField="QTY_REQ"
                    caption="의뢰수량"
                    format="#,###.###"
                    dataType="number">
        </dxi-column>

        <dxi-column dataField="QTY_CON"
                    caption="승인수량"
                    format="#,###.###"
                    dataType="number">
        </dxi-column>
      </dx-data-grid>

      <div style="margin-bottom: 20px;margin-top: 20px">작업 계약리스트</div>
      <dx-data-grid id="gcMaterialList"
                    [dataSource]="workContractList"
                    [remoteOperations]="false"
                    [allowColumnReordering]="true"
                    [allowColumnResizing]="true"
                    [rowAlternationEnabled]="true"
                    [columnResizingMode]="columnResizeMode"
                    [columnAutoWidth]="true"
                    [showBorders]="true">

        <dxo-filter-row visible="true"></dxo-filter-row>
        <dxo-header-filter visible="true"></dxo-header-filter>

        <dxi-column dataField="AUFNR"
                    caption="오더번호"
                    dataType="string">
        </dxi-column>

        <dxi-column dataField="PAY_CNT"
                    caption="순번"
                    dataType="string">
        </dxi-column>

        <dxi-column dataField="REDAT"
                    caption="요청일"
                    dataType="string">
        </dxi-column>

        <dxi-column dataField="CODAT"
                    caption="승인일"
                    dataType="string">
        </dxi-column>

        <dxi-column dataField="BUDAT"
                    caption="전기일"
                    dataType="string">
        </dxi-column>

        <dxi-column dataField="EBELN"
                    caption="구매문서번호"
                    dataType="string">
        </dxi-column>

        <dxi-column dataField="BELNR"
                    caption="회계전표번호"
                    dataType="string">
        </dxi-column>

        <dxi-column dataField="LIFNR"
                    caption="공급업체"
                    dataType="string">
        </dxi-column>

        <dxi-column dataField="GJAHR"
                    caption="회계연도"
                    dataType="string">
        </dxi-column>

        <dxi-column dataField="STAT"
                    caption="상태"
                    dataType="string">
        </dxi-column>

      </dx-data-grid>

      <div style="margin-bottom: 20px;margin-top: 20px">고장원인리스트</div>
      <dx-data-grid id="gcMaterialList"
                    [dataSource]="FaultInfo"
                    [remoteOperations]="false"
                    [allowColumnReordering]="true"
                    [allowColumnResizing]="true"
                    [rowAlternationEnabled]="true"
                    [columnAutoWidth]="true"
                    [columnResizingMode]="columnResizeMode"
                    [showBorders]="true">

        <dxo-filter-row visible="true"></dxo-filter-row>
        <dxo-header-filter visible="true"></dxo-header-filter>

        <dxi-column dataField="NOTIF_NO"
                    caption="통지번호"
                    dataType="string">
        </dxi-column>

        <dxi-column dataField="POSNR"
                    caption="항목번호"
                    dataType="string">
        </dxi-column>

        <dxi-column dataField="CAUSE_KEY"
                    caption="원인번호"
                    dataType="string">
        </dxi-column>

        <dxi-column dataField="KATALOGART"
                    caption="카탈로그"
                    dataType="string">
        </dxi-column>

        <dxi-column dataField="CODEGRUPPE"
                    caption="코드그룹"
                    dataType="string">
        </dxi-column>

        <dxi-column dataField="KURZTEXT_GR"
                    caption="그룹명"
                    dataType="string">
        </dxi-column>

        <dxi-column dataField="CODE"
                    caption="코드"
                    dataType="string">
        </dxi-column>

        <dxi-column dataField="KURZTEXT_CODE"
                    caption="코드명"
                    dataType="string">
        </dxi-column>

        <dxi-column dataField="FETXT"
                    caption="사유텍스트"
                    dataType="string">
        </dxi-column>

      </dx-data-grid>
    </dx-scroll-view>
  </dx-popup>

  <dx-popup [width]="1200"
            [height]="600"
            margin="20px"
            [showTitle]="true"
            [dragEnabled]="false"
            [hideOnOutsideClick]="true"
            container=".dx-viewport"
            [(visible)]="isPopupVisible">

    <dxi-toolbar-item widget="dxButton"
                      toolbar="top"
                      location="before"
                      [options]="closeButtonOptions">
    </dxi-toolbar-item>
    <dxi-toolbar-item text="계약리스트"
                      toolbar="top"
                      location="center">
    </dxi-toolbar-item>

    <div style="margin-bottom: 20px;margin-top: 20px">계약리스트</div>

    <div id="form-container">
      <dx-box direction="row" width="100%">
        <dxi-item [ratio]="0" [baseSize]="200">
          <dx-form style="margin-bottom: 20px;">
            <dxi-item location="before"
                      widget="dxButton"
                      locateInMenu="auto">
              <dx-button [disabled]="!selectedMerterialItemKeys.length"
                         text="계약추가"
                         type="normal"
                         (onClick)="ReqRecords()"
                         [width]="150">
              </dx-button>
            </dxi-item>
          </dx-form>
        </dxi-item>
      </dx-box>
    </div>

    <dx-data-grid id="gcMaterialList"
                  [dataSource]="contractList"
                  [remoteOperations]="false"
                  [allowColumnReordering]="true"
                  [allowColumnResizing]="true"
                  [rowAlternationEnabled]="true"
                  [columnAutoWidth]="true"
                  [columnResizingMode]="columnResizeMode"
                  keyExpr="EBELP"
                  [selection]="{ mode: 'multiple' }"
                  (onSelectionChanged)="selectionMeterialChanged($event)"
                  [showBorders]="true">

      <dxo-filter-row visible="true"></dxo-filter-row>
      <dxo-header-filter visible="true"></dxo-header-filter>

      <dxi-column dataField="EBELN"
                  caption="구매문서번호"
                  dataType="string">
      </dxi-column>

      <dxi-column dataField="EBELP"
                  caption="순번"
                  dataType="string">
      </dxi-column>

      <dxi-column dataField="PAYITEM"
                  caption="자재번호"
                  dataType="string">
      </dxi-column>

      <dxi-column dataField="TXZ01"
                  caption="자재명"
                  dataType="string">
      </dxi-column>

      <dxi-column dataField="MENGE"
                  caption="오더수량"
                  dataType="string">
      </dxi-column>

      <dxi-column dataField="NETPR"
                  caption="단가"
                  dataType="string">
      </dxi-column>

      <dxi-column dataField="MEINS"
                  caption="수량단위"
                  dataType="string">
      </dxi-column>

      <dxi-column dataField="WAERS"
                  caption="금액단위"
                  dataType="string">
      </dxi-column>

      <dxi-column dataField="LGORT"
                  caption="저장위치"
                  dataType="string">
      </dxi-column>

      <dxi-column dataField="LGOBE"
                  caption="저장위치명"
                  dataType="string">
      </dxi-column>

      <dxi-column dataField="KDATB"
                  caption="유효기간시작일"
                  dataType="string">
      </dxi-column>

      <dxi-column dataField="KDATE"
                  caption="유효기간종료일"
                  dataType="string">
      </dxi-column>

    </dx-data-grid>
  </dx-popup>
  </div>
