<!--배차등록(포장재)-->
<dx-toolbar style="margin:20px 0px 20px 0px" width="99%">
  <dxi-item location="before">
    <div *dxTemplate>
      <div style="float: left; margin-left: 10px;">
        <dx-date-box [(value)]="startDate" label="운송계획일(From)" type="date" [width]="150" displayFormat="yyyy-MM-dd"></dx-date-box>
      </div>
      <div style="float: left; margin-left: 10px;">
        ~
      </div>
      <div style="float: left; margin-left: 10px;">
        <dx-date-box [(value)]="endDate" label="운송계획일(to)" type="date" [width]="150" displayFormat="yyyy-MM-dd"></dx-date-box>
      </div>
    </div>
  </dxi-item>

  <dxi-item location="before" locateInMenu="auto">
    <div *dxTemplate>
      <dx-select-box [dataSource]="cSpart"
                     displayExpr="name"
                     valueExpr="code"
                     value="20"
                     label="액상구분"
                     labelMode="floating"
                     (onValueChanged)="onCSpartValueChanged($event)"></dx-select-box>
    </div>
  </dxi-item>

  <dxi-item location="after">
    <div *dxTemplate>
      <dx-button text="거래명세서출력" (onClick)="refSaveData($event)">
      </dx-button>
    </div>
  </dxi-item>
  <dxi-item location="after">
    <div *dxTemplate>
      <dx-button text="출고확정" (onClick)="refConfirmGI($event)">
      </dx-button>
    </div>
  </dxi-item>
  <dxi-item location="after"
            widget="dxButton"
            locateInMenu="auto"
            [height]="25"
            [options]="searchButtonOptions">
  </dxi-item>
</dx-toolbar>

<dx-data-grid class="master" #orderGrid
              [dataSource]="orderData"
              [showBorders]="true"
              [focusedRowIndex]="0"
              [selection]="{ mode: 'multiple' }"
              (onSelectionChanged)="mainDataselectedChanged($event)"
              height="calc(100vh - 230px)"
              [columnAutoWidth]="true"
              (onRowDblClick)="mainDBClick($event)"
              (onContentReady)="contentReady($event)"
              [allowColumnReordering]="true"
              columnResizingMode="widget"
              [allowColumnResizing]="true">
  <!--(onRowDblClick)="orderDBClick($event)"-->
  <!--Datagrid Option-->
  <dxo-paging [pageSize]="10"></dxo-paging>
  <dxo-pager [showPageSizeSelector]="true" [showInfo]="true"></dxo-pager>


  <!--Filtering Option-->
  <dxo-filter-panel [visible]="true"></dxo-filter-panel>
  <dxo-filter-builder [customOperations]="customOperations"
                      [allowHierarchicalFields]="true">
  </dxo-filter-builder>
  <dxo-filter-builder-popup [position]="popupPosition">
  </dxo-filter-builder-popup>
  <dxo-filter-row [visible]="true"></dxo-filter-row>
  <dxo-header-filter [visible]="true" [allowSearch]="true"></dxo-header-filter>
  <dxo-scrolling mode="infinite"></dxo-scrolling>


  <!--Data column-->
  <dxi-column dataField="VBELN"
              visibleIndex="0"
              caption="납품문서번호">
  </dxi-column>

  <dxi-column dataField="POSNR"
              visibleIndex="1"
              caption="납품품번">
  </dxi-column>
  <dxi-column dataField="ZSEQUENCY"
              visibleIndex="2"
              caption="납품분할순번">
  </dxi-column>
  <dxi-column dataField="VGBEL"
              caption="주문번호">
  </dxi-column>
  <dxi-column dataField="VGPOS"
              caption="주문품번">
  </dxi-column>
  <dxi-column dataField="TDDAT"
              caption="운송계획일"
              visibleIndex="3"
              format="yyyy-MM-dd"
              dataType="date">
  </dxi-column>
  <dxi-column dataField="SPART"
              visibleIndex="4"
              caption="제품군">
  </dxi-column>
  <dxi-column dataField="ARKTX"
              visibleIndex="5"
              caption="자재명">
  </dxi-column>
  <dxi-column dataField="ZMENGE1"
              visibleIndex="6"
              caption="주문수량">
  </dxi-column>
  <dxi-column dataField="ZMENGE2"
              visibleIndex="7"
              caption="납품수량">
  </dxi-column>
  <dxi-column dataField="VRKME"
              visibleIndex="9"
              caption="단위">
  </dxi-column>
  <dxi-column dataField="VSTEL"
              caption="출하지점">
  </dxi-column>
  <dxi-column dataField="ZMENGE4"
              visibleIndex="8"
              caption="배차수량">
  </dxi-column>
  <dxi-column dataField="ZMENGE3"
              caption="출고수량">
  </dxi-column>
  <dxi-column dataField="WADAT_IST"
              caption="출고전기일"
              format="yyyy-MM-dd"
              dataType="date">
  </dxi-column>
  <dxi-column dataField="BRGEW"
              caption="출하총중량">
  </dxi-column>
  <dxi-column dataField="GEWEI"
              caption="중량단위">
  </dxi-column>
  <dxi-column dataField="NAME1"
              visibleIndex="9"
              caption="납품처명">
  </dxi-column>
  <dxi-column dataField="CITY1"
              visibleIndex="10"
              caption="납품도시">
  </dxi-column>
  <dxi-column dataField="STREET"
              visibleIndex="11"
              caption="납품주소">
  </dxi-column>
  <dxi-column dataField="ZCARNO"
              visibleIndex="12"
              caption="차량번호">
  </dxi-column>
  <dxi-column dataField="ZDRIVER"
              visibleIndex="13"
              caption="운전기사">
  </dxi-column>
  <dxi-column dataField="ZPHONE"
              visibleIndex="14"
              caption="전화번호">
  </dxi-column>

</dx-data-grid>


<!--출고처리-->
<dx-popup width="80%"
          height="80%"
          [showTitle]="true"
          title="출고"
          [dragEnabled]="false"
          [showCloseButton]="true"
          container=".dx-viewport"
          [(visible)]="popupVisible">


  <dx-toolbar style="margin-bottom: 9px;">


    <dxi-item location="after"
              widget="dxButton"
              locateInMenu="auto"
              [height]="25"
              [options]="GiButtonOptions">
    </dxi-item>
    <dxi-item location="after"
              widget="dxButton"
              locateInMenu="auto"
              [height]="25"
              [options]="CGiButtonOptions">
    </dxi-item>

  </dx-toolbar>

  <div id="form-container1">
    <dx-form id="popupHeaderForm" [formData]="popHeaderData" style="margin-bottom:20px">
      <dxi-item itemType="group" [colCount]="4">
        <dxi-item dataField="VBELN" [disabled]="true"><dxo-label text="납품문서번호"></dxo-label></dxi-item>
        <dxi-item dataField="POSNR" [disabled]="true"><dxo-label text="납품품번"></dxo-label></dxi-item>
        <dxi-item dataField="ZMENGE2" [disabled]="true" editorType="dxNumberBox" displayFormat="#,###"><dxo-label text="납품수량"></dxo-label></dxi-item>
        <dxi-item dataField="ZMENGE4" [disabled]="true" editorType="dxNumberBox" displayFormat="#,###"><dxo-label text="배차수량"></dxo-label></dxi-item>
      </dxi-item>
    </dx-form>
  </div>

  <dx-scroll-view width="100%" height="90%">
    <dx-form>
      <dxi-item itemType="tabbed">
        <dxo-tab-panel-options [deferRendering]="false" [selectedIndex]="popTabIndex">
        </dxo-tab-panel-options>
        <dxi-tab title="출고정보">
          <div id="form-container2">
            <dx-form id="popupItemForm" [formData]="popItemData" height="90%">
              <dxi-item itemType="group" [colCount]="1" caption="출고정보">
                <dxi-item itemType="group" [colCount]="4">
                  <dxi-item dataField="ZMENGE3" editorType="dxNumberBox"><dxo-label text="출고수량"></dxo-label></dxi-item>
                  <dxi-item dataField="WADAT_IST" editorType="dxDateBox" [editorOptions]="{ displayFormat: 'yyyy-MM-dd', type: 'date', showClearButton : true , useMaskBehavior : true}"><dxo-label text="출고전기일자"></dxo-label></dxi-item>
                  <dxi-item dataField="MATNR" [disabled]="true">
                    <dxo-label text="자재명"></dxo-label>
                    <div *dxTemplate>
                      <nh-possible-table [codeInfo]="matnrCode" #matnrCodeDynamic
                                         [dataStoreKey]="dataStoreKey"
                                         [(selectedValue)]="matnrValue"
                                         valueColumn="MATNR"
                                         valueDisplayFormat="%MAKTX%(%MATNR%)"
                                         width="auto"
                                         [gridBoxWidth]="500"
                                         (onDataLoaded)="onPEDataLoaded($event)"
                                         (onEntryValueChanged)="onmatnrCodeValueChanged($event)"></nh-possible-table>
                    </div>
                  </dxi-item>
                  <dxi-item dataField="Z4PARVW" [disabled]="true">
                    <dxo-label text="2차운송사"></dxo-label>
                    <div *dxTemplate>
                      <nh-possible-comm [codeInfo]="tdlnrCode" #tdlnrEntery
                                        [dataStoreKey]="dataStoreKey"
                                        valueColumn="LIFNR"
                                        valueDisplayFormat="%NAME1%(%LIFNR%)"
                                        width="auto"
                                        [showClearButton]="true"
                                        [(selectedValue)]="tdlnrValue"
                                        [gridBoxWidth]="500"
                                        (onDataLoaded)="onPEDataLoaded($event)"
                                        (onEntryValueChanged)="onTdlnrCodeValueChanged($event)"></nh-possible-comm>
                    </div>
                  </dxi-item>
                </dxi-item>

                <dxi-item itemType="group" [colCount]="4">
                  <dxi-item dataField="Z_N_WEI_EMP" editorType="dxNumberBox" displayFormat="#,###"><dxo-label text="공차중량"></dxo-label></dxi-item>
                  <dxi-item dataField="Z_N_WEI_TOT" editorType="dxNumberBox" displayFormat="#,###"><dxo-label text="만차중량"></dxo-label></dxi-item>
                  <dxi-item dataField="Z_N_WEI_NET" editorType="dxNumberBox" displayFormat="#,###"><dxo-label text="정산수량"></dxo-label></dxi-item>
                  <dxi-item dataField="Z_N_WEI_TOT_OIL" editorType="dxNumberBox" displayFormat="#,###"><dxo-label text="출고중량"></dxo-label></dxi-item>
                </dxi-item>

                <dxi-item itemType="group" [colCount]="4">
                  <dxi-item dataField="ZSTARTTIME" displayFormat="##:##:##"><dxo-label text="상차시작시간"></dxo-label></dxi-item>
                  <dxi-item dataField="ZENDTIME" displayFormat="##:##:##"><dxo-label text="상차종료시간"></dxo-label></dxi-item>
                </dxi-item>

                <dxi-item itemType="group" [colCount]="4">
                  <dxi-item dataField="ZRACK"><dxo-label text="Rack"></dxo-label></dxi-item>
                  <dxi-item dataField="ZPUMP"><dxo-label text="Pump"></dxo-label></dxi-item>
                  <dxi-item dataField="ZTANK"><dxo-label text="Tank"></dxo-label></dxi-item>
                  <dxi-item dataField="ZTEMP"><dxo-label text="온도"></dxo-label></dxi-item>
                </dxi-item>
              </dxi-item>

              <dxi-item itemType="group" [colCount]="1" caption="차량정보">
                <dxi-item itemType="group" [colCount]="4">
                  <dxi-item dataField="ZSHIPMENT_NO" ><dxo-label text="배차번호"></dxo-label></dxi-item>
                  <dxi-item dataField="ZSHIPMENT_DATE"  editorType="dxDateBox" [editorOptions]="{ displayFormat: 'yyyy-MM-dd', type: 'date', showClearButton : true , useMaskBehavior : true}"><dxo-label text="배차일자"></dxo-label></dxi-item>
                </dxi-item>

                <dxi-item itemType="group" [colCount]="4">
                  <dxi-item dataField="ZUNLOAD">
                    <dxo-label text="하차정보"></dxo-label>
                    <div *dxTemplate>
                      <nh-possible-table [codeInfo]="unloadInfoCode" #unloadInfoCodeDynamic
                                         [dataStoreKey]="dataStoreKey"
                                         [(selectedValue)]="unloadInfoValue"
                                         valueColumn="DOMVALUE_L"
                                         valueDisplayFormat="%DDTEXT%(%DOMVALUE_L%)"
                                         [width]="200"
                                         [gridBoxWidth]="500"
                                         [searchPanel]="true"
                                         (onDataLoaded)="onPEDataLoaded($event)"
                                         (onEntryValueChanged)="onzunloadCodeValueChanged($event)"></nh-possible-table>
                    </div>
                  </dxi-item>
                  <dxi-item dataField="ZCARTYPE">
                    <dxo-label text="화물차종"></dxo-label>
                    <div *dxTemplate>
                      <nh-possible-table [codeInfo]="truckTypeCode" #truckTypeCodeDynamic
                                         [dataStoreKey]="dataStoreKey"
                                         [(selectedValue)]="truckTypeValue"
                                         valueColumn="DOMVALUE_L"
                                         valueDisplayFormat="%DDTEXT%(%DOMVALUE_L%)"
                                         [width]="200"
                                         [gridBoxWidth]="500"
                                         [searchPanel]="true"
                                         (onDataLoaded)="onPEDataLoaded($event)"
                                         (onEntryValueChanged)="onzcartypeCodeValueChanged($event)"></nh-possible-table>
                    </div>
                  </dxi-item>
                  <dxi-item dataField="ZCARNO">
                    <dxo-label text="차량번호"></dxo-label>
                    <div *dxTemplate>
                      <nh-possible-table #zcarnoCodeEntery
                                         [dataStoreKey]="dataStoreKey"
                                         [codeInfo]="zcarnoCode"
                                         valueColumn="ZCARNO"
                                         [showClearButton]="true"
                                         valueDisplayFormat="%ZCARNO%"
                                         width="auto"
                                         [(selectedValue)]="zcarnoValue"
                                         [gridBoxWidth]="500"
                                         class="weight-test"
                                         (onDataLoaded)="onPEDataLoaded($event)"
                                         [showDataLoadingPanel]="showDataLoadingPanel"
                                         (onEntryValueChanged)="onZcarnoCodeValueChanged($event)"></nh-possible-table>
                    </div>
                  </dxi-item>
                </dxi-item>
              </dxi-item>

              <dxi-item itemType="group" [colCount]="1" caption="운전기사정보">
                <dxi-item itemType="group" [colCount]="4">
                  <dxi-item dataField="ZDRIVER"><dxo-label text="기사명1"></dxo-label></dxi-item>
                  <dxi-item dataField="ZPHONE"><dxo-label text="전화번호1"></dxo-label></dxi-item>
                </dxi-item>

                <dxi-item itemType="group" [colCount]="4">
                  <dxi-item dataField="ZDRIVER1"><dxo-label text="기사명2"></dxo-label></dxi-item>
                  <dxi-item dataField="ZPHONE1"><dxo-label text="전화번호2"></dxo-label></dxi-item>
                </dxi-item>

                <dxi-item itemType="group" [colCount]="4">
                  <dxi-item dataField="ZDRIVER2"><dxo-label text="기사명3"></dxo-label></dxi-item>
                  <dxi-item dataField="ZPHONE2"><dxo-label text="전화번호3"></dxo-label></dxi-item>
                </dxi-item>
              </dxi-item>
            </dx-form>
          </div>
        </dxi-tab>
        <dxi-tab title="유창정보" [disabled]="isPopVisible">
          <dx-data-grid #OilGrid
                        [dataSource]="popOilDepot"
                        [remoteOperations]="false"
                        [showBorders]="true"
                        [selection]="{ mode: 'single' }"
                        height="90%"
                        keyExpr="C_PART"
                        [columnAutoWidth]="true"
                        [rowAlternationEnabled]="true"
                        (onContentReady)="contentReady($event)"
                        [allowColumnReordering]="true"
                        [allowColumnResizing]="true">
            <!--(onRowDblClick)="orderDBClick($event)"-->
            <!--Datagrid Option-->

            <dxo-editing mode="row"
                         [allowDeleting]="true"
                         [allowUpdating]="true"
                         [allowAdding]="true">
            </dxo-editing>

            <!--Filtering Option-->
            <dxo-scrolling mode="infinite"></dxo-scrolling>


            <!--Data column-->
            <dxi-column dataField="C_PART"
                        dataType="string"
                        [allowEditing]="true"
                        caption="유창번호">
            </dxi-column>

            <dxi-column dataField="ZTANKLITER"
                        dataType="number"
                        format="#,###"
                        [allowEditing]="true"
                        caption="유창용량">
            </dxi-column>

            <dxi-column dataField="N_ALLOC"
                        dataType="number"
                        format="#,###"
                        [allowEditing]="true"
                        caption="지시수량">
            </dxi-column>

            <dxi-column dataField="N_CHUL"
                        dataType="number"
                        format="#,###"
                        [allowEditing]="true"
                        caption="출고수량">
            </dxi-column>

            <dxi-column dataField="S_START"
                        dataType="string"
                        [allowEditing]="true"
                        caption="시작시간">
            </dxi-column>

            <dxi-column dataField="S_END"
                        dataType="string"
                        [allowEditing]="true"
                        caption="종료시간">
            </dxi-column>
          </dx-data-grid>
        </dxi-tab>
      </dxi-item>
    </dx-form>
    </dx-scroll-view>
</dx-popup>

<!-- 로딩 패널-->
<dx-load-panel #loadPanel [position]="{ of: '#pageContent' }" shadingColor="rgba(0,0,0,0.4)" [(visible)]="loadingVisible" [showIndicator]="true" [showPane]="true"
               [shading]="true" [hideOnOutsideClick]="true">
</dx-load-panel>
