<div style="margin:10px 10px 0px 10px">
  <!--toolbar-->
  <dx-toolbar style="margin: 20px 0px 20px 0px;padding:0px 5px 0px 5px;">
    <dxi-item location="before" locateInMenu="auto">
      <div *dxTemplate style="margin-left:10px;">
        <div style="float:left; ">
          <dx-date-box [(value)]="startDate"
                       label="시작일(From)"
                       labelMode="floating"
                       type="date"
                       [width]="150"
                       displayFormat="yyyy-MM-dd"></dx-date-box>
        </div>

        <div style="float:left; margin-left:10px;">
          <dx-date-box [(value)]="endDate"
                       label="종료일(To)"
                       labelMode="floating"
                       type="date"
                       [width]="150"
                       displayFormat="yyyy-MM-dd"></dx-date-box>
        </div>
      </div>
    </dxi-item>


    <dxi-item location="before" [disabled]="isDisabled">
      <div style="float: left; margin-left: 10px; ">
        <nh-possible-comm #lgEntery
                          [dataStoreKey]="dataStoreKey"
                          [codeInfo]="lgCode"
                          valueColumn="LGORT"
                          valueDisplayFormat="%LGOBE%(%LGORT%)"
                          [(selectedValue)]="lgValue"
                          placeholderText="창고"
                          width="200"
                          label="비료창고"
                          popupGridScrollMode="standard"
                          [popupGridPagingMode]="true"
                          [popupGridPageSize]="10"
                          comboGridScrollMode="virtual"
                          [gridBoxWidth]="500"
                          (onDataLoaded)="onPEDataLoaded($event)"
                          (onEntryValueChanged)="onLGCodeValueChanged($event)"
                          [showClearButton]="true"
                          class="weight-test"></nh-possible-comm>
      </div>
    </dxi-item>



    <dxi-item location="after"
              widget="dxButton"
              locateInMenu="auto">
      <dx-button stylingMode="contained"
                 text="CHECK LIST 등록"
                 type="normal"
                 (onClick)="checkListAdd()"
                 [width]="180">
      </dx-button>
    </dxi-item>
    <dxi-item location="after"
              widget="dxButton"
              locateInMenu="auto"
              [options]="searchButtonOptions">
    </dxi-item>
  </dx-toolbar>

  <dx-data-grid #DataGrid
                [dataSource]="mainData"
                keyExpr="KUNNR"
                [showBorders]="true"
                [focusedRowIndex]="0"
                [selection]="{ mode: 'single' }"
                height="calc(100vh - 265px)"
                [columnAutoWidth]="true"
                [columnResizingMode]="columnResizeMode"
                (onRowDblClick)="orderDBClick($event)"
                [remoteOperations]="false"
                [allowColumnReordering]="true"
                [allowColumnResizing]="true"
                [rowAlternationEnabled]="true"
                columnResizingMode="widget">

    <dxo-scrolling columnRenderingMode="virtual"></dxo-scrolling>
    <dxo-paging [pageSize]="100"></dxo-paging>
    <dxo-header-filter [visible]="true" [allowSearch]="true"></dxo-header-filter>
    <dxo-paging [pageSize]="10"></dxo-paging>


    <!--Data column-->
    <dxi-column dataField="ZEDATE"
                caption="검사일"
                dataType="date"
                sortOrder="desc"
                alignment="center"
                format="yyyy-MM-dd">
    </dxi-column>

    <dxi-column dataField="VKBUR_T"
                caption="관할지사">
    </dxi-column>

    <dxi-column dataField="NAME1"
                caption="거래처">
    </dxi-column>

    <dxi-column dataField="ZREPRESN"
                caption="대표자">
    </dxi-column>

    <dxi-column dataField="KUNNR"
                caption="고객번호">
    </dxi-column>

    <dxi-column dataField="VKBUR"
                caption="영업소">
    </dxi-column>


  </dx-data-grid>

  <!--체크리스트 저장 -->
  <dx-popup width="90%"
            height="90%"
            margin="20px"
            [showTitle]="false"
            [dragEnabled]="false"
            [hideOnOutsideClick]="true"
            container=".dx-viewport"
            [showCloseButton]="false"
            [(visible)]="checkPopupVisible">


    <dxi-toolbar-item text="물류기지 관리 CHECK LIST"
                      toolbar="top"
                      location="before">
    </dxi-toolbar-item>
    <dxi-toolbar-item widget="dxButton"
                      toolbar="top"
                      location="after"
                      [options]="checkPopupSaveButtonOptions">
    </dxi-toolbar-item>
    <dxi-toolbar-item widget="dxButton"
                      toolbar="top"
                      location="after"
                      [options]="checkPopupCloseButtonOptions">
    </dxi-toolbar-item>

    <dx-scroll-view width="100%" height="100%">
      <div id="form-container">
        <dx-form direction="row" width="100%" [formData]="checkListFormData" (onFieldDataChanged)="DataChanged($event,this)">

          <dxi-item itemType="group" [colCount]="3" [colSpan]="2">
            <dxi-item dataField="LGORT" [visible]="false"><dxo-label text="저장 위치"></dxo-label></dxi-item>
            <dxi-item dataField="LGOBE" [visible]="false"><dxo-label text="저장 위치 내역"></dxo-label></dxi-item>
            <dxi-item dataField="KUNNR" [visible]="false"><dxo-label text="고객 번호"></dxo-label></dxi-item>
          </dxi-item>
          <dxi-item itemType="group" [colCount]="3" [colSpan]="2">
            <dxi-item dataField="ZMAXCAPA" [visible]="false"><dxo-label text="최대비축량"></dxo-label></dxi-item>
            <dxi-item dataField="VKBUR" [visible]="false"><dxo-label text="영업소"></dxo-label></dxi-item>
          </dxi-item>
          <dxi-item itemType="group" [colCount]="3" [colSpan]="2">
            <dxi-item dataField="ZEDATE" editorType="dxDateBox" [editorOptions]="{dataType:'date',  displayFormat:'yyyy-MM-dd' }">
              <dxo-label text="검사일"></dxo-label>
              <dxi-validation-rule type="required" message="검사일을 입력해주십시오."></dxi-validation-rule>
            </dxi-item>
            <dxi-item dataField="ZNAME">
              <dxo-label text="확인담당자"></dxo-label>
              <dxi-validation-rule type="required" message="확인담당자를 입력해주십시오."></dxi-validation-rule>
            </dxi-item>
          </dxi-item>

          <dxi-item itemType="group" [colCount]="3" [colSpan]="2">
            <dxi-item dataField="NAME1" [disabled]="true">
              <dxo-label text="업체명"></dxo-label>
              <dxi-validation-rule type="required" message="업체명을 입력해주십시오."></dxi-validation-rule>

            </dxi-item>
            <dxi-item dataField="ZREPRESN" [disabled]="true">
              <dxo-label text="대표자"></dxo-label>
              <dxi-validation-rule type="required" message="대표자를 입력해주십시오."></dxi-validation-rule>
            </dxi-item>
          </dxi-item>

          <dxi-item itemType="group" [colCount]="4" [colSpan]="2">
            <dxi-item dataField="ZMYCAR" [colSpan]="2" [disabled]="true">
              <dxo-label text="자가차량"></dxo-label>
              <dxi-validation-rule type="required" message="자가차량을 입력해주십시오."></dxi-validation-rule>
            </dxi-item>
            <dxi-item dataField="ZYARDSCALE1" [disabled]="true">
              <dxo-label text="창고 부지면적"></dxo-label>
              <dxi-validation-rule type="required" message="부지면적을 입력해주십시오."></dxi-validation-rule>
            </dxi-item>
            <dxi-item dataField="ZYARDSCALE2" [disabled]="true">
              <dxo-label text="야적 부지면적"></dxo-label>
              <dxi-validation-rule type="required" message="부지면적을 입력해주십시오."></dxi-validation-rule>
            </dxi-item>
          </dxi-item>

          <dxi-item itemType="group" [colCount]="4" [colSpan]="2">
            <dxi-item dataField="ZRENTCAR" [colSpan]="2" [disabled]="true">
              <dxo-label text="용차계약"></dxo-label>
              <dxi-validation-rule type="required" message="용차계약을 입력해주십시오."></dxi-validation-rule>
            </dxi-item>
            <dxi-item dataField="ZYARDCAPA1" [disabled]="true">
              <dxo-label text="창고 비축가능량"></dxo-label>
              <dxi-validation-rule type="required" message="비축가능량을 입력해주십시오."></dxi-validation-rule>
            </dxi-item>
            <dxi-item dataField="ZYARDCAPA2" [disabled]="true">
              <dxo-label text="야적 비축가능량"></dxo-label>
              <dxi-validation-rule type="required" message="비축가능량을 입력해주십시오."></dxi-validation-rule>
            </dxi-item>
          </dxi-item>

          <dxi-item itemType="group" [colCount]="4" [colSpan]="2">
            <dxi-item dataField="ZFORKLIFT" [colSpan]="2" [disabled]="true">
              <dxo-label text="지게차"></dxo-label>
              <dxi-validation-rule type="required" message="지게차를 입력해주십시오."></dxi-validation-rule>
            </dxi-item>
            <dxi-item dataField="ZESTATE" [disabled]="true">
              <dxo-label text="부지소유"></dxo-label>
              <dxi-validation-rule type="required" message="부지소유를 입력해주십시오."></dxi-validation-rule>
            </dxi-item>
            <dxi-item dataField="ZMAXCAPA" [disabled]="true">
              <dxo-label text="최대비축량"></dxo-label>
              <dxi-validation-rule type="required" message="최대비축량을 입력해주십시오."></dxi-validation-rule>
            </dxi-item>
          </dxi-item>

          <dxi-item itemType="group" [colCount]="3" [colSpan]="2">
            <dxi-item dataField="ZSTORAGE_STOCK">
              <dxo-label text="1. 제품 보관 창고"></dxo-label>
              <dxi-validation-rule type="required" message="제품 보관 창고를 입력해주십시오."></dxi-validation-rule>
              <dxi-validation-rule type="numeric" message="숫자를 입력해주십시오."></dxi-validation-rule>
            </dxi-item>
            <dxi-item dataField="ZYARD_STOCK">
              <dxo-label text="야적 창고"></dxo-label>
              <dxi-validation-rule type="required" message="야적창고를 입력해주십시오."></dxi-validation-rule>
              <dxi-validation-rule type="numeric" message="숫자를 입력해주십시오."></dxi-validation-rule>

            </dxi-item>
            <dxi-item dataField="ZTOTAL_STOCK" [disabled]="true"><dxo-label text="총 수량"></dxo-label></dxi-item>
          </dxi-item>
          <dxi-item itemType="group" [colCount]="3" [colSpan]="2">
            <dxi-item dataField="ZBLOCK_STOCK">
              <dxo-label text="2. 고결/파포 수량"></dxo-label>
              <dxi-validation-rule type="required" message="고결/파포 수량을 입력해주십시오."></dxi-validation-rule>
            </dxi-item>
            <dxi-item dataField="ZUNIT" [disabled]="true">
              <dxo-label text="단위"></dxo-label>
              <dxi-validation-rule type="required" message="단위를 입력해주십시오."></dxi-validation-rule>
            </dxi-item>
          </dxi-item>

          <dxi-item itemType="group" caption="항목1" [colCount]="2" [colSpan]="2">
            <dxi-item dataField="ZCHECK1">
              <dxo-label text="3. 복포 작업 상태"></dxo-label>
              <div class="dx-field-value">
                <dx-radio-group #radioBox1
                                valueExpr="ID"
                                displayExpr="Name"
                                [items]="priorities"
                                layout="horizontal">

                </dx-radio-group>
              </div>
              <dxi-validation-rule type="required" message="상태를 입력해주십시오."></dxi-validation-rule>
            </dxi-item>
            <dxi-item dataField="ZCHECK1_TEXT">  <dxo-label text="내용"></dxo-label> </dxi-item>

            <dxi-item dataField="ZCHECK2">
              <dxo-label text="4. 복포 상태(구벙, 이물질)"></dxo-label>
              <div class="dx-field-value">
                <dx-radio-group #radioBox2
                                valueExpr="ID"
                                displayExpr="Name"
                                [items]="priorities"
                                layout="horizontal">
                </dx-radio-group>
              </div>
              <dxi-validation-rule type="required" message="상태를 입력해주십시오."></dxi-validation-rule>
            </dxi-item>
            <dxi-item dataField="ZCHECK2_TEXT">  <dxo-label text="내용"></dxo-label> </dxi-item>

            <dxi-item dataField="ZCHECK3">
              <dxo-label text="5. 제품 먼지, 이물질 청결 상태"></dxo-label>
              <div class="dx-field-value">
                <dx-radio-group #radioBox3
                                valueExpr="ID"
                                displayExpr="Name"
                                [items]="priorities"
                                layout="horizontal">
                </dx-radio-group>
              </div>
              <dxi-validation-rule type="required" message="상태를 입력해주십시오."></dxi-validation-rule>
            </dxi-item>
            <dxi-item dataField="ZCHECK3_TEXT">  <dxo-label text="내용"></dxo-label> </dxi-item>

            <dxi-item dataField="ZCHECK4">
              <dxo-label text="6. 바닥 물고임이나 파인 곳"></dxo-label>
              <div class="dx-field-value">
                <dx-radio-group #radioBox4
                                valueExpr="ID"
                                displayExpr="Name"
                                [items]="priorities"
                                layout="horizontal">
                </dx-radio-group>
              </div>
              <dxi-validation-rule type="required" message="상태를 입력해주십시오."></dxi-validation-rule>
            </dxi-item>
            <dxi-item dataField="ZCHECK4_TEXT">  <dxo-label text="내용"></dxo-label> </dxi-item>

            <dxi-item dataField="ZCHECK5">
              <dxo-label text="7. 차량 및 지게차 청결 상태"></dxo-label>
              <div class="dx-field-value">
                <dx-radio-group #radioBox5
                                valueExpr="ID"
                                displayExpr="Name"
                                [items]="priorities"
                                layout="horizontal">
                </dx-radio-group>
              </div>
              <dxi-validation-rule type="required" message="상태를 입력해주십시오."></dxi-validation-rule>
            </dxi-item>
            <dxi-item dataField="ZCHECK5_TEXT">  <dxo-label text="내용"></dxo-label> </dxi-item>
          </dxi-item>

          <dxi-item itemType="group" caption="항목2" [colCount]="2" [colSpan]="2">

            <dxi-item dataField="ZCHECK6">
              <dxo-label text="8. 비료 재고 차이"></dxo-label>
              <div class="dx-field-value">
                <dx-radio-group #radioBox6
                                valueExpr="ID"
                                displayExpr="Name"
                                [items]="priorities1"
                                layout="horizontal">
                </dx-radio-group>
              </div>
              <dxi-validation-rule type="required" message="상태를 입력해주십시오."></dxi-validation-rule>
            </dxi-item>
            <dxi-item dataField="ZCHECK6_TEXT">  <dxo-label text="내용"></dxo-label> </dxi-item>

            <dxi-item dataField="ZCHECK7">
              <dxo-label text="9. 파렛트 재고 차이(KPP대사결과)"></dxo-label>
              <div class="dx-field-value">
                <dx-radio-group #radioBox7
                                valueExpr="ID"
                                displayExpr="Name"
                                [items]="priorities1"
                                layout="horizontal">
                </dx-radio-group>
              </div>
              <dxi-validation-rule type="required" message="상태를 입력해주십시오."></dxi-validation-rule>
            </dxi-item>
            <dxi-item dataField="ZCHECK7_TEXT">  <dxo-label text="내용"></dxo-label> </dxi-item>

            <dxi-item dataField="ZCHECK8">
              <dxo-label text="10. 제품 고결 / 흡습 상태"></dxo-label>
              <div class="dx-field-value">
                <dx-radio-group #radioBox8
                                valueExpr="ID"
                                displayExpr="Name"
                                [items]="priorities1"
                                layout="horizontal">
                </dx-radio-group>
              </div>
              <dxi-validation-rule type="required" message="상태를 입력해주십시오."></dxi-validation-rule>
            </dxi-item>
            <dxi-item dataField="ZCHECK8_TEXT">  <dxo-label text="내용"></dxo-label> </dxi-item>

            <dxi-item dataField="ZCHECK9">
              <dxo-label text="11. 판매가 어려운 정상 제품(10톤이상)"></dxo-label>
              <div class="dx-field-value">
                <dx-radio-group #radioBox9
                                valueExpr="ID"
                                displayExpr="Name"
                                [items]="priorities1"
                                layout="horizontal">
                </dx-radio-group>
              </div>
              <dxi-validation-rule type="required" message="상태를 입력해주십시오."></dxi-validation-rule>
            </dxi-item>
            <dxi-item dataField="ZCHECK9_TEXT">  <dxo-label text="내용"></dxo-label> </dxi-item>
          </dxi-item>


          <dxi-item itemType="group" [colCount]="2" [colSpan]="2">
            <dxi-item dataField="ZCHECK10" editorType="dxTextArea" [colSpan]="2" [editorOptions]="{ height: 100 }"><dxo-label text="12. 민원 발생 내용 및 경과사항(발생시)"></dxo-label></dxi-item>
          </dxi-item>
          <dxi-item itemType="group" [colCount]="2" [colSpan]="2">
            <dxi-item dataField="ZCHECK11" editorType="dxTextArea" [colSpan]="2" [editorOptions]="{ height: 100 }"><dxo-label text="13. 기타(수급포함) 건의사항"></dxo-label></dxi-item>
          </dxi-item>
        </dx-form>
      </div>
    </dx-scroll-view>

  </dx-popup>

  <!--더블클릭 이벤트-->
  <dx-popup width="90%"
            height="90%"
            margin="20px"
            [showTitle]="false"
            [dragEnabled]="false"
            [hideOnOutsideClick]="true"
            container=".dx-viewport"
            [showCloseButton]="false"
            [(visible)]="DBClikVisible">


    <dxi-toolbar-item text="물류기지 관리 CHECK LIST"
                      toolbar="top"
                      location="before">
    </dxi-toolbar-item>
    <dxi-toolbar-item widget="dxButton"
                      toolbar="top"
                      location="after"
                      [options]="DBClikCloseButtonOptions">
    </dxi-toolbar-item>

    <dx-scroll-view width="100%" height="100%">
      <div id="form-container">
        <dx-form direction="row" width="100%" [formData]="DBClikFormData" (onFieldDataChanged)="DataChanged($event,this)">

          <dxi-item itemType="group" [colCount]="3" [colSpan]="2">
            <dxi-item dataField="LGORT" [visible]="false"><dxo-label text="저장 위치"></dxo-label></dxi-item>
            <dxi-item dataField="LGOBE" [visible]="false"><dxo-label text="저장 위치 내역"></dxo-label></dxi-item>
            <dxi-item dataField="KUNNR" [visible]="false"><dxo-label text="고객 번호"></dxo-label></dxi-item>
          </dxi-item>
          <dxi-item itemType="group" [colCount]="3" [colSpan]="2">
            <dxi-item dataField="ZMAXCAPA" [visible]="false"><dxo-label text="최대비축량"></dxo-label></dxi-item>
            <dxi-item dataField="VKBUR" [visible]="false"><dxo-label text="영업소"></dxo-label></dxi-item>
          </dxi-item>
          <dxi-item itemType="group" [colCount]="3" [colSpan]="2">
            <dxi-item dataField="ZEDATE" [disabled]="true" editorType="dxDateBox" [editorOptions]="{dataType:'date',  displayFormat:'yyyy-MM-dd' }">
              <dxo-label text="검사일"></dxo-label>
            </dxi-item>
            <dxi-item dataField="ZNAME" [disabled]="true">
              <dxo-label text="확인담당자"></dxo-label>
            </dxi-item>
          </dxi-item>

          <dxi-item itemType="group" [colCount]="3" [colSpan]="2">
            <dxi-item dataField="NAME1" [disabled]="true">
              <dxo-label text="업체명"></dxo-label>
            </dxi-item>
            <dxi-item dataField="ZREPRESN" [disabled]="true">
              <dxo-label text="대표자"></dxo-label>
            </dxi-item>
          </dxi-item>

          <dxi-item itemType="group" [colCount]="4" [colSpan]="2">
            <dxi-item dataField="ZMYCAR" [colSpan]="2" [disabled]="true">
              <dxo-label text="자가차량"></dxo-label>
            </dxi-item>
            <dxi-item dataField="ZYARDSCALE1" [disabled]="true">
              <dxo-label text="창고 부지면적"></dxo-label>
            </dxi-item>
            <dxi-item dataField="ZYARDSCALE2" [disabled]="true">
              <dxo-label text="야적 부지면적"></dxo-label>
            </dxi-item>
          </dxi-item>

          <dxi-item itemType="group" [colCount]="4" [colSpan]="2">
            <dxi-item dataField="ZRENTCAR" [colSpan]="2" [disabled]="true">
              <dxo-label text="용차계약"></dxo-label>
            </dxi-item>
            <dxi-item dataField="ZYARDCAPA1" [disabled]="true">
              <dxo-label text="창고 비축가능량"></dxo-label>
            </dxi-item>
            <dxi-item dataField="ZYARDCAPA2" [disabled]="true">
              <dxo-label text="야적 비축가능량"></dxo-label>
            </dxi-item>
          </dxi-item>

          <dxi-item itemType="group" [colCount]="4" [colSpan]="2">
            <dxi-item dataField="ZFORKLIFT" [colSpan]="2" [disabled]="true">
              <dxo-label text="지게차"></dxo-label>
            </dxi-item>
            <dxi-item dataField="ZESTATE" [disabled]="true">
              <dxo-label text="부지소유"></dxo-label>
            </dxi-item>
            <dxi-item dataField="ZMAXCAPA" [disabled]="true">
              <dxo-label text="최대비축량"></dxo-label>
            </dxi-item>
          </dxi-item>

          <dxi-item itemType="group" [colCount]="3" [colSpan]="2">
            <dxi-item dataField="ZSTORAGE_STOCK" [disabled]="true">
              <dxo-label text="1. 제품 보관 창고"></dxo-label>
            </dxi-item>
            <dxi-item dataField="ZYARD_STOCK" [disabled]="true">
              <dxo-label text="야적 창고"></dxo-label>

            </dxi-item>
            <dxi-item dataField="ZTOTAL_STOCK" [disabled]="true"><dxo-label text="총 수량"></dxo-label></dxi-item>
          </dxi-item>
          <dxi-item itemType="group" [colCount]="3" [colSpan]="2">
            <dxi-item dataField="ZBLOCK_STOCK" [disabled]="true">
              <dxo-label text="2. 고결/파포 수량"></dxo-label>
            </dxi-item>
            <dxi-item dataField="ZUNIT" [disabled]="true">
              <dxo-label text="단위"></dxo-label>
            </dxi-item>
          </dxi-item>

          <dxi-item itemType="group" caption="항목1" [colCount]="2" [colSpan]="2">
            <dxi-item dataField="ZCHECK1">
              <dxo-label text="3. 복포 작업 상태"></dxo-label>
              <div class="dx-field-value">
                <dx-radio-group #radioBox1
                                valueExpr="ID"
                                [disabled]="true"
                                displayExpr="Name"
                                [items]="priorities"
                                [(value)]="value1"
                                layout="horizontal">

                </dx-radio-group>
              </div>
            </dxi-item>
            <dxi-item dataField="ZCHECK1_TEXT" [disabled]="true">  <dxo-label text="내용"></dxo-label> </dxi-item>

            <dxi-item dataField="ZCHECK2">
              <dxo-label text="4. 복포 상태(구벙, 이물질)"></dxo-label>
              <div class="dx-field-value">
                <dx-radio-group #radioBox2
                                valueExpr="ID"
                                displayExpr="Name"
                                [disabled]="true"
                                [items]="priorities"
                                [(value)]="value2"
                                layout="horizontal">
                </dx-radio-group>
              </div>
            </dxi-item>
            <dxi-item dataField="ZCHECK2_TEXT" [disabled]="true">  <dxo-label text="내용"></dxo-label> </dxi-item>

            <dxi-item dataField="ZCHECK3">
              <dxo-label text="5. 제품 먼지, 이물질 청결 상태"></dxo-label>
              <div class="dx-field-value">
                <dx-radio-group #radioBox3
                                valueExpr="ID"
                                [disabled]="true"
                                displayExpr="Name"
                                [items]="priorities"
                                [(value)]="value3"
                                layout="horizontal">
                </dx-radio-group>
              </div>
            </dxi-item>
            <dxi-item dataField="ZCHECK3_TEXT" [disabled]="true">  <dxo-label text="내용"></dxo-label> </dxi-item>

            <dxi-item dataField="ZCHECK4">
              <dxo-label text="6. 바닥 물고임이나 파인 곳"></dxo-label>
              <div class="dx-field-value">
                <dx-radio-group #radioBox4
                                valueExpr="ID"
                                [disabled]="true"
                                displayExpr="Name"
                                [items]="priorities"
                                [(value)]="value4"
                                layout="horizontal">
                </dx-radio-group>
              </div>
            </dxi-item>
            <dxi-item dataField="ZCHECK4_TEXT" [disabled]="true">  <dxo-label text="내용"></dxo-label> </dxi-item>

            <dxi-item dataField="ZCHECK5">
              <dxo-label text="7. 차량 및 지게차 청결 상태"></dxo-label>
              <div class="dx-field-value">
                <dx-radio-group #radioBox5
                                valueExpr="ID"
                                displayExpr="Name"
                                [disabled]="true"
                                [items]="priorities"
                                [(value)]="value5"
                                layout="horizontal">
                </dx-radio-group>
              </div>
            </dxi-item>
            <dxi-item dataField="ZCHECK5_TEXT" [disabled]="true">  <dxo-label text="내용"></dxo-label> </dxi-item>
          </dxi-item>

          <dxi-item itemType="group" caption="항목2" [colCount]="2" [colSpan]="2">

            <dxi-item dataField="ZCHECK6">
              <dxo-label text="8. 비료 재고 차이"></dxo-label>
              <div class="dx-field-value">
                <dx-radio-group #radioBox6
                                valueExpr="ID"
                                [disabled]="true"
                                displayExpr="Name"
                                [items]="priorities1"
                                [(value)]="value6"
                                layout="horizontal">
                </dx-radio-group>
              </div>
            </dxi-item>
            <dxi-item dataField="ZCHECK6_TEXT" [disabled]="true">  <dxo-label text="내용"></dxo-label> </dxi-item>

            <dxi-item dataField="ZCHECK7">
              <dxo-label text="9. 파렛트 재고 차이(KPP대사결과)"></dxo-label>
              <div class="dx-field-value">
                <dx-radio-group #radioBox7
                                valueExpr="ID"
                                [disabled]="true"
                                displayExpr="Name"
                                [items]="priorities1"
                                [(value)]="value7"
                                layout="horizontal">
                </dx-radio-group>
              </div>
            </dxi-item>
            <dxi-item dataField="ZCHECK7_TEXT" [disabled]="true">  <dxo-label text="내용"></dxo-label> </dxi-item>

            <dxi-item dataField="ZCHECK8">
              <dxo-label text="10. 제품 고결 / 흡습 상태"></dxo-label>
              <div class="dx-field-value">
                <dx-radio-group #radioBox8
                                valueExpr="ID"
                                [disabled]="true"
                                displayExpr="Name"
                                [items]="priorities1"
                                [(value)]="value8"
                                layout="horizontal">
                </dx-radio-group>
              </div>
            </dxi-item>
            <dxi-item dataField="ZCHECK8_TEXT" [disabled]="true">  <dxo-label text="내용"></dxo-label> </dxi-item>

            <dxi-item dataField="ZCHECK9">
              <dxo-label text="11. 판매가 어려운 정상 제품(10톤이상)"></dxo-label>
              <div class="dx-field-value">
                <dx-radio-group #radioBox9
                                valueExpr="ID"
                                displayExpr="Name"
                                [disabled]="true"
                                [items]="priorities1"
                                [(value)]="value9"
                                layout="horizontal">
                </dx-radio-group>
              </div>
            </dxi-item>
            <dxi-item dataField="ZCHECK9_TEXT" [disabled]="true">  <dxo-label text="내용"></dxo-label> </dxi-item>
          </dxi-item>


          <dxi-item itemType="group" [colCount]="2" [colSpan]="2">
            <dxi-item dataField="ZCHECK10" [disabled]="true" editorType="dxTextArea" [colSpan]="2" [editorOptions]="{ height: 100 }"><dxo-label text="12. 민원 발생 내용 및 경과사항(발생시)"></dxo-label></dxi-item>
          </dxi-item>
          <dxi-item itemType="group" [colCount]="2" [colSpan]="2">
            <dxi-item dataField="ZCHECK11" [disabled]="true" editorType="dxTextArea" [colSpan]="2" [editorOptions]="{ height: 100 }"><dxo-label text="13. 기타(수급포함) 건의사항"></dxo-label></dxi-item>
          </dxi-item>
        </dx-form>
      </div>
    </dx-scroll-view>

  </dx-popup>
</div>

<!-- 로딩 패널-->
<dx-load-panel #loadPanel [position]="{ of: '#pageContent' }" shadingColor="rgba(0,0,0,0.4)" [(visible)]="loadingVisible" [showIndicator]="true" [showPane]="true"
               [shading]="true" [hideOnOutsideClick]="true">
</dx-load-panel>

