<!--입찰신청투찰-->
<div style="margin:10px 10px 10px 10px">
  <dx-toolbar style="margin:20px 0px 20px 0px" width="99%">
    <dxi-item location="before"
              locateInMenu="auto">
      <div *dxTemplate style="margin-left:10px;">
        <div style="float:left; ">
          <dx-date-box [(value)]="startDate"
                       type="date"
                       [width]="120"
                       displayFormat="yyyy-MM-dd"
                       label="기간(From)"
                       (onValueChanged)="dateCheck($event)"></dx-date-box>
        </div>
        <div style="float:left; margin-left:10px;">
          <dx-date-box [(value)]="endDate"
                       type="date"
                       [width]="120"
                       displayFormat="yyyy-MM-dd"
                       label="기간(To)"
                       (onValueChanged)="dateCheck($event)"></dx-date-box>
        </div>
      </div>
    </dxi-item>

    <dxi-item location="before"
              locateInMenu="auto">
      <div *dxTemplate style="margin-left:15px;">
        <nh-possible-comm #PrgstatusEntry
                          [codeInfo]="PrgstatusCode"
                          dataStoreKey="obbg"
                          valueColumn="ZCM_CODE1"
                          valueDisplayFormat="[%ZCM_CODE1%]%ZCMF01_CH%"
                          [width]="200"
                          [gridBoxWidth]="500"
                          label="구분"
                          [(selectedValue)]="PrgstatusCodeValue"
                          popupGridScrollMode="standard"
                          [popupGridPagingMode]="true"
                          [popupGridPageSize]="10"
                          comboGridScrollMode="virtual"
                          (onDataLoaded)="onDataLoaded($event)"
                          [validationErrors]="[{type:'required', message:'구분을 선택하여 주십시오.'}]"
                          [showClearButton]="true">
          <nbp-validator [adapter]="PrgstatusAdapter">
            <dxi-validation-rule type="required" message="구분을 입력해주십시오."></dxi-validation-rule>
          </nbp-validator>
        </nh-possible-comm>
      </div>

    </dxi-item>

    <dxi-item location="before"
              widget="dxButton"
              horizontalAlignment="center"
              locateInMenu="center"
              style="margin-top:3px">
      <dx-button stylingMode="contained"
                 text="조회"
                 type="normal"
                 (onClick)="searchData()"
                 [width]="80"
                 style="margin-top:3px">
      </dx-button>
    </dxi-item>
    <dxi-item location="after"
              widget="dxButton"
              horizontalAlignment="center"
              locateInMenu="center"
              style="margin-top:3px">
      <dx-button stylingMode="contained"
                 text="상세내용"
                 type="normal"
                 (onClick)="DetailData()"
                 [width]="100"
                 [disabled]="!selectedItemKeys.length"
                 style="margin-top:3px">
      </dx-button>
    </dxi-item>
    <dxi-item location="after"
              widget="dxButton"
              horizontalAlignment="center"
              locateInMenu="center"
              style="margin-top:3px">
      <dx-button stylingMode="contained"
                 text="투찰내역"
                 type="normal"
                 (onClick)="BidList()"
                 [width]="100"
                 [disabled]="!selectedItemKeys.length"
                 style="margin-top:3px">
      </dx-button>
    </dxi-item>
    <dxi-item location="after"
              widget="dxButton"
              #buttonIem
              horizontalAlignment="center"
              locateInMenu="center"
              style="margin-top:3px">
      <dx-button stylingMode="contained"
                 text="입찰 제출"
                 type="normal"
                 (onClick)="Bid()"
                 [width]="100"
                 [disabled]="!selectedItemKeys.length"
                 name="applyBtn"
                 style="margin-top:3px">
      </dx-button>
    </dxi-item>

  </dx-toolbar>


  <dx-data-grid id="bidGrid" #bidGrid
                [dataSource]="bidList"
                keyExpr="BIDNO"
                [showBorders]="true"
                [focusedRowIndex]="0"
                [noDataText]="noText"
                [selection]="{ mode: 'single' }"
                (onSelectionChanged)="selectionChanged($event)"
                height="calc(100vh - 230px)"
                [columnAutoWidth]="true"
                [allowColumnReordering]="true"
                columnResizingMode="widget"
                [allowColumnResizing]="true">
    <dxo-scrolling mode="infinite"></dxo-scrolling>
    <dxo-column-fixing [enabled]="true"></dxo-column-fixing>


    <dxo-filter-row visible="true"></dxo-filter-row>
    <dxo-header-filter [visible]="true" [allowSearch]="true"></dxo-header-filter>

    <dxo-search-panel [visible]="true"
                      [highlightCaseSensitive]="true"></dxo-search-panel>


    <!--Data column-->

    <dxi-column dataField="BIDSTT"
                caption="공고상태" [fixed]="true"
                dataType="string">
    </dxi-column>
    <dxi-column dataField="BIDNO"
                alignment="center"
                caption="공고번호" [fixed]="true">
    </dxi-column>
    <dxi-column dataField="BIDNM"
                caption="공고명" [fixed]="true">
    </dxi-column>
    <dxi-column dataField="S_BIDDTH"
                caption="입찰신청일자" dataType="date" format="yyyy-MM-dd"
                alignment="center">
    </dxi-column>
    <dxi-column dataField="S_BIDDTT"
                caption="입찰신청시간" dataType="datetime" format="HH:mm:ss" [visible]="false">
    </dxi-column>
    <dxi-column dataField="S_BIDRST" [visible]="false"
                caption="입찰신청결과">
    </dxi-column>
    <dxi-column dataField="S_BIDRSTT"
                caption="입찰신청결과">
    </dxi-column>
    <dxi-column dataField="BIDSEQ"
                caption="입찰차수">
    </dxi-column>
    <dxi-column dataField="BIDDTH"
                caption="입찰일자" dataType="date" format="yyyy-MM-dd"
                alignment="center">
    </dxi-column>
    <dxi-column dataField="BIDDTT"
                caption="입찰시간" dataType="datetime" format="HH:mm:ss" [visible]="false">
    </dxi-column>
    <dxi-column dataField="BIDAMT"
                caption="입찰금액" format="#,###" dataType="number">
    </dxi-column>
    <dxi-column dataField="BIDRST" [visible]="false"
                caption="입찰결과">
    </dxi-column>
    <dxi-column dataField="BIDRSTT"
                caption="입찰결과">
    </dxi-column>
    <dxi-column dataField="BIDDT" [fixed]="true"
                caption="공고일자" dataType="date" format="yyyy-MM-dd"
                alignment="center">
    </dxi-column>
    <dxi-column dataField="BIDRUL" [visible]="false"
                caption="입찰방법">
    </dxi-column>
    <dxi-column dataField="BIDRULT"
                caption="입찰방법">
    </dxi-column>
    <dxi-column dataField="BIDKD" [visible]="false"
                caption="입찰종류">
    </dxi-column>
    <dxi-column dataField="BIDKDT"
                caption="입찰종류">
    </dxi-column>
    <dxi-column dataField="ANDT"
                caption="현장설명회일자" dataType="date" format="yyyy-MM-dd"
                alignment="center">
    </dxi-column>
    <dxi-column dataField="ANDTH"
                caption="현장설명회시간" dataType="datetime" format="HH:mm:ss" [visible]="false">
    </dxi-column>
    <dxi-column dataField="ANLOC"
                caption="현장설명회장소">
    </dxi-column>
    <dxi-column dataField="RFQDTH"
                caption="견적마감일자" dataType="date" format="yyyy-MM-dd"
                alignment="center">
    </dxi-column>
    <dxi-column dataField="RFQDTT"
                caption="견적마감시간" dataType="datetime" format="HH:mm:ss" [visible]="false">
    </dxi-column>
    <dxi-column dataField="QTADT"
                caption="신청마감일자" dataType="date" format="yyyy-MM-dd"
                alignment="center">
    </dxi-column>
    <dxi-column dataField="QTADTH"
                caption="신청마감시간" dataType="datetime" format="HH:mm:ss" [visible]="false">
    </dxi-column>
    <dxi-column dataField="BISDTH"
                caption="입찰개시일자" dataType="date" format="yyyy-MM-dd"
                alignment="center">
    </dxi-column>
    <dxi-column dataField="BISDTT"
                caption="입찰개시시간" dataType="datetime" format="HH:mm:ss" [visible]="false">
    </dxi-column>
    <dxi-column dataField="BIFDTH"
                caption="입찰마감일자" dataType="date" format="yyyy-MM-dd"
                alignment="center">
    </dxi-column>
    <dxi-column dataField="BIFDTT"
                caption="입찰마감시간" dataType="datetime" format="HH:mm:ss" [visible]="false">
    </dxi-column>
    <dxi-column dataField="RFQSEQ"
                caption="견적차수">
    </dxi-column>
    <dxi-column dataField="R_RFQDTH"
                caption="견적제출일자" dataType="date" format="yyyy-MM-dd"
                alignment="center">
    </dxi-column>
    <dxi-column dataField="R_RFQDTT"
                caption="견적제출시간" dataType="datetime" format="HH:mm:ss" [visible]="false">
    </dxi-column>
    <dxi-column dataField="RFQAMT"
                caption="견적금액" format="#,###" dataType="number">
    </dxi-column>
    <dxi-column dataField="RFQRST" [visible]="false"
                caption="견적결과">
    </dxi-column>
    <dxi-column dataField="RFQRSTT"
                caption="견적결과">
    </dxi-column>


  </dx-data-grid>
</div>


<!-- 상세내용 팝업 -->
<dx-popup width="80%"
          height="80%"
          margin="20px"
          [showTitle]="false"
          [dragEnabled]="false"
          [hideOnOutsideClick]="true"
          container=".dx-viewport"
          [showCloseButton]="false"
          [(visible)]="detailVisible">


  <dxi-toolbar-item text="견적 상세내역"
                    toolbar="top"
                    location="before">
  </dxi-toolbar-item>
  <dxi-toolbar-item widget="dxButton"
                    toolbar="top"
                    location="after"
                    [options]="popupcloseButtonOptions">
  </dxi-toolbar-item>


  <dx-scroll-view width="100%" height="100%">
    <div id="form-container" style="margin-left:10px; margin-right:20px;">
      <dx-form id="estimatepopupForm" [formData]="detailData" #popupForm>

        <dxi-item itemType="group" [colCount]="3" [colSpan]="2">
          <dxi-item dataField="BIZNO" [disabled]="true" [editorOptions]="{ height: 30 , width: 250 }"><dxo-label text="사업자등록번호"></dxo-label></dxi-item>
          <dxi-item dataField="NAME1" [disabled]="true" [editorOptions]="{ height: 30 , width: 250 }"><dxo-label text="회사명"></dxo-label></dxi-item>
        </dxi-item>

        <dxi-item itemType="group" [colCount]="3" [colSpan]="2">
          <dxi-item dataField="BIDNO" [disabled]="true" [editorOptions]="{ height: 30 , width: 250 }"><dxo-label text="구매공고번호"></dxo-label></dxi-item>
          <dxi-item dataField="BIDTY" [visible]="false" [disabled]="true" [editorOptions]="{ height: 30 , width: 250 }"><dxo-label text="공고유형"></dxo-label></dxi-item>
          <dxi-item dataField="BIDTYT" [disabled]="true" [editorOptions]="{ height: 30 , width: 250 }"><dxo-label text="공고유형"></dxo-label></dxi-item>
          <dxi-item dataField="BIDNM" [disabled]="true" [editorOptions]="{ height: 30 , width: 250 }"><dxo-label text="공고명"></dxo-label></dxi-item>
        </dxi-item>

        <dxi-item itemType="group" [colCount]="3" [colSpan]="2" style="margin-top:5px;">
          <dxi-item dataField="DLVDT" [disabled]="true" editorType="dxDateBox" [editorOptions]="{ height: 30, width: 250, dataType:'date',  displayFormat:'yyyy-MM-dd' }"><dxo-label text="납기일자"></dxo-label></dxi-item>
          <dxi-item dataField="OFFNM" [disabled]="true" [editorOptions]="{ height: 30 , width: 250 }"><dxo-label text="구매부서 담당자"></dxo-label></dxi-item>
          <dxi-item dataField="OFFTEL" [disabled]="true" [editorOptions]="{ height: 30 , width: 250 }"><dxo-label text="구매부서담당자 전화번호"></dxo-label></dxi-item>
        </dxi-item>

        <dxi-item itemType="group" [colCount]="3" [colSpan]="2" style="margin-top:5px;">
          <dxi-item dataField="BIDDT" [disabled]="true" editorType="dxDateBox" [editorOptions]="{ height: 30, width: 250, dataType:'date',  displayFormat:'yyyy-MM-dd' }"><dxo-label text="공고일자"></dxo-label></dxi-item>
          <dxi-item dataField="AFNAM" [disabled]="true" [editorOptions]="{ height: 30 , width: 250 }"><dxo-label text="요청부서 담당자"></dxo-label></dxi-item>
          <dxi-item dataField="AFTEL" [disabled]="true" [editorOptions]="{ height: 30 , width: 250 }"><dxo-label text="요청부서담당자 전화번호"></dxo-label></dxi-item>
        </dxi-item>
        <dxi-item itemType="group" [colCount]="12" [colSpan]="2" style="margin-top:5px;">
          <dxi-item dataField="ANDTH" [disabled]="true" [colSpan]="3" editorType="dxDateBox" [editorOptions]="{ height: 30, dataType:'date',  displayFormat:'yyyy-MM-dd' }"><dxo-label text="현장설명회 일시"></dxo-label></dxi-item>
          <dxi-item dataField="ANDTT" [disabled]="true" [colSpan]="1" editorType="dxTextBox" [editorOptions]="{ height: 30, width:75, mask:'##:##:##',  showMaskMode:'onFocus' }"><dxo-label text="현장설명회 시간" [visible]="false"></dxo-label></dxi-item>
          <dxi-item dataField="ANLOC" [disabled]="true" [colSpan]="4" [editorOptions]="{ height: 30 , width: 250 }"><dxo-label text="현장설명회 장소"></dxo-label></dxi-item>
        </dxi-item>
        <dxi-item itemType="group" [colCount]="12" [colSpan]="2" style="margin-top:5px;">
          <dxi-item dataField="RFQDTH" [disabled]="true" [colSpan]="3" editorType="dxDateBox" [editorOptions]="{ height: 30, dataType:'date',  displayFormat:'yyyy-MM-dd' }"><dxo-label text="견적마감 일시"></dxo-label></dxi-item>
          <dxi-item dataField="RFQDTT" [disabled]="true" [colSpan]="1" editorType="dxTextBox" [editorOptions]="{ height: 30, width:75, mask:'##:##:##',  showMaskMode:'onFocus' }"><dxo-label text="견적마감 시간" [visible]="false"></dxo-label></dxi-item>
          <dxi-item dataField="BIDKD" [disabled]="true" [visible]="false" [editorOptions]="{ height: 30 , width: 250 }"><dxo-label text="입찰 종류"></dxo-label></dxi-item>
          <dxi-item dataField="BIDKDT" [disabled]="true" [colSpan]="4" [editorOptions]="{ height: 30 , width: 250 }"><dxo-label text="입찰 종류"></dxo-label></dxi-item>
          <dxi-item dataField="MAKERYN" [disabled]="true" [colSpan]="4" [editorOptions]="{ height: 30, width: 250  }"><dxo-label text="메이커등록여부"></dxo-label></dxi-item>

        </dxi-item>
        <dxi-item itemType="group" [colCount]="12" [colSpan]="2" style="margin-top:5px;">
          <dxi-item dataField="QTADTH" [disabled]="true" [colSpan]="3" editorType="dxDateBox" [editorOptions]="{ height: 30, dataType:'date',  displayFormat:'yyyy-MM-dd' }"><dxo-label text="입찰신청마감 일시"></dxo-label></dxi-item>
          <dxi-item dataField="QTADTT" [disabled]="true" [colSpan]="1" editorType="dxTextBox" [editorOptions]="{ height: 30, width:75, mask:'##:##:##',  showMaskMode:'onFocus' }"><dxo-label text="입찰신청마감 시간" [visible]="false"></dxo-label></dxi-item>
          <dxi-item dataField="BIDRUL" [disabled]="true" [visible]="false" [editorOptions]="{ height: 30, width: 250  }"><dxo-label text="입찰 방법"></dxo-label></dxi-item>
          <dxi-item dataField="BIDRULT" [disabled]="true" [colSpan]="4" [editorOptions]="{ height: 30, width: 250  }"><dxo-label text="입찰 방법"></dxo-label></dxi-item>
          <dxi-item dataField="VATTY" [disabled]="true" [visible]="false" [editorOptions]="{ height: 30, width: 250  }"><dxo-label text="부가세 여부"></dxo-label></dxi-item>
          <dxi-item dataField="VATTYT" [disabled]="true" [colSpan]="4" [editorOptions]="{ height: 30, width: 250  }"><dxo-label text="부가세 여부"></dxo-label></dxi-item>
        </dxi-item>
        <dxi-item itemType="group" [colCount]="12" [colSpan]="2" style="margin-top:5px;">
          <dxi-item dataField="BIFDTH" [disabled]="true" [colSpan]="3" editorType="dxDateBox" [editorOptions]="{ height: 30, dataType:'date',  displayFormat:'yyyy-MM-dd' }"><dxo-label text="입찰마감 일시"></dxo-label></dxi-item>
          <dxi-item dataField="BIFDTT" [disabled]="true" [colSpan]="1" editorType="dxTextBox" [editorOptions]="{ height: 30, width:75, mask:'##:##:##',  showMaskMode:'onFocus' }"><dxo-label text="입찰마감 시간" [visible]="false"></dxo-label></dxi-item>
          <dxi-item dataField="" [disabled]="true" [colSpan]="4" [editorOptions]="{ height: 30 , width: 250}"><dxo-label text="첨부파일"></dxo-label></dxi-item>
          <dxi-item location="after" [colSpan]="4"
                    horizontalAlignment="center"
                    locateInMenu="center">
            <dxo-label [visible]="false" text="첨부파일"></dxo-label>
            <div style="text-align: center; width: 100%">
              <dx-button stylingMode="contained"
                         text="첨부확인"
                         (onClick)="fileShowPopup()"
                         type="normal"
                         [width]="150">
              </dx-button>
            </div>
          </dxi-item>
        </dxi-item>

        <dxi-item itemType="group" [colCount]="3" [colSpan]="2" style="margin-top:5px;">
          <dxi-item dataField="GRETD" [disabled]="true" editorType="dxDateBox" [editorOptions]="{ height: 30, dataType:'date',  displayFormat:'yyyy-MM-dd' }"><dxo-label text="납품 가능 일시"></dxo-label></dxi-item>
          <dxi-item dataField="PAYTY" [disabled]="true" [label]="{text: '결재조건      '}" [editorOptions]="{ height: 30 , readOnly: true}">
            <div *dxTemplate>
              <nh-possible-comm #regulationEntery
                                dataStoreKey="obbg"
                                [codeInfo]="RegulationCode"
                                valueColumn="ZCM_CODE1"
                                valueDisplayFormat="%ZCMF01_CH%"
                                width="100%"
                                [showClearButton]="true"
                                [(selectedValue)]="RegulationValue"
                                popupGridScrollMode="standard"
                                [popupGridPagingMode]="true"
                                [popupGridPageSize]="10"
                                comboGridScrollMode="virtual"
                                (onDataLoaded)="onDataLoaded($event)">
              </nh-possible-comm>
            </div>
          </dxi-item>

          <dxi-item dataField="RFQSEQ" [disabled]="true" [editorOptions]="{ height: 30, width: 250}"><dxo-label text="견적차수"></dxo-label></dxi-item>

        </dxi-item>
        <dxi-item itemType="group" [colCount]="3" [colSpan]="2" style="margin-top:5px;">

          <dxi-item dataField="RFQAMT" [disabled]="true" editorType="dxNumberBox" [editorOptions]="{ height: 30, format : '#,##0' }"><dxo-label text="견적 금액 합계  "></dxo-label></dxi-item>

        </dxi-item>
      </dx-form>
    </div>

    <div id="popup-data-grid" style="margin-top:20px;">
      <dx-data-grid #estimateDataGrid
                    [remoteOperations]="false"
                    [dataSource]="dtlList"
                    [focusedRowIndex]="0"
                    [allowColumnReordering]="true"
                    [allowColumnResizing]="true"
                    [rowAlternationEnabled]="true"
                    [wordWrapEnabled]="true"
                    [selection]="{ mode: 'single' }"
                    [showBorders]="true"
                    [columnAutoWidth]="true"
                    [disabled]="true"
                    height="calc(50vh - 50px)">
        <dxo-paging [pageSize]="10"></dxo-paging>
        <dxo-scrolling mode="infinite"></dxo-scrolling>
        <dxo-editing mode="cell"
                     [allowDeleting]="false"
                     [allowAdding]="false"
                     [allowUpdating]="true">
        </dxo-editing>
        <dxo-selection mode="single"></dxo-selection>
        <dxo-column-fixing [enabled]="true"></dxo-column-fixing>
        <dxo-filter-row visible="true"></dxo-filter-row>
        <dxo-header-filter visible="true"></dxo-header-filter>

        <dxi-column dataField="BANFN"
                    caption="PR번호"
                    dataType="string"
                    [allowEditing]="false"
                    [fixed]="true">
        </dxi-column>

        <dxi-column dataField="BNFPO"
                    caption="항번"
                    dataType="string"
                    [allowEditing]="false"
                    [fixed]="true">
        </dxi-column>

        <dxi-column dataField="MATNR"
                    caption="자재번호"
                    width="120"
                    dataType="string"
                    [allowEditing]="false"
                    [fixed]="true">
        </dxi-column>
        <dxi-column dataField="MATNRT"
                    caption="내역"
                    width="120"
                    dataType="string"
                    [allowEditing]="false">
        </dxi-column>
        <dxi-column dataField="MATNR_LONG"
                    caption="내역"
                    width="300"
                    dataType="string"
                    [allowEditing]="false">
        </dxi-column>
        <dxi-column dataField="KMATN_SPEC"
                    caption="주장비스펙"
                    width="200"
                    dataType="string"
                    [allowEditing]="false">
        </dxi-column>


        <dxi-column dataField="MENGE"
                    caption="요청수량"
                    width="80"
                    format="#,###" dataType="number"
                    [allowEditing]="false">
        </dxi-column>

        <dxi-column dataField="MEINS"
                    caption="수량단위"
                    width="100"
                    dataType="string"
                    [allowEditing]="false">
        </dxi-column>

        <dxi-column dataField="RFQCST"
                    caption="견적단가"
                    width="120"
                    format="#,###" dataType="number"
                    [allowEditing]="true">
        </dxi-column>

        <dxi-column dataField="RFQCST1"
                    caption="견적공급가"
                    width="120"
                    format="#,###" dataType="number"
                    [allowEditing]="false">
        </dxi-column>

        <dxi-column dataField="RFQVAT"
                    caption="견적부가세"
                    width="120"
                    format="#,###" dataType="number"
                    [allowEditing]="false">
        </dxi-column>

        <dxi-column dataField="RFQAMT"
                    caption="견적총액"
                    width="120"
                    format="#,###" dataType="number"
                    [allowEditing]="false">
        </dxi-column>

        <dxi-column dataField="MAKER"
                    caption="메이커"
                    width="120"
                    dataType="string"
                    [allowEditing]="true">
        </dxi-column>

        <dxi-column dataField="REMARK"
                    caption="비고"
                    width="120"
                    dataType="string"
                    [allowEditing]="true">
        </dxi-column>


      </dx-data-grid>

    </div>
  </dx-scroll-view>

</dx-popup>


<dx-popup width="80%"
          height="80%"
          margin="20px"
          [showTitle]="false"
          [dragEnabled]="false"
          [hideOnOutsideClick]="true"
          container=".dx-viewport"
          [showCloseButton]="false"
          [(visible)]="bidVisible">


  <dxi-toolbar-item text="입찰 제출"
                    toolbar="top"
                    location="before">
  </dxi-toolbar-item>
  <!--

  <dxi-toolbar-item widget="dxButton"
                    toolbar="top"
                    location="after"
                    [options]="searchButtonOptions">
  </dxi-toolbar-item>
  -->
  <dxi-toolbar-item widget="dxButton"
                    toolbar="top"
                    location="after"
                    [options]="saveButtonOptions">
  </dxi-toolbar-item>
  <dxi-toolbar-item widget="dxButton"
                    toolbar="top"
                    location="after"
                    [options]="closeButtonOptions">
  </dxi-toolbar-item>

  <dx-scroll-view width="100%" height="100%">
    <div id="form-container">
      <!--
    <dx-form id="searchForm" searchForm [formData]="searchFormData"  style="margin-top:20px; margin-bottom:20px">
      <dxi-item itemType="group" [colCount]="3">
        <dxi-item dataField="BIDNO" [editorOptions]="{ height: 30 }"><dxo-label text="구매공고번호"></dxo-label></dxi-item>
        <dxi-item dataField="BIDST" [disabled]="true" [editorOptions]="{ height: 30 }"><dxo-label text="공고진행상태"></dxo-label></dxi-item>
      </dxi-item>
    </dx-form>
      -->
      <dx-form id="bidForm" [formData]="bidFormData" #popupForm>

        <dxi-item itemType="group" caption=" " [colCount]="3" [colSpan]="2">
          <dxi-item dataField="BIZNO" [disabled]="true" [editorOptions]="{ height: 30 }"><dxo-label text="사업자등록번호"></dxo-label></dxi-item>
          <dxi-item dataField="NAME1" [disabled]="true" [editorOptions]="{ height: 30 }"><dxo-label text="회사명"></dxo-label></dxi-item>
        </dxi-item>

        <dxi-item itemType="group" [colCount]="3" [colSpan]="2">
          <dxi-item dataField="BIDNO" [disabled]="true" [editorOptions]="{ height: 30 }"><dxo-label text="구매공고번호"></dxo-label></dxi-item>
          <dxi-item dataField="BIDTY" [disabled]="true" [visible]="false" [editorOptions]="{ height: 30 }"><dxo-label text="공고유형"></dxo-label></dxi-item>
          <dxi-item dataField="BIDTY" [disabled]="true" [editorOptions]="{ height: 30 }"><dxo-label text="공고유형"></dxo-label></dxi-item>
          <dxi-item dataField="BIDNM" [disabled]="true" [editorOptions]="{ height: 30 }"><dxo-label text="공고명"></dxo-label></dxi-item>
        </dxi-item>

        <dxi-item itemType="group" [colCount]="3" [colSpan]="2" style="margin-top:5px;">
          <dxi-item dataField="BIDDT" [disabled]="true" editorType="dxDateBox" [editorOptions]="{ height: 30, dataType:'date',  displayFormat:'yyyy-MM-dd' }"><dxo-label text="공고일자"></dxo-label></dxi-item>
          <dxi-item dataField="OFFNM" [disabled]="true" [editorOptions]="{ height: 30 }"><dxo-label text="구매부서 담당자"></dxo-label></dxi-item>
          <dxi-item dataField="OFFTEL" [disabled]="true" [editorOptions]="{ height: 30 }"><dxo-label text="구매부서담당자 전화번호"></dxo-label></dxi-item>
        </dxi-item>

        <dxi-item itemType="group" [colCount]="3" [colSpan]="2" style="margin-top:5px;">
          <dxi-item dataField="DLVDT" [disabled]="true" editorType="dxDateBox" [editorOptions]="{ height: 30, dataType:'date',  displayFormat:'yyyy-MM-dd' }"><dxo-label text="납기일자"></dxo-label></dxi-item>
          <dxi-item dataField="AFNAM" [disabled]="true" [editorOptions]="{ height: 30 }"><dxo-label text="요청부서 담당자"></dxo-label></dxi-item>
          <dxi-item dataField="AFTEL" [disabled]="true" [editorOptions]="{ height: 30 }"><dxo-label text="요청부서담당자 전화번호"></dxo-label></dxi-item>
        </dxi-item>
        <dxi-item itemType="group" [colCount]="12" style="margin-top:5px;">
          <dxi-item dataField="ANDTH" [disabled]="true" [colSpan]="3" editorType="dxDateBox" [editorOptions]="{ height: 30, dataType:'date',  displayFormat:'yyyy-MM-dd' }"><dxo-label text="현장설명회 일시"></dxo-label></dxi-item>
          <dxi-item dataField="ANDTT" [disabled]="true" [colSpan]="1" editorType="dxTextBox" [editorOptions]="{ height: 30, mask:'##:##:##',  showMaskMode:'onFocus' }"><dxo-label text="현장설명회 시간" [visible]="false"></dxo-label></dxi-item>
          <dxi-item dataField="ANLOC" [disabled]="true" [colSpan]="4" [editorOptions]="{ height: 30 }"><dxo-label text="현장설명회 장소"></dxo-label></dxi-item>
        </dxi-item>
        <dxi-item itemType="group" [colCount]="12" style="margin-top:5px;">
          <dxi-item dataField="RFQDTH" [disabled]="true" [colSpan]="3" editorType="dxDateBox" [editorOptions]="{ height: 30, dataType:'date',  displayFormat:'yyyy-MM-dd' }"><dxo-label text="견적마감 일시"></dxo-label></dxi-item>
          <dxi-item dataField="RFQDTT" [disabled]="true" editorType="dxTextBox" [colSpan]="1" [editorOptions]="{ height: 30, mask:'##:##:##',  showMaskMode:'onFocus' }"><dxo-label text="견적마감 시간" [visible]="false"></dxo-label></dxi-item>
          <dxi-item dataField="BIDKD" [disabled]="true" [visible]="false" [editorOptions]="{ height: 30 }"><dxo-label text="입찰 종류"></dxo-label></dxi-item>
          <dxi-item dataField="BIDKDT" [disabled]="true" [colSpan]="4" [editorOptions]="{ height: 30 }"><dxo-label text="입찰 종류"></dxo-label></dxi-item>
          <dxi-item dataField="MAKERYN" [disabled]="true" [colSpan]="4" [editorOptions]="{ height: 30 }"><dxo-label text="메이커등록여부"></dxo-label></dxi-item>

        </dxi-item>
        <dxi-item itemType="group" [colCount]="12" style="margin-top:5px;">
          <dxi-item dataField="QTADTH" [disabled]="true" [colSpan]="3" editorType="dxDateBox" [editorOptions]="{ height: 30, dataType:'date',  displayFormat:'yyyy-MM-dd' }"><dxo-label text="입찰신청마감 일시"></dxo-label></dxi-item>
          <dxi-item dataField="QTADTT" [disabled]="true" editorType="dxTextBox" [colSpan]="1" [editorOptions]="{ height: 30, mask:'##:##:##',  showMaskMode:'onFocus' }"><dxo-label text="입찰신청마감 시간" [visible]="false"></dxo-label></dxi-item>
          <dxi-item dataField="BIDRUL" [disabled]="true" [visible]="false" [editorOptions]="{ height: 30 }"><dxo-label text="입찰 방법"></dxo-label></dxi-item>
          <dxi-item dataField="BIDRULT" [disabled]="true" [colSpan]="4" [editorOptions]="{ height: 30 }"><dxo-label text="입찰 방법"></dxo-label></dxi-item>
          <dxi-item dataField="VATTY" [disabled]="true" [visible]="false" [editorOptions]="{ height: 30 }"><dxo-label text="부가세 여부"></dxo-label></dxi-item>
          <dxi-item dataField="VATTYT" [disabled]="true" [colSpan]="4" [editorOptions]="{ height: 30 }"><dxo-label text="부가세 여부"></dxo-label></dxi-item>
        </dxi-item>
        <dxi-item itemType="group" [colCount]="12" [colSpan]="2" style="margin-top:5px;">
          <dxi-item dataField="BIFDTH" [disabled]="true" [colSpan]="3" editorType="dxDateBox" [editorOptions]="{ height: 30, dataType:'date',  displayFormat:'yyyy-MM-dd' }"><dxo-label text="입찰마감 일시"></dxo-label></dxi-item>
          <dxi-item dataField="BIFDTT" [disabled]="true" editorType="dxTextBox" [colSpan]="1" [editorOptions]="{ height: 30, mask:'##:##:##',  showMaskMode:'onFocus' }"><dxo-label text="입찰마감 시간" [visible]="false"></dxo-label></dxi-item>
          <dxi-item dataField="" [colSpan]="4" [disabled]="true" [editorOptions]="{ height: 30 }"><dxo-label text="첨부파일"></dxo-label></dxi-item>
          <dxi-item location="after" [colSpan]="4"
                    horizontalAlignment="center"
                    locateInMenu="center">
            <dxo-label [visible]="false" text="첨부파일"></dxo-label>
            <div style="text-align: center; width: 100%">
              <dx-button stylingMode="contained"
                         text="자료첨부"
                         (onClick)="fileShowPopup()"
                         type="normal"
                         [width]="150">
              </dx-button>
            </div>
          </dxi-item>
        </dxi-item>
        <dxi-item itemType="group" [colCount]="3" [colSpan]="2" style="margin-top:5px;">
          <dxi-item dataField="GRETD" editorType="dxDateBox" [editorOptions]="{ height: 30, dataType:'date',  displayFormat:'yyyy-MM-dd' }">
            <dxi-validation-rule type="required" message="납품가능일자를 입력해주십시오."></dxi-validation-rule><dxo-label text="납품 가능 일자    "></dxo-label>
          </dxi-item>
          <dxi-item dataField="PAYTY" [disabled]="true" [label]="{text: '결재조건      '}" [editorOptions]="{ height: 30 , readOnly: true}">
            <div *dxTemplate>
              <nh-possible-comm #regulationEntery
                                dataStoreKey="obbg"
                                [codeInfo]="RegulationCode"
                                valueColumn="ZCM_CODE1"
                                valueDisplayFormat="%ZCMF01_CH%"
                                width="100%"
                                [showClearButton]="true"
                                [(selectedValue)]="RegulationValue"
                                popupGridScrollMode="standard"
                                [popupGridPagingMode]="true"
                                [popupGridPageSize]="10"
                                comboGridScrollMode="virtual"
                                (onDataLoaded)="onDataLoaded($event)">
              </nh-possible-comm>
            </div>
          </dxi-item>

        </dxi-item>
        <dxi-item itemType="group" [colCount]="3" [colSpan]="2" style="margin-top:5px;">
          <dxi-item dataField="RFQCST" editorType="dxNumberBox" [disabled]="true" [editorOptions]="{ height: 30 ,format : '#,##0' }"><dxo-label text="견적공급가액"></dxo-label></dxi-item>
          <dxi-item dataField="RFQVAT" editorType="dxNumberBox" [disabled]="true" [editorOptions]="{ height: 30 ,format : '#,##0'}"><dxo-label text="견적부가세"></dxo-label></dxi-item>
          <dxi-item dataField="RFQAMT" editorType="dxNumberBox" [disabled]="true" [editorOptions]="{ height: 30 ,format : '#,##0'}"><dxo-label text="견적총액"></dxo-label></dxi-item>
        </dxi-item>
        <dxi-item itemType="group" [colCount]="3" [colSpan]="2" style="margin-top:5px;">
          <dxi-item dataField="BIDCST" editorType="dxNumberBox" [disabled]="true" [editorOptions]="{ height: 30 ,format : '#,##0'}"><dxo-label text="이전제출공급가액"></dxo-label></dxi-item>
          <dxi-item dataField="BIDVAT" editorType="dxNumberBox" [disabled]="true" [editorOptions]="{ height: 30 ,format : '#,##0'}"><dxo-label text="이전제출부가세"></dxo-label></dxi-item>
          <dxi-item dataField="BIDAMT" editorType="dxNumberBox" [disabled]="true" [editorOptions]="{ height: 30 ,format : '#,##0'}"><dxo-label text="이전제출총액"></dxo-label></dxi-item>
        </dxi-item>
        <dxi-item itemType="group" [colCount]="3" [colSpan]="2" style="margin-top:5px;">
          <dxi-item dataField="BIDCST_I">
            <dxi-validation-rule type="required" message="총공급가액을 입력해주십시오."></dxi-validation-rule>
            <dxo-label text="총공급가액"></dxo-label>
            <div *dxTemplate>
              <dx-number-box (onValueChanged)="amt($event)" [(value)]="bidcstValue" format="#,###"></dx-number-box>
            </div>
          </dxi-item>
          <dxi-item dataField="BIDVAT_I" [disabled]="true" editorType="dxNumberBox" [editorOptions]="{ height: 30 ,format : '#,##0'}"><dxo-label text="부가세"></dxo-label></dxi-item>
          <dxi-item dataField="BIDAMT_I" [disabled]="true" editorType="dxNumberBox" [editorOptions]="{ height: 30 ,format : '#,##0'}"><dxo-label text="입찰총액"></dxo-label></dxi-item>
        </dxi-item>

      </dx-form>
    </div>

    <div id="popup-data-grid" style="margin-top:20px;">
      <dx-data-grid #bidDataGrid
                    [remoteOperations]="false"
                    [dataSource]="bidGridData"
                    [focusedRowIndex]="0"
                    [allowColumnReordering]="true"
                    [allowColumnResizing]="true"
                    [wordWrapEnabled]="true"
                    [rowAlternationEnabled]="true"
                    [showBorders]="true"
                    [disabled]="true"
                    [columnAutoWidth]="true"
                    height="calc(50vh - 50px)">
        <dxo-paging [pageSize]="10"></dxo-paging>
        <dxo-scrolling mode="infinite"></dxo-scrolling>
        <dxo-editing mode="cell"
                     [allowDeleting]="false"
                     [allowAdding]="false"
                     [allowUpdating]="true">
        </dxo-editing>
        <dxo-selection mode="single"></dxo-selection>
        <dxo-filter-row visible="true"></dxo-filter-row>
        <dxo-column-fixing [enabled]="true"></dxo-column-fixing>
        <dxo-header-filter visible="true"></dxo-header-filter>

        <dxi-column dataField="BANFN"
                    caption="PR번호"
                    dataType="string"
                    [allowEditing]="false"
                    [fixed]="true">
        </dxi-column>

        <dxi-column dataField="BNFPO"
                    caption="항번"
                    dataType="string"
                    [allowEditing]="false"
                    [fixed]="true">
        </dxi-column>

        <dxi-column dataField="MATNR"
                    caption="자재번호"
                    dataType="string"
                    width="120"
                    [allowEditing]="false"
                    [fixed]="true">
        </dxi-column>
        <dxi-column dataField="MATNRT"
                    caption="내역"
                    dataType="string"
                    [allowEditing]="false">
        </dxi-column>

        <dxi-column dataField="MATNR_LONG"
                    caption="내역"
                    width="300"
                    dataType="string"
                    [allowEditing]="false">
        </dxi-column>
        <dxi-column dataField="KMATN_SPEC"
                    caption="주장비스펙"
                    width="200"
                    dataType="string"
                    [allowEditing]="false">
        </dxi-column>

        <dxi-column dataField="MENGE"
                    caption="요청수량"
                    width="80"
                    format="#,###" dataType="number"
                    [allowEditing]="false">
        </dxi-column>

        <dxi-column dataField="MEINS"
                    caption="수량단위"
                    width="100"
                    dataType="string"
                    [allowEditing]="false">
        </dxi-column>

        <dxi-column dataField="REMARK"
                    caption="비고"
                    dataType="string"
                    width="120"
                    [allowEditing]="true">
        </dxi-column>


      </dx-data-grid>

    </div>

    <div style="text-align:right;">
      <dx-check-box [(value)]="checkBoxValue" [visible]="checkVisible" text="투찰금액이 견적금액 대비 50%이상 낮음을 확인하였고, 이에 따른 입찰결과에 이의를 제기하지 않음을 동의하시겠습니까?"></dx-check-box>
    </div>
  </dx-scroll-view>

</dx-popup>



<dx-popup width="80%"
          height="80%"
          margin="20px"
          [showTitle]="false"
          [dragEnabled]="false"
          [hideOnOutsideClick]="true"
          container=".dx-viewport"
          [showCloseButton]="false"
          [(visible)]="bidListVisible">


  <dxi-toolbar-item text="투찰 내역"
                    toolbar="top"
                    location="before">
  </dxi-toolbar-item>
  <!--

  <dxi-toolbar-item widget="dxButton"
                    toolbar="top"
                    location="after"
                    [options]="searchButtonOptions">
  </dxi-toolbar-item>
  -->

  <dxi-toolbar-item widget="dxButton"
                    toolbar="top"
                    location="after"
                    [options]="deleteButtonOptions">
  </dxi-toolbar-item>
  <dxi-toolbar-item widget="dxButton"
                    toolbar="top"
                    location="after"
                    [options]="modifyButtonOptions">
  </dxi-toolbar-item>
  <dxi-toolbar-item widget="dxButton"
                    toolbar="top"
                    location="after"
                    [options]="BidcloseButtonOptions">
  </dxi-toolbar-item>

  <dx-scroll-view width="100%" height="100%">
    <div id="form-container">

      <dx-form id="searchForm" searchForm [formData]="searchFormData" style="margin-top:20px; margin-bottom:20px">
        <dxi-item itemType="group" [colCount]="3">
          <dxi-item dataField="seqSelect">
            <dxo-label text="조회차수"></dxo-label>
            <div *dxTemplate>
              <dx-select-box [dataSource]="selectList"
                             displayExpr="name"
                             valueExpr="seq"
                             [(value)]="seqSelect"
                             width="200"
                             (onValueChanged)="seqChange($event)"></dx-select-box>
            </div>
            <!--
          <dxi-item dataField="BIDNO" [editorOptions]="{ heigh t: 30 }"><dxo-label text="구매공고번호"></dxo-label></dxi-item>
          <dxi-item dataField="BIDST" [disabled]="true" [editorOptions]="{ height: 30 }"><dxo-label text="공고진행상태"></dxo-label></dxi-item>
          -->
          </dxi-item>
        </dxi-item>
      </dx-form>

      <dx-form id="bidListForm" [formData]="bidListFormData" #popupForm>

        <dxi-item itemType="group" [colCount]="3" [colSpan]="2">
          <dxi-item dataField="BIZNO" [disabled]="true" [editorOptions]="{ height: 30 }"><dxo-label text="사업자등록번호"></dxo-label></dxi-item>
          <dxi-item dataField="NAME1" [disabled]="true" [editorOptions]="{ height: 30 }"><dxo-label text="회사명"></dxo-label></dxi-item>
        </dxi-item>

        <dxi-item itemType="group" [colCount]="3" [colSpan]="2">
          <dxi-item dataField="BIDTY" [disabled]="true" [visible]="false" [editorOptions]="{ height: 30 }"><dxo-label text="공고유형"></dxo-label></dxi-item>
          <dxi-item dataField="BIDTY" [disabled]="true" [editorOptions]="{ height: 30 }"><dxo-label text="공고유형"></dxo-label></dxi-item>
          <dxi-item dataField="BIDNO" [disabled]="true" [editorOptions]="{ height: 30 }"><dxo-label text="구매공고번호"></dxo-label></dxi-item>
          <dxi-item dataField="BIDNM" [disabled]="true" [editorOptions]="{ height: 30 }"><dxo-label text="공고명"></dxo-label></dxi-item>
        </dxi-item>

        <dxi-item itemType="group" [colCount]="3" [colSpan]="2" style="margin-top:5px;">
          <dxi-item dataField="BIDDT" [disabled]="true" editorType="dxDateBox" [editorOptions]="{ height: 30, dataType:'date',  displayFormat:'yyyy-MM-dd' }"><dxo-label text="공고일자"></dxo-label></dxi-item>
          <dxi-item dataField="OFFNM" [disabled]="true" [editorOptions]="{ height: 30 }"><dxo-label text="구매부서 담당자"></dxo-label></dxi-item>
          <dxi-item dataField="OFFTEL" [disabled]="true" [editorOptions]="{ height: 30 }"><dxo-label text="구매부서담당자 전화번호"></dxo-label></dxi-item>
        </dxi-item>

        <dxi-item itemType="group" [colCount]="3" [colSpan]="2" style="margin-top:5px;">
          <dxi-item dataField="DLVDT" [disabled]="true" editorType="dxDateBox" [editorOptions]="{ height: 30, dataType:'date',  displayFormat:'yyyy-MM-dd' }"><dxo-label text="납기일자"></dxo-label></dxi-item>
          <dxi-item dataField="AFNAM" [disabled]="true" [editorOptions]="{ height: 30 }"><dxo-label text="요청부서 담당자"></dxo-label></dxi-item>
          <dxi-item dataField="AFTEL" [disabled]="true" [editorOptions]="{ height: 30 }"><dxo-label text="요청부서담당자 전화번호"></dxo-label></dxi-item>
        </dxi-item>
        <dxi-item itemType="group" [colCount]="12" style="margin-top:5px;">
          <dxi-item dataField="ANDTH" [disabled]="true" [colSpan]="3" editorType="dxDateBox" [editorOptions]="{ height: 30, dataType:'date',  displayFormat:'yyyy-MM-dd' }"><dxo-label text="현장설명회 일시"></dxo-label></dxi-item>
          <dxi-item dataField="ANDTT" [disabled]="true" [colSpan]="1" editorType="dxTextBox" [editorOptions]="{ height: 30, mask:'##:##:##',  showMaskMode:'onFocus' }"><dxo-label text="현장설명회 시간" [visible]="false"></dxo-label></dxi-item>
          <dxi-item dataField="ANLOC" [disabled]="true" [colSpan]="4" [editorOptions]="{ height: 30 }"><dxo-label text="현장설명회 장소"></dxo-label></dxi-item>
        </dxi-item>
        <dxi-item itemType="group" [colCount]="12" style="margin-top:5px;">
          <dxi-item dataField="RFQDTH" [disabled]="true" [colSpan]="3" editorType="dxDateBox" [editorOptions]="{ height: 30, dataType:'date',  displayFormat:'yyyy-MM-dd' }"><dxo-label text="견적마감 일시"></dxo-label></dxi-item>
          <dxi-item dataField="RFQDTT" [disabled]="true" editorType="dxTextBox" [colSpan]="1" [editorOptions]="{ height: 30, mask:'##:##:##',  showMaskMode:'onFocus' }"><dxo-label text="견적마감 시간" [visible]="false"></dxo-label></dxi-item>
          <dxi-item dataField="BIDKD" [disabled]="true" [visible]="false" [editorOptions]="{ height: 30 }"><dxo-label text="입찰 종류"></dxo-label></dxi-item>
          <dxi-item dataField="BIDKDT" [disabled]="true" [colSpan]="4" [editorOptions]="{ height: 30 }"><dxo-label text="입찰 종류"></dxo-label></dxi-item>
          <dxi-item dataField="MAKERYN" [disabled]="true" [colSpan]="4" [editorOptions]="{ height: 30 }"><dxo-label text="메이커등록여부"></dxo-label></dxi-item>

        </dxi-item>
        <dxi-item itemType="group" [colCount]="12" style="margin-top:5px;">
          <dxi-item dataField="QTADTH" [disabled]="true" [colSpan]="3" editorType="dxDateBox" [editorOptions]="{ height: 30, dataType:'date',  displayFormat:'yyyy-MM-dd' }"><dxo-label text="입찰신청마감 일시"></dxo-label></dxi-item>
          <dxi-item dataField="QTADTT" [disabled]="true" editorType="dxTextBox" [colSpan]="1" [editorOptions]="{ height: 30, mask:'##:##:##',  showMaskMode:'onFocus' }"><dxo-label text="입찰신청마감 시간" [visible]="false"></dxo-label></dxi-item>
          <dxi-item dataField="BIDRUL" [disabled]="true" [visible]="false" [editorOptions]="{ height: 30 }"><dxo-label text="입찰 방법"></dxo-label></dxi-item>
          <dxi-item dataField="BIDRULT" [disabled]="true" [colSpan]="4" [editorOptions]="{ height: 30 }"><dxo-label text="입찰 방법"></dxo-label></dxi-item>
          <dxi-item dataField="VATTY" [disabled]="true" [visible]="false" [editorOptions]="{ height: 30 }"><dxo-label text="부가세 여부"></dxo-label></dxi-item>
          <dxi-item dataField="VATTYT" [disabled]="true" [colSpan]="4" [editorOptions]="{ height: 30 }"><dxo-label text="부가세 여부"></dxo-label></dxi-item>
        </dxi-item>
        <dxi-item itemType="group" [colCount]="12" [colSpan]="2" style="margin-top:5px;">
          <dxi-item dataField="BIFDTH" [disabled]="true" [colSpan]="3" editorType="dxDateBox" [editorOptions]="{ height: 30, dataType:'date',  displayFormat:'yyyy-MM-dd' }"><dxo-label text="입찰마감 일시"></dxo-label></dxi-item>
          <dxi-item dataField="BIFDTT" [disabled]="true" editorType="dxTextBox" [colSpan]="1" [editorOptions]="{ height: 30, mask:'##:##:##',  showMaskMode:'onFocus' }"><dxo-label text="입찰마감 시간" [visible]="false"></dxo-label></dxi-item>
          <dxi-item dataField="" [colSpan]="4" [disabled]="true" [editorOptions]="{ height: 30 }"><dxo-label text="첨부파일"></dxo-label></dxi-item>
          <dxi-item location="after" [colSpan]="4"
                    horizontalAlignment="center"
                    locateInMenu="center">
            <dxo-label [visible]="false" text="첨부파일"></dxo-label>
            <div style="text-align: center; width: 100%">
              <dx-button stylingMode="contained"
                         text="첨부확인"
                         type="normal"
                         (onClick)="fileShowPopup()"
                         [width]="150">
              </dx-button>
            </div>
          </dxi-item>
        </dxi-item>

        <dxi-item itemType="group" [colCount]="3" [colSpan]="2" style="margin-top:5px;">
          <dxi-item dataField="GRETD" #gretdIn editorType="dxDateBox" [editorOptions]="{ height: 30, dataType:'date',  displayFormat:'yyyy-MM-dd' }">
            <dxi-validation-rule type="required" message="납품가능일자를 입력해주십시오."></dxi-validation-rule><dxo-label text="납품 가능 일자    "></dxo-label>
          </dxi-item>
          <dxi-item dataField="PAYTY" [disabled]="true" [label]="{text: '결재조건      '}" [editorOptions]="{ height: 30 , readOnly: true}">
            <div *dxTemplate>
              <nh-possible-comm #regulationEntery
                                dataStoreKey="obbg"
                                [codeInfo]="RegulationCode"
                                valueColumn="ZCM_CODE1"
                                valueDisplayFormat="%ZCMF01_CH%"
                                width="100%"
                                [showClearButton]="true"
                                [(selectedValue)]="RegulationValue"
                                popupGridScrollMode="standard"
                                [popupGridPagingMode]="true"
                                [popupGridPageSize]="10"
                                comboGridScrollMode="virtual"
                                (onDataLoaded)="onDataLoaded($event)">
              </nh-possible-comm>
            </div>
          </dxi-item>
          <dxi-item dataField="BIDRSTT" [disabled]="true" [editorOptions]="{ height: 30, width: 250}"><dxo-label text="입찰결과"></dxo-label></dxi-item>

        </dxi-item>
        <dxi-item itemType="group" [colCount]="3" [colSpan]="2" style="margin-top:5px;">
          <dxi-item dataField="RFQCST" editorType="dxNumberBox" [disabled]="true" [editorOptions]="{ height: 30 ,format : '#,##0' }"><dxo-label text="견적공급가액"></dxo-label></dxi-item>
          <dxi-item dataField="RFQVAT" editorType="dxNumberBox" [disabled]="true" [editorOptions]="{ height: 30 ,format : '#,##0'}"><dxo-label text="견적부가세"></dxo-label></dxi-item>
          <dxi-item dataField="RFQAMT" editorType="dxNumberBox" [disabled]="true" [editorOptions]="{ height: 30 ,format : '#,##0'}"><dxo-label text="견적총액"></dxo-label></dxi-item>
        </dxi-item>
        <dxi-item itemType="group" [colCount]="3" [colSpan]="2" style="margin-top:5px;">
          <dxi-item dataField="BIDCST_BEFORE" editorType="dxNumberBox" [disabled]="true" [editorOptions]="{ height: 30 ,format : '#,##0'}"><dxo-label text="이전제출공급가액"></dxo-label></dxi-item>
          <dxi-item dataField="BIDVAT_BEFORE" editorType="dxNumberBox" [disabled]="true" [editorOptions]="{ height: 30 ,format : '#,##0'}"><dxo-label text="이전제출부가세"></dxo-label></dxi-item>
          <dxi-item dataField="BIDAMT_BEFORE" editorType="dxNumberBox" [disabled]="true" [editorOptions]="{ height: 30 ,format : '#,##0'}"><dxo-label text="이전제출총액"></dxo-label></dxi-item>
        </dxi-item>
        <dxi-item itemType="group" [colCount]="3" [colSpan]="2" style="margin-top:5px;">
          <dxi-item dataField="BIDCST" #bidIn>
            <dxi-validation-rule type="required" message="총공급가액을 입력해주십시오."></dxi-validation-rule>
            <dxo-label text="총공급가액"></dxo-label>
            <div *dxTemplate>
              <dx-number-box (onValueChanged)="amtList($event)" [(value)]="bidListcstValue" format="#,##0" [(disabled)]="cstDisabled"></dx-number-box>
            </div>
          </dxi-item>
          <dxi-item dataField="BIDVAT" [disabled]="true" editorType="dxNumberBox" [editorOptions]="{ height: 30 ,format : '#,##0'}"><dxo-label text="부가세"></dxo-label></dxi-item>
          <dxi-item dataField="BIDAMT" [disabled]="true" editorType="dxNumberBox" [editorOptions]="{ height: 30 ,format : '#,##0'}"><dxo-label text="입찰총액"></dxo-label></dxi-item>
        </dxi-item>
      </dx-form>


    </div>

    <div id="popup-data-grid" style="margin-top:20px;">
      <dx-data-grid #bidListDataGrid
                    [remoteOperations]="false"
                    [dataSource]="bidListGridData"
                    [focusedRowIndex]="0"
                    [allowColumnReordering]="true"
                    [allowColumnResizing]="true"
                    [rowAlternationEnabled]="true"
                    [showBorders]="true"
                    [disabled]="true"
                    [wordWrapEnabled]="true"
                    [columnAutoWidth]="true"
                    height="calc(50vh - 155px)">
        <dxo-paging [pageSize]="10"></dxo-paging>

        <dxo-scrolling mode="infinite"></dxo-scrolling>
        <dxo-editing mode="cell"
                     [allowDeleting]="false"
                     [allowAdding]="false"
                     [allowUpdating]="true">
        </dxo-editing>
        <dxo-selection mode="single"></dxo-selection>
        <dxo-filter-row visible="true"></dxo-filter-row>
        <dxo-column-fixing [enabled]="true"></dxo-column-fixing>
        <dxo-header-filter visible="true"></dxo-header-filter>

        <dxi-column dataField="BANFN"
                    caption="PR번호"
                    dataType="string"
                    [allowEditing]="false"
                    [fixed]="true">
        </dxi-column>

        <dxi-column dataField="BNFPO"
                    caption="항번"
                    dataType="string"
                    [allowEditing]="false"
                    [fixed]="true">
        </dxi-column>

        <dxi-column dataField="MATNR"
                    caption="자재번호"
                    width="120"
                    dataType="string"
                    [allowEditing]="false"
                    [fixed]="true">
        </dxi-column>
        <dxi-column dataField="MATNRT"
                    caption="내역"
                    dataType="string"
                    [visible]="false"
                    [allowEditing]="false">
        </dxi-column>

        <dxi-column dataField="MATNR_LONG"
                    caption="내역"
                    width="300"
                    dataType="string"
                    [allowEditing]="false">
        </dxi-column>
        <dxi-column dataField="KMATN_SPEC"
                    caption="주장비스펙"
                    width="200"
                    dataType="string"
                    [allowEditing]="false">
        </dxi-column>

        <dxi-column dataField="MENGE"
                    caption="요청수량"
                    width="80"
                    format="#,###" dataType="number"
                    [allowEditing]="false">
        </dxi-column>

        <dxi-column dataField="MEINS"
                    caption="수량단위"
                    width="100"
                    dataType="string"
                    [allowEditing]="false">
        </dxi-column>

        <dxi-column dataField="REMARK"
                    caption="비고"
                    width="120"
                    dataType="string"
                    [allowEditing]="true">
        </dxi-column>


      </dx-data-grid>


    </div>

    <div style="text-align:right;">
      <dx-check-box [(value)]="checkListBoxValue" [visible]="checkListVisible" text="투찰금액이 견적금액 대비 50%이상 낮음을 확인하였고, 이에 따른 입찰결과에 이의를 제기하지 않음을 동의하시겠습니까?"></dx-check-box>
    </div>

  </dx-scroll-view>

</dx-popup>
<dx-load-panel #loadPanel [position]="{ of: '#pageContent' }" [(visible)]="loadingVisible" shadingColor="rgba(0,0,0,0.4)" [showIndicator]="true" [showPane]="true"
               [shading]="true" [hideOnOutsideClick]="true">
</dx-load-panel>


<dx-popup width="50%"
          height="50%"
          [showTitle]="true"
          title="첨부파일"
          [dragEnabled]="false"
          [showCloseButton]="false"
          container=".dx-viewport"
          [(visible)]="takePopupVisible">


  <dxi-toolbar-item widget="dxButton"
                    toolbar="top"
                    location="after"
                    [options]="closeFileButtonOptions">
  </dxi-toolbar-item>

  <attach-file #AttachFile
               selectButtonText="첨부파일 선택"
               uploadMode="useButtons"
               labelText="첨부 파일을 여기에 끌어다 놓으십시오."
               [multiple]="true"
               [value]="attachFiles"
               [uploadDocumentNo]="uploadDocumentNo"
               direction="vertical"
               [editingMode]="editingMode"
               [fileListHeight]="200">
  </attach-file>
</dx-popup>

