<!--
  W/O 진행현황
  -->
<div style="margin:10px 10px 0px 10px">

  <dx-toolbar style="margin: 20px 0px 20px 0px;padding:0px 5px 0px 5px">
    <dxi-item location="before" locateInMenu="auto">
      <div *dxTemplate>
        <div style="float:left; ">
          <dx-date-box [(value)]="startDate"
                       label="시작일"
                       type="date"
                       [width]="120"
                       displayFormat="yyyy-MM-dd"></dx-date-box>
        </div>

        <div style="float: left; margin-left: 10px;">
          <dx-date-box [(value)]="endDate"
                       label="종료일"
                       labelMode="floating"
                       type="date"
                       [width]="120"
                       displayFormat="yyyy-MM-dd"></dx-date-box>
        </div>
      </div>
    </dxi-item>

    <dxi-item location="before" locateInMenu="auto">
      <div *dxTemplate>
        <div style="width: 100px; float: left; margin-left: 10px; margin-right: 10px;">
          <dx-text-box [showClearButton]="true"
                       label="플랜트"
                       labelMode="floating"
                       [maxLength]="40"></dx-text-box>
        </div>
      </div>
    </dxi-item>


    <dxi-item location="before">
      <div *dxTemplate>
        <dx-button icon="search" (onClick)="refreshDataGrid($event)">
        </dx-button>
      </div>
    </dxi-item>


    <dxi-item location="after"
              widget="dxButton"
              locateInMenu="auto"
              style="margin-left:10px;"
              [height]="25"
              [options]="exportSelectedData">
    </dxi-item>
  </dx-toolbar>


  <dx-data-grid id="gcOrderData"
                [dataSource]="orderData"
                [remoteOperations]="false"
                [focusedRowIndex]="0"
                [allowColumnReordering]="true"
                [allowColumnResizing]="true"
                [rowAlternationEnabled]="true"
                [showBorders]="true"
                [columnAutoWidth]="true"
                keyExpr="AUFNR"
                [columnResizingMode]="columnResizeMode"
                height="calc(100vh - 155px)"
                [selection]="{ mode: 'multiple' }"
                (onSelectionChanged)="selectionChanged($event)"
                (onRowDblClick)="dblClick($event)"
                (onContentReady)="contentReady($event)">
    <dxo-scrolling mode="infinite"></dxo-scrolling>

    <dxo-selection mode="single"></dxo-selection>
    <dxo-filter-row visible="true"></dxo-filter-row>
    <dxo-header-filter visible="true"></dxo-header-filter>
    <!--Filtering Option-->
    <dxo-filter-panel [visible]="true"></dxo-filter-panel>
    <dxo-filter-builder [customOperations]="customOperations"
                        [allowHierarchicalFields]="true">
    </dxo-filter-builder>
    <dxo-filter-row [visible]="true"></dxo-filter-row>
    <dxo-header-filter [visible]="true"></dxo-header-filter>
    <!--Grouping Option-->
    <dxo-grouping #expand [autoExpandAll]="true"></dxo-grouping>
    <dxo-search-panel [visible]="true"
                      [highlightCaseSensitive]="true"></dxo-search-panel>

    <!--<dxo-group-panel [visible]="true"></dxo-group-panel>
    <dxo-grouping [autoExpandAll]="false"></dxo-grouping>-->

    <dxi-column dataField="AUFNR"
                caption="오더번호"
                dataType="string"></dxi-column>

    <dxi-column dataField="AUART"
                caption="오더유형"
                dataType="string"></dxi-column>

    <dxi-column dataField="KTEXT"
                caption="내역"
                dataType="string"></dxi-column>

    <dxi-column dataField="BUKRS"
                caption="회사번호"
                dataType="string"></dxi-column>

    <dxi-column dataField="WERKS_DESC"
                caption="플랜트"
                dataType="string"></dxi-column>

    <dxi-column dataField="GSBER_DESC"
                caption="사업영역"
                dataType="string"></dxi-column>

    <dxi-column dataField="STAT"
                caption="상태"
                dataType="string"></dxi-column>

    <dxi-column dataField="INGPR_DESC"
                caption="요청부서"
                dataType="string"></dxi-column>

    <dxi-column dataField="VAPLZ_DESC"
                caption="작업부서"
                dataType="string"></dxi-column>

    <dxi-column dataField="GSTRP"
                caption="시작일"
                dataType="date"
                format="yyyy-MM-dd"></dxi-column>

    <dxi-column dataField="GLTRP"
                caption="종료일"
                dataType="date"
                format="yyyy-MM-dd"></dxi-column>

    <dxi-column dataField="QMNUM"
                caption="통지번호"
                dataType="string"></dxi-column>

    <dxi-column dataField="EQUNR_DESC"
                caption="설비"
                dataType="string"></dxi-column>

  </dx-data-grid>

  <!-- 로딩 패널-->
  <dx-load-panel #loadPanel [position]="{ of: '#pageContent' }" shadingColor="rgba(0,0,0,0.4)" [(visible)]="loadingVisible" [showIndicator]="true" [showPane]="true"
                 [shading]="true" [hideOnOutsideClick]="true">
  </dx-load-panel>

  <dx-popup width="80%"
            height="80%"
            margin="20px"
            [showTitle]="true"
            title="W/O 상세현황"
            [dragEnabled]="false"
            [showCloseButton]="false"
            container=".dx-viewport"
            [(visible)]="popupVisible">

    <dxi-toolbar-item widget="dxButton"
                      toolbar="bottom"
                      location="after"
                      [options]="closeButtonOptions">
    </dxi-toolbar-item>
    <dx-scroll-view width="100%" height="100%">
      <div id="form-container">
        <div style="margin-bottom:20px">오더내역</div>

        <dx-form id="orderInfo" [formData]="orderInfo" width="80%">
          <dxi-item itemType="group" caption="" [colCount]="4">
            <dxi-item dataField="AUFNR"><dxo-label text="오더번호"></dxo-label></dxi-item>
            <dxi-item dataField="ARBEI"><dxo-label text="작업시간"></dxo-label></dxi-item>
            <dxi-item dataField="MEINH"><dxo-label text="작업단위"></dxo-label></dxi-item>

          </dxi-item>
          <dxi-item itemType="group" caption="" [colCount]="4">
            <dxi-item dataField="KURZTEXT" [colSpan]="2" [editorOptions]="{  placeholder: '40자까지 입력가능합니다.'}"><dxo-label text="요청 내역"></dxo-label></dxi-item>
            <dxi-item dataField="ANZZL"><dxo-label text="작업자수"></dxo-label></dxi-item>
            <dxi-item widget="dxButton">
              <dx-button stylingMode="contained"
                         text="자재요청"
                         type="normal"
                         (onClick)="ReqRecords()"
                         [width]="150">
              </dx-button>
            </dxi-item>
          </dxi-item>
        </dx-form>
      </div>

      <div style="margin-bottom: 20px;margin-top: 20px">사용자재정보</div>
      <dx-data-grid id="gcMaterialList"
                    [dataSource]="MaterialList"
                    [remoteOperations]="false"
                    [allowColumnReordering]="true"
                    [allowColumnResizing]="true"
                    [rowAlternationEnabled]="true"
                    [columnResizingMode]="columnResizeMode"
                    [columnAutoWidth]="true"
                    [showBorders]="true">

        <dxo-filter-row visible="true"></dxo-filter-row>
        <dxo-header-filter visible="true"></dxo-header-filter>

        <dxi-column dataField="AUFNR"
                    caption="오더번호"
                    dataType="string"></dxi-column>

        <dxi-column dataField="RSNUM"
                    caption="예약번호"
                    dataType="string"></dxi-column>

        <dxi-column dataField="WERKS"
                    caption="플랜트"
                    dataType="string"></dxi-column>

        <dxi-column dataField="LGORT"
                    caption="저장위치"
                    dataType="string"></dxi-column>

        <dxi-column dataField="LGOBE"
                    caption="저장위치명"
                    dataType="string"></dxi-column>

        <dxi-column dataField="MATNR"
                    caption="자재코드"
                    dataType="string"></dxi-column>

        <dxi-column dataField="MATNR_DESC"
                    caption="자재명"
                    dataType="string"></dxi-column>

        <dxi-column dataField="QTY_REQ"
                    caption="요청수량"
                    format="#,###.###"
                    dataType="number"></dxi-column>

        <dxi-column dataField="QTY_CON"
                    caption="사용수량"
                    format="#,###.###"
                    dataType="number"></dxi-column>

        <dxi-column dataField="QTY_REC"
                    caption="반납수량"
                    format="#,###.###"
                    dataType="number"></dxi-column>

        <dxi-column dataField="MEINS"
                    caption="수량단위"
                    dataType="string"></dxi-column>

      </dx-data-grid>

      <div style="margin-bottom: 20px;margin-top: 20px">고장정보</div>
      <dx-data-grid id="gcMaterialList"
                    [dataSource]="FaultInfo"
                    [remoteOperations]="false"
                    [columnResizingMode]="columnResizeMode"
                    [allowColumnReordering]="true"
                    [allowColumnResizing]="true"
                    [rowAlternationEnabled]="true"
                    [columnAutoWidth]="true"
                    [showBorders]="true">

        <dxo-filter-row visible="true"></dxo-filter-row>
        <dxo-header-filter visible="true"></dxo-header-filter>

        <dxi-column dataField="NOTIF_NO"
                    caption="통지번호"
                    dataType="string"></dxi-column>

        <dxi-column dataField="POSNR"
                    caption="항목번호"
                    dataType="string"></dxi-column>

        <dxi-column dataField="CAUSE_KEY"
                    caption="원인번호"
                    dataType="string"></dxi-column>

        <dxi-column dataField="KATALOGART"
                    caption="카탈로그"
                    dataType="string"></dxi-column>

        <dxi-column dataField="CODEGRUPPE"
                    caption="코드그룹"
                    dataType="string"></dxi-column>

        <dxi-column dataField="KURZTEXT_GR"
                    caption="그룹명"
                    dataType="string"></dxi-column>

        <dxi-column dataField="CODE"
                    caption="코드"
                    dataType="string"></dxi-column>

        <dxi-column dataField="KURZTEXT_CODE"
                    caption="코드명"
                    dataType="string"></dxi-column>

        <dxi-column dataField="FETXT"
                    caption="텍스트"
                    dataType="string"></dxi-column>

      </dx-data-grid>

      <div style="margin-bottom: 20px;margin-top: 20px">항목단가</div>
      <dx-data-grid id="gcMaterialList"
                    [dataSource]="ItemPrice"
                    [remoteOperations]="false"
                    [allowColumnReordering]="true"
                    [allowColumnResizing]="true"
                    [columnResizingMode]="columnResizeMode"
                    [rowAlternationEnabled]="true"
                    [columnAutoWidth]="true"
                    [showBorders]="true">

        <dxo-filter-row visible="true"></dxo-filter-row>
        <dxo-header-filter visible="true"></dxo-header-filter>

        <dxi-column dataField="AUFNR"
                    caption="오더번호"
                    dataType="string"></dxi-column>

        <dxi-column dataField="PAYITEM"
                    caption="자재번호"
                    dataType="string"></dxi-column>

        <dxi-column dataField="PAYITEM_DESC"
                    caption="자재명"
                    dataType="string"></dxi-column>

        <dxi-column dataField="QTY_REQ"
                    caption="요청수량"
                    format="#,###.###"
                    dataType="number"></dxi-column>

        <dxi-column dataField="QTY_CON"
                    caption="승인수량"
                    format="#,###.###"
                    dataType="number"></dxi-column>

        <dxi-column dataField="STAT"
                    caption="검수상태"
                    dataType="string"></dxi-column>

        <dxi-column dataField="MEINS"
                    caption="수량단위"
                    dataType="string"></dxi-column>

        <dxi-column dataField="WRBTR"
                    caption="금액"
                    format="#,###.###"
                    dataType="number"></dxi-column>

        <dxi-column dataField="WAERS"
                    caption="금액단위"
                    dataType="string"></dxi-column>

      </dx-data-grid>

      <div style="margin-bottom: 20px;margin-top: 20px">고장해결</div>
      <dx-data-grid id="gcMaterialList"
                    [dataSource]="TroubleshootingList"
                    [remoteOperations]="false"
                    [allowColumnReordering]="true"
                    [allowColumnResizing]="true"
                    [columnResizingMode]="columnResizeMode"
                    [rowAlternationEnabled]="true"
                    [columnAutoWidth]="true"
                    [showBorders]="true">

        <dxo-filter-row visible="true"></dxo-filter-row>
        <dxo-header-filter visible="true"></dxo-header-filter>

        <dxi-column dataField="QMNUM"
                    caption="통지번호"
                    dataType="string"></dxi-column>

        <dxi-column dataField="MANUM"
                    caption="순번"
                    dataType="string"></dxi-column>

        <dxi-column dataField="FENUM"
                    caption="품목번호"
                    dataType="string"></dxi-column>

        <dxi-column dataField="MNGRP"
                    caption="액비티비코드그룹"
                    dataType="string"></dxi-column>

        <dxi-column dataField="MNCOD"
                    caption="액비티비코드"
                    dataType="string"></dxi-column>

        <dxi-column dataField="MATXT"
                    caption="액티비티"
                    dataType="string"></dxi-column>

      </dx-data-grid>
    </dx-scroll-view>
  </dx-popup>
</div>
