<!--차량입출문 현황-->
<dx-toolbar style="margin:20px 0px 20px 0px" width="99%">
  <dxi-item location="before">
    <div *dxTemplate>
      <div style="float: left; margin-left: 10px;">
        <dx-date-box [(value)]="startDate" label="조회일자(From)" type="date" [width]="150" displayFormat="yyyy-MM-dd"></dx-date-box>
      </div>

      <div style="float: left; margin-left: 10px;">
        <dx-date-box [(value)]="endDate" label="조회일자(to)" type="date" [width]="150" displayFormat="yyyy-MM-dd"></dx-date-box>
      </div>
    </div>
  </dxi-item>
  <dxi-item location="after">
    <div *dxTemplate>
      <dx-button text="조회" (onClick)="searchButton($event)">
      </dx-button>
    </div>
  </dxi-item>
</dx-toolbar>







<dx-data-grid id="grid" #deleteGrid
              [dataSource]="orderData"
              keyExpr="VBELN"
              [showBorders]="true"
              [focusedRowIndex]="0"
              [selection]="{ mode: 'single' }"
              height="calc(100vh - 230px)"
              [columnAutoWidth]="true"
              (onContentReady)="contentReady($event)"
              [allowColumnReordering]="true"
              columnResizingMode="widget"
              [loadPanel]="loadPanelOption"
              [allowColumnResizing]="true">
  <dxo-scrolling mode="infinite"></dxo-scrolling>
  <dxo-paging [enabled]="false"></dxo-paging>
  <dxo-header-filter [visible]="true" [allowSearch]="true"></dxo-header-filter>
  <dxo-paging [pageSize]="10"></dxo-paging>
  <dxo-filter-panel [visible]="true"></dxo-filter-panel>
  <dxo-filter-builder [customOperations]="customOperations"
                      [allowHierarchicalFields]="true">
  </dxo-filter-builder>
  <dxo-filter-row [visible]="true"></dxo-filter-row>


  <!--Data column-->

  <dxi-column dataField="ZGW_GUBUN"
              caption="계근대 구분">
  </dxi-column>

  <dxi-column dataField="ZGW_DATE"
              caption="입출문일자"
              dataType="date"
              format="yyyy-MM-dd">
  </dxi-column>

  <dxi-column dataField="ZGW_TIME"
              caption="입출문시간"
              format="yyyy-MM-dd">
  </dxi-column>

  <dxi-column dataField="AEDAT"
              caption="최종변경일"
              dataType="date"
              format="yyyy-MM-dd">
  </dxi-column>

  <dxi-column dataField="AEZET"
              caption="최종변경시간"
              format="yyyy-MM-dd">
  </dxi-column>
  <!--<dxi-column dataField="ZGW_ORDNO"
              caption="주문번호">
  </dxi-column>-->

  <dxi-column dataField="ZGW_MAKTX"
              caption="제품명">
  </dxi-column>

  <dxi-column dataField="ZGW_NAME1"
              caption="업체명">
  </dxi-column>

  <dxi-column dataField="ZGW_ATGEW"
              caption="계측중량"
              format='#,##0'>
  </dxi-column>

  <dxi-column dataField="ZCARNO"
              caption="차량번호">
  </dxi-column>

  <dxi-column dataField="ZDRIVER"
              caption="운전기사">
  </dxi-column>

  <!--<dxi-column dataField="ZGW_SHIPNO"
              caption="배차번호">
  </dxi-column>-->

  <dxi-column dataField="ZGW_PER1"
              caption="검량자">
  </dxi-column>
</dx-data-grid>
