<!--배차등록(포장재)-->
<dx-toolbar style="margin:20px 0px 20px 0px" width="99%">
  <dxi-item location="before">
    <div *dxTemplate>
      <div style="float: left; margin-left: 10px;">
        <dx-date-box [(value)]="startDate" label="운송계획일(From)" type="date" [width]="150" displayFormat="yyyy-MM-dd"></dx-date-box>
      </div>
      <div style="float: left; margin-left: 10px;">
        <dx-date-box [(value)]="endDate" label="운송계획일(to)" type="date" [width]="150" displayFormat="yyyy-MM-dd"></dx-date-box>
      </div>
    </div>
  </dxi-item>

  <!--<dxi-item location="before">
    <div style="float: left; margin-left: 10px; ">
      <nh-possible-table #vsEntery
                         [dataStoreKey]="dataStoreKey"
                         [codeInfo]="vsCode"
                         valueColumn="VSTEL"
                         valueDisplayFormat="%VTEXT%(%VSTEL%)"
                         placeholderText="출하지점"
                         width="200"
                         label="출하지점"
                         [gridBoxWidth]="500"
                         (onDataLoaded)="onPEDataLoaded($event)"
                         [showClearButton]="true"
                         class="weight-test"></nh-possible-table>
    </div>
  </dxi-item>-->

  <dxi-item location="before">
    <div style="float: left; margin-left: 10px; ">
      <nh-possible-table #lgEntery
                         [dataStoreKey]="dataStoreKey"
                         [codeInfo]="lgCode"
                         valueColumn="LGORT"
                         valueDisplayFormat="%LGOBE%(%LGORT%)"
                         placeholderText="비료창고"
                         width="200"
                         label="비료창고"
                         [gridBoxWidth]="500"
                         (onDataLoaded)="onPEDataLoaded($event)"
                         [showClearButton]="true"
                         class="weight-test"></nh-possible-table>
    </div>
  </dxi-item>
  <dxi-item location="before" locateInMenu="auto">
    <div *dxTemplate style="float: left; margin-left: 10px; ">
      <dx-select-box [dataSource]="data2"
                     displayExpr="name"
                     valueExpr="code"
                     value="1000"
                     label="출하지점"
                     labelMode="floating"
                     (onValueChanged)="onData2ValueChanged($event)"></dx-select-box>
    </div>
  </dxi-item>
  <dxi-item location="before" locateInMenu="auto">
    <div *dxTemplate style="float: left; margin-left: 10px; ">
      <dx-select-box [dataSource]="carSeq"
                     displayExpr="name"
                     valueExpr="code"
                     value="1"
                     label="운송사구분"
                     labelMode="floating"
                     (onValueChanged)="onGubunValueChanged($event)"></dx-select-box>
    </div>
  </dxi-item>
  <dxi-item location="before" locateInMenu="auto">
    <div *dxTemplate style="float: left; margin-left: 10px; ">
      <nh-possible-comm [codeInfo]="tdlnrCode" #tdlnrEntery
                        [dataStoreKey]="dataStoreKey"
                        valueColumn="LIFNR"
                        valueDisplayFormat="%NAME1%(%LIFNR%)"
                        width="auto"
                        label="운송사"
                        labelMode="floating"
                        [showClearButton]="true"
                        [(selectedValue)]="tdlnrValue"
                        [gridBoxWidth]="500"
                        (onDataLoaded)="onPEDataLoaded($event)"
                        (onEntryValueChanged)="onTdlnrCodeValueChanged($event)"></nh-possible-comm>
    </div>
  </dxi-item>
  <dxi-item location="after">
    <div *dxTemplate>
      <dx-button text="배차등록" (onClick)="refAddOrder($event)">
      </dx-button>
    </div>
  </dxi-item>
  <dxi-item location="after"
            widget="dxButton"
            locateInMenu="auto"
            [height]="25"
            [options]="searchButtonOptions">
  </dxi-item>
</dx-toolbar>

<!--<dx-toolbar style="margin:20px 0px 20px 0px" width="99%">-->
<!--<dxi-item location="before">
  <div style="float: left; margin-left: 10px; ">
    <nh-possible-table [codeInfo]="maraCode"
                       valueColumn="KUNNR"
                       valueDisplayFormat="%NAME1%"
                       [width]="200"
                       [gridBoxWidth]="500"
                       label="제품구분"
                       groupFiled="SPART"></nh-possible-table>
  </div>
</dxi-item>-->
<!--<dxi-item location="before">
    <div *dxTemplate>
      <div style="float: left; margin-left: 10px;">
        <dx-text-box [showClearButton]="true"
                     label="납품번호"
                     labelMode="floating"
                     [maxLength]="40"></dx-text-box>
      </div>
    </div>
  </dxi-item>
  <dxi-item location="before">
    <div *dxTemplate>
      <div style="float: left; margin-left: 10px;">
        <dx-text-box [showClearButton]="true"
                     label="주문번호"
                     labelMode="floating"
                     [maxLength]="40"></dx-text-box>
      </div>
    </div>
  </dxi-item>
</dx-toolbar>-->


<dx-data-grid class="master" #orderGrid
              [dataSource]="orderData"
              keyExpr="VBELN"
              [showBorders]="true"
              [focusedRowIndex]="0"
              [selection]="{ mode: 'single' }"
              height="calc(100vh - 230px)"
              [columnAutoWidth]="true"
              (onContentReady)="contentReady($event)"
              [allowColumnReordering]="true"
              columnResizingMode="widget"
              [allowColumnResizing]="true">
  <!--(onRowDblClick)="orderDBClick($event)"-->
  <!--Datagrid Option-->
  <dxo-paging [pageSize]="10"></dxo-paging>
  <dxo-pager [showPageSizeSelector]="true" [showInfo]="true"></dxo-pager>


  <!--Filtering Option-->
  <dxo-filter-panel [visible]="true"></dxo-filter-panel>
  <dxo-filter-builder [customOperations]="customOperations"
                      [allowHierarchicalFields]="true">
  </dxo-filter-builder>
  <dxo-filter-builder-popup [position]="popupPosition">
  </dxo-filter-builder-popup>
  <dxo-filter-row [visible]="true"></dxo-filter-row>
  <dxo-header-filter [visible]="true" [allowSearch]="true"></dxo-header-filter>
  <dxo-scrolling mode="infinite"></dxo-scrolling>


  <!--Data column-->
  <dxi-column dataField="VBELN"
              caption="납품문서번호">
  </dxi-column>

  <dxi-column dataField="POSNR"
              caption="납품품번">
  </dxi-column>
  <dxi-column dataField="ZSEQUENCY"
              caption="납품분할순번">
  </dxi-column>
  <dxi-column dataField="VGBEL"
              caption="주문번호">
  </dxi-column>
  <dxi-column dataField="VGPOS"
              caption="주문품번">
  </dxi-column>
  <dxi-column dataField="NAME1"
              caption="납품처명">
  </dxi-column>
  <dxi-column dataField="STREET"
              caption="납품주소">
  </dxi-column>
  <dxi-column dataField="TDDAT"
              caption="운송계획일"
              dataType="date">
  </dxi-column>
  <dxi-column dataField="SPART"
              caption="제품군">
  </dxi-column>
  <dxi-column dataField="ARKTX"
              caption="자재명">
  </dxi-column>
  <dxi-column dataField="ZMENGE1"
              caption="주문수량">
  </dxi-column>
  <dxi-column dataField="ZMENGE2"
              caption="납품수량">
  </dxi-column>
  <dxi-column dataField="VRKME"
              caption="단위">
  </dxi-column>
  <dxi-column dataField="VSTEL"
              caption="출하지점">
  </dxi-column>
  <dxi-column dataField="LGORT"
              caption="저장위치">
  </dxi-column>
  <dxi-column dataField="ZMENGE4"
              caption="배차수량">
  </dxi-column>
  <dxi-column dataField="ZMENGE3"
              caption="출고수량">
  </dxi-column>
  <dxi-column dataField="WADAT_IST"
              caption="출고전기일"
              dataType="date">
  </dxi-column>
  <dxi-column dataField="BRGEW"
              caption="출하총중량">
  </dxi-column>
  <dxi-column dataField="GEWEI"
              caption="중량단위">
  </dxi-column>

  <dxi-column dataField="CITY1"
              caption="납품도시">
  </dxi-column>


</dx-data-grid>

<!-- 로딩 패널-->
<dx-load-panel #loadPanel [position]="{ of: '#pageContent' }" shadingColor="rgba(0,0,0,0.4)" [(visible)]="loadingVisible" [showIndicator]="true" [showPane]="true"
               [shading]="true" [hideOnOutsideClick]="true">
</dx-load-panel>

<!--배차등록팝업-->
<dx-popup width="80%"
          height="50%"
          [showTitle]="true"
          title="배차등록"
          [dragEnabled]="false"
          [showCloseButton]="false"
          container=".dx-viewport"
          [(visible)]="popupVisible">


  <dx-toolbar style="margin-bottom: 9px;">


    <dxi-item location="after"
              widget="dxButton"
              locateInMenu="auto"
              [height]="25"
              [options]="saveButtonOptions">
    </dxi-item>
    <dxi-item location="after">
      <div *dxTemplate>
        <dx-button text="분할" (onClick)="refAddOrder2($event)">
        </dx-button>
      </div>
    </dxi-item>
    <dxi-item location="after"
              widget="dxButton"
              locateInMenu="auto"
              [height]="25"
              [options]="closeButtonOptions">
    </dxi-item>

  </dx-toolbar>
  <div id="form-container">
    <dx-form id="popupForm" [formData]="popupData2">
      <dxi-item itemType="group" [colCount]="4" [colSpan]="2">
        <dxi-item dataField="VBELN" [disabled]="true"><dxo-label text="납품문서번호"></dxo-label></dxi-item>
        <dxi-item dataField="POSNR" [disabled]="true"><dxo-label text="납품품번"></dxo-label></dxi-item>
        <dxi-item dataField="ZMENGE2" [disabled]="true"><dxo-label text="납품총수량"></dxo-label></dxi-item>

        <dxi-item dataField="WADAT_IST" [disabled]="true" editorType="dxDateBox" [editorOptions]="{ displayFormat: 'yyyy-MM-dd', type: 'date', showClearButton : true , useMaskBehavior : true}"><dxo-label text="출고전기일자"></dxo-label></dxi-item>
      </dxi-item>
    </dx-form>
  </div>
  <div id="data-grid-demo" style="margin-top:20px;">

    <dx-data-grid id="gridContainer" #orderGrid2
                  [dataSource]="popupData"
                  keyExpr="ZSEQUENCY"
                  [showBorders]="true"
                  (onRowDblClick)="orderDBClick2($event)"
                  [selection]="{ mode: 'single' }"
                  (onSelectionChanged)="selectedChanged($event)"
                  [columnAutoWidth]="true">
      <dxo-editing mode="popup"
                   [allowDeleting]="true">
      </dxo-editing>
      <dxo-paging [enabled]="false"></dxo-paging>
      <dxi-column dataField="ZSEQUENCY" caption="분할번호"></dxi-column>
      <dxi-column dataField="ZMENGE4" caption="배차수량"></dxi-column>
      <dxi-column dataField="ZUNLOAD" caption="하차정보"></dxi-column>
      <dxi-column dataField="ZVKAUS" caption="용도"></dxi-column>
      <dxi-column dataField="ZPALLTP" caption="파렛트유형"></dxi-column>
      <dxi-column dataField="ZPALLETQTY" caption="파렛트수량"></dxi-column>
      <dxi-column dataField="ZCARTYPE" caption="화물차종"></dxi-column>
      <dxi-column dataField="ZCARNO" caption="차량번호"></dxi-column>
      <dxi-column dataField="ZDRIVER" caption="기사명1"></dxi-column>
      <dxi-column dataField="ZPHONE" caption="전화번호1"></dxi-column>
      <dxi-column dataField="ZDRIVER1" caption="기사명2"></dxi-column>
      <dxi-column dataField="ZPHONE1" caption="전화번호2"></dxi-column>
      <dxi-column dataField="ZSHIPMENT_DATE" caption="상차일자" dataType="date"></dxi-column>
      <dxi-column dataField="ZMENGE3" caption="출고수량"></dxi-column>
    </dx-data-grid>

  </div>
</dx-popup>

<!--배차추가 팝업-->
<dx-popup width="70%"
          height="60%"
          [showTitle]="true"
          title="배차추가"
          [dragEnabled]="false"
          [showCloseButton]="false"
          container=".dx-viewport"
          [(visible)]="popupVisible2">
  <dx-toolbar style="margin-bottom: 9px;">
    <dxi-item location="after"
              widget="dxButton"
              locateInMenu="auto"
              [height]="25"
              [options]="saveButtonOptions2">
    </dxi-item>
    <dxi-item location="after"
              widget="dxButton"
              locateInMenu="auto"
              [height]="25"
              [options]="closeButtonOptions2">
    </dxi-item>
  </dx-toolbar>
  <div id="form-container" style=" margin-bottom:5px">
    <dx-form id="popupForm" [formData]="popupData3">
      <dxi-item itemType="group" [colCount]="4" [colSpan]="2">
        <dxi-item dataField="ZMENGE2" [disabled]="true"><dxo-label text="납품총수량"></dxo-label></dxi-item>
        <dxi-item dataField="possible" [disabled]="true"><dxo-label text="배차가능량"></dxo-label></dxi-item>
        <!--<dxi-item dataField="ZMENGE4" [disabled]="true"><dxo-label text="총배차가능량"></dxo-label></dxi-item>-->
      </dxi-item>
    </dx-form>
  </div>
  <dx-scroll-view width="100%" height="100%">
    <div id="form-container">
      <dx-form id="popupForm" [formData]="addFormData">
        <dxi-item itemType="group"
                  caption="차량정보"
                  [colCount]="3"
                  [colSpan]="2">
          <dxi-item dataField="ZMENGE4" [editorOptions]="{ mode: 'number' }">  <dxo-label text="배차수량"></dxo-label>  </dxi-item>
          <dxi-item dataField="ZUNLOAD">
            <dxo-label text="하차방법"></dxo-label>
            <div *dxTemplate>
              <nh-possible-table #dd07tEntery
                                 [dataStoreKey]="dataStoreKey"
                                 [codeInfo]="dd07tCode"
                                 valueColumn="DOMVALUE_L"
                                 valueDisplayFormat="%DDTEXT%(%DOMVALUE_L%)"
                                 width="auto"
                                 [showClearButton]="true"
                                 [(selectedValue)]="zunloadValue"
                                 [gridBoxWidth]="500"
                                 class="weight-test"
                                 (onDataLoaded)="onPEDataLoaded($event)"
                                 [showDataLoadingPanel]="showDataLoadingPanel"
                                 (onEntryValueChanged)="onZunloadCodeValueChanged($event)"></nh-possible-table>
            </div>
          </dxi-item>
          <dxi-item dataField="ZVKAUS">
            <dxo-label text="용도"></dxo-label>
            <div *dxTemplate>
              <nh-possible-table #tvlvEntery
                                 [dataStoreKey]="dataStoreKey"
                                 [codeInfo]="tvlvCode"
                                 valueColumn="ABRVW"
                                 valueDisplayFormat="%BEZEI%(%ABRVW%)"
                                 width="auto"
                                 [(selectedValue)]="vkausValue"
                                 [gridBoxWidth]="500"
                                 class="weight-test"
                                 (onDataLoaded)="onPEDataLoaded($event)"
                                 [showDataLoadingPanel]="showDataLoadingPanel"
                                 (onEntryValueChanged)="onZvkausCodeValueChanged($event)"></nh-possible-table>
            </div>
          </dxi-item>
          <dxi-item dataField="ZPALLTP">
            <dxo-label text="파레트유형"></dxo-label>
            <div *dxTemplate>
              <nh-possible-table #zpalEntery
                                 [dataStoreKey]="dataStoreKey"
                                 [codeInfo]="zpalCode"
                                 valueColumn="DOMVALUE_L"
                                 valueDisplayFormat="%DDTEXT%(%DOMVALUE_L%)"
                                 width="auto"
                                 [(selectedValue)]="zpalValue"
                                 [gridBoxWidth]="500"
                                 class="weight-test"
                                 (onDataLoaded)="onPEDataLoaded($event)"
                                 [showDataLoadingPanel]="showDataLoadingPanel"
                                 (onEntryValueChanged)="onZpalltpCodeValueChanged($event)"></nh-possible-table>
            </div>
          </dxi-item>
          <dxi-item dataField="ZPALLETQTY"><dxo-label text="파렛트수량"></dxo-label></dxi-item>
          <dxi-item dataField="ZCARTYPE" [disabled]="false">
            <dxo-label text="화물차종"></dxo-label>
            <div *dxTemplate>
              <nh-possible-table #dd07tCarEntery
                                 [dataStoreKey]="dataStoreKey"
                                 [codeInfo]="dd07tCarCode"
                                 valueColumn="DOMVALUE_L"
                                 [showClearButton]="true"
                                 valueDisplayFormat="%DDTEXT%(%DOMVALUE_L%)"
                                 width="auto"
                                 [(selectedValue)]="zcarValue"
                                 [gridBoxWidth]="500"
                                 class="weight-test"
                                 (onDataLoaded)="onPEDataLoaded($event)"
                                 [showDataLoadingPanel]="showDataLoadingPanel"
                                 (onEntryValueChanged)="onZcartypeCodeValueChanged($event)"></nh-possible-table>
            </div>
          </dxi-item>
          <dxi-item dataField="ZCARNO">
            <dxo-label text="차량번호"></dxo-label>
            <div *dxTemplate>
              <nh-possible-table #zcarnoCodeEntery
                                 [dataStoreKey]="dataStoreKey"
                                 [codeInfo]="zcarnoCode"
                                 valueColumn="ZCARNO"
                                 [showClearButton]="true"
                                 valueDisplayFormat="%ZCARNO%"
                                 width="auto"
                                 [(selectedValue)]="zcarnoValue"
                                 [gridBoxWidth]="500"
                                 class="weight-test"
                                 (onDataLoaded)="onPEDataLoaded($event)"
                                 [showDataLoadingPanel]="showDataLoadingPanel"
                                 (onEntryValueChanged)="onZcarno1CodeValueChanged($event)"></nh-possible-table>
            </div>
          </dxi-item>
        </dxi-item>
        <dxi-item itemType="group"
                  caption="운전기사정보"
                  [colCount]="3"
                  [colSpan]="2">
          <dxi-item dataField="ZDRIVER">
            <dxo-label text="기사명1"></dxo-label>
          </dxi-item>
          <dxi-item dataField="ZPHONE">
            <dxo-label text="전화번호1"></dxo-label>
          </dxi-item>
          <dxi-item dataField="ZSHIPMENT_DATE" [disabled]="false" editorType="dxDateBox" [editorOptions]="{ displayFormat: 'yyyy-MM-dd', type: 'date', showClearButton : true , useMaskBehavior : true}">
            <dxo-label text="상차일자"></dxo-label>
          </dxi-item>
          <!--<dxi-item dataField="ZMENGE3"><dxo-label text="출고수량"></dxo-label></dxi-item>-->
          <dxi-item dataField="ZDRIVER1"><dxo-label text="기사명2"></dxo-label></dxi-item>
          <dxi-item dataField="ZPHONE1"><dxo-label text="전화번호2"></dxo-label></dxi-item>
        </dxi-item>
      </dx-form>
    </div>
  </dx-scroll-view>
</dx-popup>


<!--더블클릭 팝업-->
<!--<dx-popup width="80%"
          height="50%"
          [showTitle]="true"
          title="배차등록"
          [dragEnabled]="false"
          [showCloseButton]="false"
          container=".dx-viewport"
          [(visible)]="popupVisible3">


  <dx-toolbar style="margin-bottom: 9px;">


    <dxi-item location="after"
              widget="dxButton"
              locateInMenu="auto"
              [height]="25"
              [options]="closeButtonOptions3">
    </dxi-item>

  </dx-toolbar>
  <div id="form-container">
    <dx-form id="popupForm" [formData]="popupData2">
      <dxi-item itemType="group" [colCount]="4" [colSpan]="2">
        <dxi-item dataField="VBELN" [disabled]="true"><dxo-label text="납품문서번호"></dxo-label></dxi-item>
        <dxi-item dataField="POSNR" [disabled]="true"><dxo-label text="납품품번"></dxo-label></dxi-item>
        <dxi-item dataField="ZMENGE2" [disabled]="true"><dxo-label text="납품총수량"></dxo-label></dxi-item>

        <dxi-item dataField="WADAT_IST" [disabled]="true" editorType="dxDateBox" [editorOptions]="{ displayFormat: 'yyyy-MM-dd', type: 'date', showClearButton : true , useMaskBehavior : true}"><dxo-label text="출고전기일자"></dxo-label></dxi-item>
      </dxi-item>
    </dx-form>
  </div>
  <div id="data-grid-demo" style="margin-top:20px;">
    <dx-data-grid id="gridContainer"
                  [dataSource]="popupData"
                  keyExpr="ZSEQUENCY"
                  [showBorders]="true">
      <dxo-paging [enabled]="false"></dxo-paging>
      <dxi-column dataField="ZSEQUENCY" caption="분할번호"></dxi-column>
      <dxi-column dataField="ZMENGE4" caption="배차수량"></dxi-column>
      <dxi-column dataField="ZUNLOAD" caption="하차정보"></dxi-column>
      <dxi-column dataField="ZVKAUS" caption="용도"></dxi-column>
      <dxi-column dataField="ZPALLTP" caption="파렛트유형"></dxi-column>
      <dxi-column dataField="ZPALLETQTY" caption="파렛트수량"></dxi-column>
      <dxi-column dataField="ZCARTYPE" caption="화물차종"></dxi-column>
      <dxi-column dataField="ZCARNO" caption="차량번호"></dxi-column>
      <dxi-column dataField="ZDRIVER" caption="기사명1"></dxi-column>
      <dxi-column dataField="ZPHONE" caption="전화번호1"></dxi-column>
      <dxi-column dataField="ZDRIVER1" caption="기사명2"></dxi-column>
      <dxi-column dataField="ZPHONE1" caption="전화번호2"></dxi-column>
      <dxi-column dataField="ZSHIPMENT_DATE" caption="상차일자" dataType="date"></dxi-column>
      <dxi-column dataField="ZMENGE3" caption="출고수량"></dxi-column>
    </dx-data-grid>

  </div>

</dx-popup>-->
<!--수정-->
<dx-popup width="70%"
          height="60%"
          [showTitle]="true"
          title="배차추가"
          [dragEnabled]="false"
          [showCloseButton]="false"
          container=".dx-viewport"
          [(visible)]="popupVisible4">
  <dx-toolbar style="margin-bottom: 9px;">
    <dxi-item location="after"
              widget="dxButton"
              locateInMenu="auto"
              [height]="25"
              [options]="saveButtonOptions4">
    </dxi-item>
    <dxi-item location="after"
              widget="dxButton"
              locateInMenu="auto"
              [height]="25"
              [options]="closeButtonOptions4">
    </dxi-item>
  </dx-toolbar>
  <div id="form-container" style=" margin-bottom:5px">
    <dx-form id="popupForm" [formData]="popupData4">
      <dxi-item itemType="group" [colCount]="4" [colSpan]="2">
        <dxi-item dataField="ZMENGE2" [disabled]="true"><dxo-label text="납품총수량"></dxo-label></dxi-item>
        <dxi-item dataField="possible" [disabled]="true"><dxo-label text="배차가능량"></dxo-label></dxi-item>
        <!--<dxi-item dataField="ZMENGE4" [disabled]="true"><dxo-label text="총배차가능량"></dxo-label></dxi-item>-->
      </dxi-item>
    </dx-form>
  </div>
  <!--<div id="form-container" style=" margin-bottom:5px">
    <dx-form id="popupForm" [formData]="popupData3">
      <dxi-item itemType="group" [colCount]="4" [colSpan]="2">
        <dxi-item dataField="ZMENGE2" [disabled]="true"><dxo-label text="납품총수량"></dxo-label></dxi-item>
        <dxi-item dataField="possible" [disabled]="true"><dxo-label text="배차가능량"></dxo-label></dxi-item>-->
  <!--<dxi-item dataField="ZMENGE4" [disabled]="true"><dxo-label text="총배차가능량"></dxo-label></dxi-item>-->
  <!--</dxi-item>
    </dx-form>
  </div>-->
  <dx-scroll-view width="100%" height="100%">
    <div id="form-container">
      <dx-form id="popupForm" [formData]="addFormData2">
        <dxi-item itemType="group"
                  caption="차량정보"
                  [colCount]="3"
                  [colSpan]="2">
          <dxi-item dataField="ZMENGE4" [editorOptions]="{ mode: 'number' }">  <dxo-label text="배차수량"></dxo-label>  </dxi-item>
          <dxi-item dataField="ZUNLOAD">
            <dxo-label text="하차방법"></dxo-label>
            <div *dxTemplate>
              <nh-possible-table #dd07tEntery
                                 [dataStoreKey]="dataStoreKey"
                                 [codeInfo]="dd07tCode"
                                 valueColumn="DOMVALUE_L"
                                 valueDisplayFormat="%DDTEXT%(%DOMVALUE_L%)"
                                 width="auto"
                                 [showClearButton]="true"
                                 [(selectedValue)]="zunloadValue"
                                 [gridBoxWidth]="500"
                                 class="weight-test"
                                 (onDataLoaded)="onPEDataLoaded($event)"
                                 [showDataLoadingPanel]="showDataLoadingPanel"
                                 (onEntryValueChanged)="onZunloadCodeValueChanged($event)"></nh-possible-table>
            </div>
          </dxi-item>
          <dxi-item dataField="ZVKAUS">
            <dxo-label text="용도"></dxo-label>
            <div *dxTemplate>
              <nh-possible-table #tvlvEntery
                                 [dataStoreKey]="dataStoreKey"
                                 [codeInfo]="tvlvCode"
                                 valueColumn="ABRVW"
                                 valueDisplayFormat="%BEZEI%(%ABRVW%)"
                                 width="auto"
                                 [(selectedValue)]="vkausValue"
                                 [gridBoxWidth]="500"
                                 class="weight-test"
                                 (onDataLoaded)="onPEDataLoaded($event)"
                                 [showDataLoadingPanel]="showDataLoadingPanel"
                                 (onEntryValueChanged)="onZvkausCodeValueChanged($event)"></nh-possible-table>
            </div>
          </dxi-item>
          <dxi-item dataField="ZPALLTP">
            <dxo-label text="파레트유형"></dxo-label>
            <div *dxTemplate>
              <nh-possible-table #zpalEntery
                                 [dataStoreKey]="dataStoreKey"
                                 [codeInfo]="zpalCode"
                                 valueColumn="DOMVALUE_L"
                                 valueDisplayFormat="%DDTEXT%(%DOMVALUE_L%)"
                                 width="auto"
                                 [(selectedValue)]="zpalValue"
                                 [gridBoxWidth]="500"
                                 class="weight-test"
                                 (onDataLoaded)="onPEDataLoaded($event)"
                                 [showDataLoadingPanel]="showDataLoadingPanel"
                                 (onEntryValueChanged)="onZpalltpCodeValueChanged($event)"></nh-possible-table>
            </div>
          </dxi-item>
          <dxi-item dataField="ZPALLETQTY"><dxo-label text="파렛트수량"></dxo-label></dxi-item>
          <dxi-item dataField="ZCARTYPE" [disabled]="false">
            <dxo-label text="화물차종"></dxo-label>
            <div *dxTemplate>
              <nh-possible-table #dd07tCarEntery
                                 [dataStoreKey]="dataStoreKey"
                                 [codeInfo]="dd07tCarCode"
                                 valueColumn="DOMVALUE_L"
                                 [showClearButton]="true"
                                 valueDisplayFormat="%DDTEXT%(%DOMVALUE_L%)"
                                 width="auto"
                                 [(selectedValue)]="zcarValue"
                                 [gridBoxWidth]="500"
                                 class="weight-test"
                                 (onDataLoaded)="onPEDataLoaded($event)"
                                 [showDataLoadingPanel]="showDataLoadingPanel"
                                 (onEntryValueChanged)="onZcartypeCodeValueChanged($event)"></nh-possible-table>
            </div>
          </dxi-item>
          <dxi-item dataField="ZCARNO">
            <dxo-label text="차량번호"></dxo-label>
            <div *dxTemplate>
              <nh-possible-table #zcarnoModiCodeEntery
                                 [dataStoreKey]="dataStoreKey"
                                 [codeInfo]="zcarnoModiCode"
                                 valueColumn="ZCARNO"
                                 [showClearButton]="true"
                                 valueDisplayFormat="%ZCARNO%"
                                 width="auto"
                                 [(selectedValue)]="zcarnoModiValue"
                                 [gridBoxWidth]="500"
                                 class="weight-test"
                                 (onDataLoaded)="onPEDataLoaded($event)"
                                 [showDataLoadingPanel]="showDataLoadingPanel"
                                 (onEntryValueChanged)="onZcarno2CodeValueChanged($event)"></nh-possible-table>
            </div>
          </dxi-item>
        </dxi-item>
        <dxi-item itemType="group"
                  caption="운전기사정보"
                  [colCount]="3"
                  [colSpan]="2">
          <dxi-item dataField="ZDRIVER">
            <dxo-label text="기사명1"></dxo-label>
          </dxi-item> <dxi-item dataField="ZPHONE">
            <dxo-label text="전화번호1"></dxo-label>
          </dxi-item>
          <dxi-item dataField="ZSHIPMENT_DATE" [disabled]="false" editorType="dxDateBox" [editorOptions]="{ displayFormat: 'yyyy-MM-dd', type: 'date', showClearButton : true , useMaskBehavior : true}">
            <dxo-label text="상차일자"></dxo-label>
          </dxi-item>
          <!--<dxi-item dataField="ZMENGE3"><dxo-label text="출고수량"></dxo-label></dxi-item>-->
          <dxi-item dataField="ZDRIVER1"><dxo-label text="기사명2"></dxo-label></dxi-item>
          <dxi-item dataField="ZPHONE1"><dxo-label text="전화번호2"></dxo-label></dxi-item>
        </dxi-item>
      </dx-form>
    </div>
  </dx-scroll-view>
</dx-popup>



