<!--수동출고등록-->
<dx-toolbar style="margin:20px 0px 20px 0px" width="99%">
  <dxi-item location="before">
    <div *dxTemplate>
      <div style="float: left; margin-left: 10px;">
        <dx-date-box [(value)]="startDate" label="운송계획일(From)" type="date" [width]="150" displayFormat="yyyy-MM-dd"></dx-date-box>
      </div>
      <div style="float: left; margin-left: 10px;">
      </div>
      <div style="float: left; margin-left: 10px;">
        <dx-date-box [(value)]="endDate" label="운송계획일(to)" type="date" [width]="150" displayFormat="yyyy-MM-dd"></dx-date-box>
      </div>
    </div>
  </dxi-item>

  <dxi-item location="before" locateInMenu="auto">
    <div *dxTemplate>
      <dx-select-box [dataSource]="cSpart"
                     displayExpr="name"
                     valueExpr="code"
                     value="20"
                     label="액상구분"
                     labelMode="floating"
                     (onValueChanged)="onCSpartValueChanged($event)"></dx-select-box>
    </div>
  </dxi-item>

  <!--<dxi-item location="before" locateInMenu="auto">
    <div *dxTemplate>
      <dx-select-box [dataSource]="shipStatus"
                     displayExpr="name"
                     valueExpr="code"
                     value="30"
                     label="상태구분"
                     labelMode="floating"
                     (onValueChanged)="onCSpartValueChanged($event)"></dx-select-box>
    </div>
  </dxi-item>-->

  <!--<dxi-item location="after">
    <div *dxTemplate>
      <dx-button text="전표출력" (onClick)="printRef($event)">
      </dx-button>
    </div>
  </dxi-item>
  <dxi-item location="after">
    <div *dxTemplate>
      <dx-button text="출고확정" (onClick)="refConfirmGI($event)">
      </dx-button>
    </div>
  </dxi-item>-->
  <dxi-item location="after"
            widget="dxButton"
            locateInMenu="auto"
            [height]="25"
            [options]="searchButtonOptions">
  </dxi-item>
</dx-toolbar>

<dx-data-grid class="master" #orderGrid
              [dataSource]="orderData"
              [showBorders]="true"
              [focusedRowIndex]="0"
              [selection]="{ mode: 'multiple' }"
              (onSelectionChanged)="mainDataselectedChanged($event)"
              height="calc(100vh - 230px)"
              [columnAutoWidth]="true"
              (onRowDblClick)="mainDBClick($event)"
              (onContentReady)="contentReady($event)"
              [allowColumnReordering]="true"
              columnResizingMode="widget"
              [allowColumnResizing]="true">
  <!--(onRowDblClick)="orderDBClick($event)"-->
  <!--Datagrid Option-->
  <dxo-paging [pageSize]="10"></dxo-paging>
  <dxo-pager [showPageSizeSelector]="true" [showInfo]="true"></dxo-pager>


  <!--Filtering Option-->
  <dxo-filter-panel [visible]="true"></dxo-filter-panel>
  <dxo-filter-builder [customOperations]="customOperations"
                      [allowHierarchicalFields]="true">
  </dxo-filter-builder>
  <dxo-filter-builder-popup [position]="popupPosition">
  </dxo-filter-builder-popup>
  <dxo-filter-row [visible]="true"></dxo-filter-row>
  <dxo-header-filter [visible]="true" [allowSearch]="true"></dxo-header-filter>
  <dxo-scrolling mode="infinite"></dxo-scrolling>


  <!--Data column-->
  <dxi-column dataField="NAME1_AG"
              [fixed]="true" fixedPosition="left"
              visibleIndex="0"
              caption="거래처명">
  </dxi-column>
  <dxi-column dataField="NAME1"
              [fixed]="true" fixedPosition="left"
              visibleIndex="0"
              caption="납품처명">
  </dxi-column>
  <dxi-column dataField="ZCARNO"
              [fixed]="true" fixedPosition="left"
              visibleIndex="1"
              caption="차량번호">
  </dxi-column>
  <dxi-column dataField="ZDRIVER"
              [fixed]="true" fixedPosition="left"
              visibleIndex="2"
              caption="운전기사">
  </dxi-column>
  <dxi-column dataField="ZPHONE"
              visibleIndex="3"
              caption="전화번호">
  </dxi-column>
  <dxi-column dataField="TDDAT"
              caption="운송계획일"
              visibleIndex="4"
              format="yyyy-MM-dd"
              dataType="date">
  </dxi-column>
  <dxi-column dataField="SPART"
              visibleIndex="5"
              caption="제품군">
  </dxi-column>
  <dxi-column dataField="ARKTX"
              visibleIndex="6"
              caption="자재명">
  </dxi-column>
  <dxi-column dataField="ZMENGE1"
              visibleIndex="7"
              format="#,###.###"
              caption="주문수량">
  </dxi-column>
  <dxi-column dataField="ZMENGE2"
              visibleIndex="8"
              format="#,###.###"
              caption="납품수량">
  </dxi-column>
  <dxi-column dataField="VRKME"
              visibleIndex="9"
              caption="단위">
  </dxi-column>
  <dxi-column dataField="VSTEL"
              visibleIndex="10"
              caption="출하지점">
  </dxi-column>
  <dxi-column dataField="ZMENGE4"
              visibleIndex="11"
              format="#,###.###"
              caption="배차수량">
  </dxi-column>
  <dxi-column dataField="ZMENGE3"
              format="#,###.###"
              caption="출고수량">
  </dxi-column>
  <dxi-column dataField="WADAT_IST"
              caption="출고전기일"
              format="yyyy-MM-dd"
              dataType="date">
  </dxi-column>
  <dxi-column dataField="BRGEW"
              caption="출하총중량">
  </dxi-column>
  <dxi-column dataField="GEWEI"
              format="#,###.###"
              caption="중량단위">
  </dxi-column>
  <dxi-column dataField="CITY1"
              caption="납품도시">
  </dxi-column>
  <dxi-column dataField="STREET"
              caption="납품주소">
  </dxi-column>
  <dxi-column dataField="VBELN"
              caption="납품문서번호">
  </dxi-column>

  <dxi-column dataField="POSNR"
              caption="납품품번">
  </dxi-column>
  <dxi-column dataField="ZSEQUENCY"
              caption="납품분할순번">
  </dxi-column>
  <dxi-column dataField="VGBEL"
              caption="주문번호">
  </dxi-column>
  <dxi-column dataField="VGPOS"
              caption="주문품번">
  </dxi-column>

</dx-data-grid>


<!--유류팝업-->
<dx-popup width="90%"
          height="90%"
          [showTitle]="true"
          title="출고"
          [dragEnabled]="false"
          [showCloseButton]="false"
          container=".dx-viewport"
          [(visible)]="popupVisible">

  <dxi-toolbar-item widget="dxButton"
                    toolbar="top"
                    location="after"
                    [options]="GiButtonOptions">
  </dxi-toolbar-item>
  <dxi-toolbar-item widget="dxButton"
                    toolbar="top"
                    location="after"
                    [options]="oilPopupCloseButtonOptions">
  </dxi-toolbar-item>

  <div id="form-container1">
    <dx-form id="popupHeaderForm" [formData]="popHeaderData" style="margin-bottom:20px">
      <dxi-item itemType="group" [colCount]="4">
        <dxi-item dataField="VBELN" [disabled]="true"><dxo-label text="납품문서번호"></dxo-label></dxi-item>
        <dxi-item dataField="POSNR" [disabled]="true"><dxo-label text="납품품번"></dxo-label></dxi-item>
        <dxi-item dataField="ZMENGE2" [disabled]="true" editorType="dxNumberBox" [editorOptions]="{ format : '#,##0.##0', type: 'decimal'}"><dxo-label text="납품수량"></dxo-label></dxi-item>
        <dxi-item dataField="ZMENGE4" [disabled]="true" editorType="dxNumberBox" [editorOptions]="{ format : '#,##0.##0', type: 'decimal'}"><dxo-label text="배차수량"></dxo-label></dxi-item>
      </dxi-item>
    </dx-form>
  </div>
  <dx-scroll-view width="100%" height="90%">
    <dx-form>
      <dxi-item itemType="tabbed">
        <dxo-tab-panel-options [deferRendering]="false" [selectedIndex]="popTabIndex">
        </dxo-tab-panel-options>
        <dxi-tab title="출고정보">
          <div id="form-container2">
            <dx-form id="popupItemForm" [formData]="popItemData" height="90%" (onFieldDataChanged)="DataChanged($event)">
              <dxi-item itemType="group" [colCount]="1" caption="출고정보">
                <dxi-item itemType="group" [colCount]="3">
                  <dxi-item dataField="ZMENGE3" editorType="dxNumberBox" [editorOptions]="{ format : '#,##0.##0', type: 'decimal'}"><dxo-label text="출고수량"></dxo-label></dxi-item>
                  <dxi-item dataField="WADAT_IST" editorType="dxDateBox" [editorOptions]="{ displayFormat: 'yyyy-MM-dd', type: 'date', showClearButton : true , useMaskBehavior : true}"><dxo-label text="출고전기일자"></dxo-label></dxi-item>
                  <dxi-item dataField="MATNR" [disabled]="true">
                    <dxo-label text="자재명"></dxo-label>
                    <div *dxTemplate>
                      <nh-possible-comm [codeInfo]="matnrCode" #matnrCodeDynamic
                                        [dataStoreKey]="dataStoreKey"
                                        [(selectedValue)]="matnrValue"
                                        valueColumn="MATNR"
                                        valueDisplayFormat="%MAKTX%(%MATNR%)"
                                        popupGridScrollMode="standard"
                                        [popupGridPagingMode]="true"
                                        [popupGridPageSize]="10"
                                        comboGridScrollMode="virtual"
                                        width="auto"
                                        [gridBoxWidth]="500"
                                        (onDataLoaded)="onPEDataLoaded($event)"
                                        (onEntryValueChanged)="onmatnrCodeValueChanged($event)"></nh-possible-comm>
                    </div>
                  </dxi-item>
                  <dxi-item dataField="Z3PARVW" [disabled]="true">
                    <dxo-label text="1차운송사"></dxo-label>
                    <div *dxTemplate>
                      <nh-possible-comm [codeInfo]="tdlnr1Code" #tdlnr1Entery
                                        [dataStoreKey]="dataStoreKey"
                                        valueColumn="LIFNR"
                                        valueDisplayFormat="%NAME1%(%LIFNR%)"
                                        width="auto"
                                        [showClearButton]="true"
                                        [(selectedValue)]="tdlnr1Value"
                                        popupGridScrollMode="standard"
                                        [popupGridPagingMode]="true"
                                        [popupGridPageSize]="10"
                                        comboGridScrollMode="virtual"
                                        [gridBoxWidth]="500"
                                        (onDataLoaded)="onPEDataLoaded($event)"
                                        (onEntryValueChanged)="onTdlnr1CodeValueChanged($event)"></nh-possible-comm>
                    </div>
                  </dxi-item>
                  <dxi-item dataField="Z4PARVW" [disabled]="true">
                    <dxo-label text="2차운송사"></dxo-label>
                    <div *dxTemplate>
                      <nh-possible-comm [codeInfo]="tdlnrCode" #tdlnrEntery
                                        [dataStoreKey]="dataStoreKey"
                                        valueColumn="LIFNR"
                                        valueDisplayFormat="%NAME1%(%LIFNR%)"
                                        width="auto"
                                        [showClearButton]="true"
                                        [(selectedValue)]="tdlnrValue"
                                        popupGridScrollMode="standard"
                                        [popupGridPagingMode]="true"
                                        [popupGridPageSize]="10"
                                        comboGridScrollMode="virtual"
                                        [gridBoxWidth]="500"
                                        (onDataLoaded)="onPEDataLoaded($event)"
                                        (onEntryValueChanged)="onTdlnrCodeValueChanged($event)"></nh-possible-comm>
                    </div>
                  </dxi-item>
                </dxi-item>

                <!--<dxi-item itemType="group" [colCount]="4">
        <dxi-item dataField="Z_N_WEI_EMP" editorType="dxNumberBox" editorOptions="{ format : '#,##0'}"><dxo-label text="공차중량"></dxo-label></dxi-item>
        <dxi-item dataField="Z_N_WEI_TOT" editorType="dxNumberBox" editorOptions="{ format : '#,##0'}"><dxo-label text="만차중량"></dxo-label></dxi-item>
        <dxi-item dataField="Z_N_WEI_NET" editorType="dxNumberBox" editorOptions="{ format : '#,##0'}"><dxo-label text="정산수량"></dxo-label></dxi-item>
        <dxi-item dataField="Z_N_WEI_TOT_OIL" editorType="dxNumberBox" editorOptions="{ format : '#,##0'}"><dxo-label text="출고중량"></dxo-label></dxi-item>
      </dxi-item>-->

                <dxi-item itemType="group" [colCount]="4">
                  <dxi-item dataField="ZTEMP"><dxo-label text="온도"></dxo-label></dxi-item>
                  <dxi-item dataField="Z_N_WEI_NET" editorType="dxNumberBox" [editorOptions]="{ format : '#,##0', type: 'decimal'}"><dxo-label text="정산수량"></dxo-label></dxi-item>
                  <dxi-item dataField="ZSTARTTIME" editorType="dxTextBox" [editorOptions]="{mask:'##:##:##', showMaskMode:'onFocus'}"><dxo-label text="상차시작시간"></dxo-label></dxi-item>
                  <dxi-item dataField="ZENDTIME" editorType="dxTextBox" [editorOptions]="{mask:'##:##:##', showMaskMode:'onFocus'}"><dxo-label text="상차종료시간"></dxo-label></dxi-item>
                </dxi-item>

                <dxi-item itemType="group" [colCount]="4">
                  <dxi-item dataField="ZRACK"><dxo-label text="Rack"></dxo-label></dxi-item>
                  <dxi-item dataField="ZPUMP"><dxo-label text="Pump"></dxo-label></dxi-item>
                  <dxi-item dataField="ZTANK"><dxo-label text="Tank"></dxo-label></dxi-item>
                </dxi-item>
              </dxi-item>

              <dxi-item itemType="group" [colCount]="1" caption="차량정보">
                <dxi-item itemType="group" [colCount]="4">
                  <dxi-item dataField="ZSHIPMENT_NO" [disabled]="true"><dxo-label text="배차번호"></dxo-label></dxi-item>
                  <dxi-item dataField="ZSHIPMENT_DATE" editorType="dxDateBox" [editorOptions]="{ displayFormat: 'yyyy-MM-dd', type: 'date', showClearButton : true , useMaskBehavior : true}"><dxo-label text="배차일자"></dxo-label></dxi-item>
                </dxi-item>

                <dxi-item itemType="group" [colCount]="4">
                  <dxi-item dataField="ZUNLOAD">
                    <dxo-label text="하차정보"></dxo-label>
                    <div *dxTemplate>
                      <nh-possible-comm [codeInfo]="unloadInfoCode" #unloadInfoCodeDynamic
                                          [dataStoreKey]="dataStoreKey"
                                          [(selectedValue)]="unloadInfoValue"
                                          valueColumn="DOMVALUE_L"
                                          valueDisplayFormat="%DDTEXT%(%DOMVALUE_L%)"
                                          popupGridScrollMode="standard"
                                          [popupGridPagingMode]="true"
                                          [popupGridPageSize]="10"
                                          comboGridScrollMode="virtual"
                                          [width]="200"
                                          [gridBoxWidth]="500"
                                          [searchPanel]="true"
                                          (onDataLoaded)="onPEDataLoaded($event)"
                                          (onEntryValueChanged)="onzunloadCodeValueChanged($event)"></nh-possible-comm>
                    </div>
                  </dxi-item>
                  <dxi-item dataField="ZCARTYPE">
                    <dxo-label text="화물차종"></dxo-label>
                    <div *dxTemplate>
                      <nh-possible-comm [codeInfo]="truckTypeCode" #truckTypeCodeDynamic
                                        [dataStoreKey]="dataStoreKey"
                                        [(selectedValue)]="truckTypeValue"
                                        valueColumn="DOMVALUE_L"
                                        valueDisplayFormat="%DDTEXT%(%DOMVALUE_L%)"
                                        popupGridScrollMode="standard"
                                        [popupGridPagingMode]="true"
                                        [popupGridPageSize]="10"
                                        comboGridScrollMode="virtual"
                                        [width]="200"
                                        [gridBoxWidth]="500"
                                        [searchPanel]="true"
                                        (onDataLoaded)="onPEDataLoaded($event)"
                                        (onEntryValueChanged)="onzcartypeCodeValueChanged($event)"></nh-possible-comm>
                    </div>
                  </dxi-item>
                  <dxi-item dataField="ZCARNO">
                    <dxo-label text="차량번호"></dxo-label>
                    <div *dxTemplate>
                      <nh-possible-comm #zcarnoCodeEntery
                                        [dataStoreKey]="dataStoreKey"
                                        [codeInfo]="zcarnoCode"
                                        valueColumn="ZCARNO"
                                        [showClearButton]="true"
                                        valueDisplayFormat="%ZCARNO%"
                                        width="auto"
                                        [(selectedValue)]="zcarnoValue"
                                        popupGridScrollMode="standard"
                                        [popupGridPagingMode]="true"
                                        [popupGridPageSize]="10"
                                        comboGridScrollMode="virtual"
                                        [gridBoxWidth]="500"
                                        class="weight-test"
                                        (onDataLoaded)="onPEDataLoaded($event)"
                                        [showDataLoadingPanel]="showDataLoadingPanel"
                                        (onEntryValueChanged)="onZcarnoCodeValueChanged($event)"></nh-possible-comm>
                    </div>
                  </dxi-item>
                </dxi-item>
              </dxi-item>

              <dxi-item itemType="group" [colCount]="1" caption="운전기사정보">
                <dxi-item itemType="group" [colCount]="4">
                  <dxi-item dataField="ZDRIVER"><dxo-label text="기사명1"></dxo-label></dxi-item>
                  <dxi-item dataField="ZPHONE"><dxo-label text="전화번호1"></dxo-label></dxi-item>
                </dxi-item>

                <dxi-item itemType="group" [colCount]="4">
                  <dxi-item dataField="ZDRIVER1"><dxo-label text="기사명2"></dxo-label></dxi-item>
                  <dxi-item dataField="ZPHONE1"><dxo-label text="전화번호2"></dxo-label></dxi-item>
                </dxi-item>

                <dxi-item itemType="group" [colCount]="4">
                  <dxi-item dataField="ZDRIVER2"><dxo-label text="기사명3"></dxo-label></dxi-item>
                  <dxi-item dataField="ZPHONE2"><dxo-label text="전화번호3"></dxo-label></dxi-item>
                </dxi-item>
              </dxi-item>
            </dx-form>


            <dx-form style="margin-top: 25px;" width="97%"
                     #masterform
                     [formData]="oilFormData"
                     [visible]="false">
              <dxi-item itemType="group" [colCount]="8" [colSpan]="2" style="margin-top:5px;">
                <dxi-item dataField="OrderDate" [colSpan]="2" editorType="dxDateBox" [editorOptions]="{dataType:'date',  displayFormat:'yyyy-MM-dd' }">
                  <dxo-label text="통관일자"></dxo-label>
                </dxi-item>
                <dxi-item [colSpan]="2"></dxi-item>
                <dxi-item [colSpan]="2"></dxi-item>
              </dxi-item>

              <dxi-item itemType="group" [colCount]="8" [colSpan]="2" style="margin-top:5px;">
                <dxi-item dataField="ARKTX" [colSpan]="2" [disabled]="true">
                  <dxo-label text="유종"></dxo-label>
                </dxi-item>
                <dxi-item [colSpan]="2"></dxi-item>
                <dxi-item [colSpan]="2"></dxi-item>
              </dxi-item>

              <dxi-item itemType="group" [colCount]="8" [colSpan]="2" style="margin-top:5px;">
                <dxi-item dataField="NAME1" editorType="dxTextBox" [colSpan]="2">
                  <dxo-label text="거래처"></dxo-label>
                </dxi-item>
                <dxi-item [colSpan]="2"></dxi-item>
                <dxi-item [colSpan]="2"></dxi-item>
                <dxi-item dataField="VBELN" [colSpan]="2" [disabled]="true">
                  <dxo-label text="출하요청번호"></dxo-label>
                </dxi-item>
              </dxi-item>

              <dxi-item itemType="group" [colCount]="8" [colSpan]="2" style="margin-top:5px;">

                <dxi-item dataField="ZCARNO" [colSpan]="2">
                  <dxo-label text="차량번호"></dxo-label>
                  <div *dxTemplate>
                    <nh-possible-comm #carDataCodeEntery
                                      [dataStoreKey]="dataStoreKey"
                                      [codeInfo]="zcarnoCode"
                                      valueColumn="ZCARNO"
                                      [showClearButton]="true"
                                      valueDisplayFormat="%ZCARNO%"
                                      width="auto"
                                      [(selectedValue)]="carnoValue"
                                      popupGridScrollMode="standard"
                                      [popupGridPagingMode]="true"
                                      [popupGridPageSize]="10"
                                      comboGridScrollMode="virtual"
                                      [gridBoxWidth]="500"
                                      class="weight-test"
                                      [showDataLoadingPanel]="showDataLoadingPanel"
                                      (onEntryValueChanged)="ZcarNoCodeValueChanged($event)"></nh-possible-comm>
                  </div>
                </dxi-item>
                <dxi-item dataField="ZRFID" [disabled]="true">
                  <dxo-label text="RFID" [visible]="false"></dxo-label>
                </dxi-item>
                <dxi-item dataField="ZDRIVER" [colSpan]="2" [disabled]="true">
                  <dxo-label text="기사명"></dxo-label>
                </dxi-item>
                <dxi-item dataField="ZPHONE" [disabled]="true">
                  <dxo-label text="기사전화번호" [visible]="false"></dxo-label>
                </dxi-item>
                <dxi-item dataField="TDDAT" editorType="dxDateBox" [editorOptions]="{dataType:'date',  displayFormat:'yyyy-MM-dd' }" [colSpan]="2" [disabled]="true">
                  <dxo-label text="출하희망일"></dxo-label>
                </dxi-item>
              </dxi-item>

              <dxi-item itemType="group" [colCount]="8" [colSpan]="2" style="margin-top:5px;">
                <dxi-item dataField="S_OILNO" [colSpan]="2" [disabled]="true">
                  <dxo-label text="S-OIL선적번호"></dxo-label>
                </dxi-item>
                <dxi-item [colSpan]="2"></dxi-item>
                <dxi-item [colSpan]="2"></dxi-item>
                <dxi-item dataField="CHJANG" editorType="dxNumberBox" [editorOptions]="{value: '1' }" [colSpan]="2" [disabled]="true">
                  <dxo-label text="출하장"></dxo-label>
                </dxi-item>
              </dxi-item>


              <dxi-item itemType="group" [colCount]="8" [colSpan]="2" style="margin-top:5px;">

                <dxi-item dataField="ZMENGE4" [colSpan]="2" editorType="dxNumberBox" [editorOptions]="{ format : '#,##0'}">
                  <dxo-label text="출하지시물량"></dxo-label>
                  <dxi-validation-rule type="pattern"
                                       pattern="^[0-9]"
                                       message="숫자만 입력해주세요.">
                  </dxi-validation-rule>
                </dxi-item>
                <dxi-item dataField="GEWEI" [disabled]="true">
                  <dxo-label text="단위" [visible]="false"></dxo-label>
                </dxi-item>
                <dxi-item>
                </dxi-item>
                <dxi-item [colSpan]="2">
                </dxi-item>
                <dxi-item dataField="VRKME" [colSpan]="2">
                  <dxo-label text="출하단위"></dxo-label>
                </dxi-item>
              </dxi-item>



              <dxi-item itemType="group" [colCount]="8" [colSpan]="2" style="margin-top:5px;">
                <dxi-item dataField="STREET" [colSpan]="2">
                  <dxo-label text="도착지"></dxo-label>
                </dxi-item>
                <dxi-item [colSpan]="2"></dxi-item>
                <dxi-item [colSpan]="2"></dxi-item>
                <dxi-item dataField="VSBED" [colSpan]="2">
                  <dxo-label text="출하방법"></dxo-label>
                </dxi-item>
              </dxi-item>




              <dxi-item itemType="group" [colCount]="8" [colSpan]="2" style="margin-top:5px;">
                <dxi-item dataField="gubun" [colSpan]="2">
                  <dxo-label text="판매구분"></dxo-label>
                </dxi-item>
                <dxi-item [colSpan]="2"> </dxi-item>
                <dxi-item [colSpan]="2"></dxi-item>
                <dxi-item dataField="ZTANK" [editorOptions]="{ maxLength: 4 }" [colSpan]="2">
                  <dxo-label text="출하탱크"></dxo-label>
                </dxi-item>
              </dxi-item>



              <dxi-item itemType="group" [colCount]="8" [colSpan]="2" style="margin-top:5px;">
                <dxi-item dataField="RACK" [editorOptions]="{ maxLength: 2 }" [colSpan]="2">
                  <dxo-label text="RACK"></dxo-label>
                </dxi-item>
                <dxi-item dataField="PUMP" [editorOptions]="{ maxLength: 2 }" [colSpan]="2">
                  <dxo-label text="PUMP"></dxo-label>
                </dxi-item>
                <dxi-item [colSpan]="2" horizontalAlignment="center">
                  <div class="dx-field-value">
                    <dx-check-box [value]="false" #chkgbox text="통관재고 잔량 처리"></dx-check-box>
                  </div>
                </dxi-item>

                <dxi-item dataField="jisija" [colSpan]="2">
                  <dxo-label text="출하지시자"></dxo-label>
                </dxi-item>
              </dxi-item>



              <dxi-item itemType="group" [colCount]="8" [colSpan]="2" style="margin-top:5px;">
                <dxi-item dataField="ZTEXT" [colSpan]="8" [label]="{text: '지시사항'}" [editorOptions]="{  maxLength: 20 }">
                </dxi-item>
              </dxi-item>

            </dx-form>
            <dx-form direction="row" width="100%" style="margin-top: 10px; margin-bottom:10px;"[visible]="false">
              <dxi-item>
                <div style="margin-bottom: 5px;">※ 재고정보</div>
              </dxi-item>
              <dxi-item itemType="group" [colCount]="8" [colSpan]="2" style="margin-top:5px;">

                <dxi-item [colSpan]="6">
                  <div *dxTemplate="let data of 'content'">
                    <dx-data-grid class="dx-card wide-card"
                                  #oilSubGrid
                                  [dataSource]="oilSubData"
                                  [showBorders]="true"
                                  [selection]="{ mode: 'single' }"
                                  [columnAutoWidth]="true"
                                  [focusedRowIndex]="0"
                                  height="calc(60vh - 330px)"
                                  [keyExpr]="['ZIIPNO','ZTANK', 'ZGR_QTY']">

                      <dxo-scrolling columnRenderingMode="virtual"></dxo-scrolling>
                      <dxo-paging [pageSize]="5"></dxo-paging>
                      <dxo-pager [showInfo]="true"></dxo-pager>
                      <dxo-filter-row [visible]="true"></dxo-filter-row>

                      <dxi-column dataField="ZARRDT"
                                  sortOrder="asc"
                                  format="yyyy-MM-dd"
                                  dataType="date"
                                  alignment="center"
                                  caption="통관일">
                      </dxi-column>
                      <dxi-column dataField="ZIIPNO"
                                  caption="통관번호">
                      </dxi-column>
                      <dxi-column dataField="MAKTX"
                                  alignment="center"
                                  caption="유종">
                      </dxi-column>
                      <dxi-column dataField="ZTANK"
                                  alignment="center"
                                  caption="탱크번호">
                      </dxi-column>
                      <dxi-column dataField="ZGR_QTY"
                                  format="#,###"
                                  caption="통관물량">
                      </dxi-column>
                      <dxi-column dataField="ZSTOCK"
                                  format="#,###"
                                  caption="재고량">
                      </dxi-column>
                      <dxi-column dataField="ZGI_RSV_QTY"
                                  format="#,###"
                                  caption="출하량">
                      </dxi-column>
                      <dxi-column dataField="ChulHaJaeGo"
                                  format="#,###"
                                  caption="출하가능수량">
                      </dxi-column>
                      <!--<dxi-column dataField="ZGI_RSV_QTY"
                        format="#,###"
                        caption="KL물량">
            </dxi-column>-->
                      <!--<dxi-column dataField="shipper"
                        caption="화주">
            </dxi-column>-->
                      <dxi-column dataField="ZCARRN"
                                  caption="선박">
                      </dxi-column>
                    </dx-data-grid>
                  </div>
                </dxi-item>
                <dxi-item [colSpan]="2">
                  <dx-form width="100%" [formData]="oilSubFormData" style="margin-right: 30px;">
                    <dxi-item itemType="group" [colCount]="2" [colSpan]="2" style="margin-top:5px;">
                      <dxi-item dataField="ZARRDT" [colSpan]="2" editorType="dxDateBox" [editorOptions]="{dataType:'date',  displayFormat:'yyyy-MM-dd' }">
                        <dxo-label text="통관일자"></dxo-label>
                      </dxi-item>
                      <!--<dxi-item dataField="orderCliName"  >
              <dxo-label text="B/L번호"></dxo-label>
            </dxi-item>-->
                    </dxi-item>
                    <dxi-item itemType="group" [colCount]="2" [colSpan]="2" style="margin-top:5px;">
                      <dxi-item dataField="ZCARRN" [colSpan]="2">
                        <dxo-label text="선박"></dxo-label>
                      </dxi-item>
                      <!--<dxi-item dataField="orderCliName" editorType="dxNumberBox" [editorOptions]="{ format : '#,##0'}">
              <dxo-label text="B/L물량"></dxo-label>
            </dxi-item>-->
                    </dxi-item>
                    <dxi-item itemType="group" [colCount]="2" [colSpan]="2" style="margin-top:5px;">
                      <!--<dxi-item dataField="ARKTX" >
              <dxo-label text="화주"></dxo-label>
            </dxi-item>-->
                      <dxi-item dataField="ZGR_QTY" [colSpan]="2" editorType="dxNumberBox" [editorOptions]="{ format : '#,##0'}">
                        <dxo-label text="통관물량"></dxo-label>
                      </dxi-item>
                    </dxi-item>
                    <dxi-item itemType="group" [colCount]="2" [colSpan]="2" style="margin-top:5px;">
                      <dxi-item dataField="MAKTX" [colSpan]="2">
                        <dxo-label text="유종"></dxo-label>
                      </dxi-item>
                      <!--<dxi-item dataField="orderCliName" editorType="dxNumberBox" [editorOptions]="{ format : '#,##0'}">
              <dxo-label text="출고누계" ></dxo-label>
            </dxi-item>-->
                    </dxi-item>
                    <dxi-item itemType="group" [colCount]="2" [colSpan]="2" style="margin-top:5px;">
                      <dxi-item dataField="ZIIPNO" [colSpan]="2">
                        <dxo-label text="통관번호"></dxo-label>
                      </dxi-item>

                    </dxi-item>
                    <dxi-item itemType="group" [colCount]="2" [colSpan]="2" style="margin-top:5px;">
                      <!--<dxi-item dataField="ZIIPNO">
              <dxo-label text="통관번호"></dxo-label>
            </dxi-item>-->
                      <dxi-item dataField="ChulHaJaeGo" [colSpan]="2" editorType="dxNumberBox" [editorOptions]="{ format : '#,##0'}">
                        <dxo-label text="출하가능수량"></dxo-label>
                      </dxi-item>
                    </dxi-item>
                  </dx-form>
                </dxi-item>
              </dxi-item>
            </dx-form>
          </div>
        </dxi-tab>

        <dxi-tab title="유창정보" [disabled]="isPopVisible">
          <dx-scroll-view width="100%" height="100%">

            <dx-form width="100%" [formData]="carFormData">
              <dxi-item itemType="group" [colCount]="5" [colSpan]="2" style="margin-top:5px;">
                <dxi-item [colSpan]="3"></dxi-item>
                <dxi-item dataField="ZLITER" [visible]="false" editorType="dxNumberBox" [disabled]="true" [editorOptions]="{ format : '#,##0'}">
                  <dxo-label text="총용량"></dxo-label>
                </dxi-item>
                <dxi-item dataField="ZCARTANK" [visible]="false" [disabled]="true">
                  <dxo-label text="유창개수"></dxo-label>
                </dxi-item>
              </dxi-item>
              <dxi-item itemType="group" [colCount]="5" [colSpan]="2" style="margin-top:5px;">

                <dxi-item dataField="ZTANKLITER1" editorType="dxNumberBox" [disabled]="true" [editorOptions]="{ type: 'number', format : '#,##0'}">
                  <dxo-label text="유창1"></dxo-label>
                </dxi-item>
                <dxi-item dataField="load1" editorType="dxNumberBox" [disabled]="true" [editorOptions]="{ format : '#,##0'}">
                  <dxo-label text="지시1"></dxo-label>
                </dxi-item>
                <dxi-item dataField="outData1" editorType="dxNumberBox" [editorOptions]="{ format : '#,##0'}">
                  <dxo-label text="출고1"></dxo-label>
                </dxi-item>
                <dxi-item dataField="startTime1" editorType="dxDateBox" [editorOptions]="{ displayFormat: 'HH:mm:ss',type: 'time', useMaskBehavior : true, height: 40}">
                  <dxo-label text="시작시간"></dxo-label>
                </dxi-item>
                <dxi-item dataField="endTime1" editorType="dxDateBox" [editorOptions]="{ displayFormat: 'HH:mm:ss',type: 'time', useMaskBehavior : true, height: 40}">
                  <dxo-label text="종료시간"></dxo-label>
                </dxi-item>
              </dxi-item>

              <dxi-item itemType="group" [colCount]="5" [colSpan]="2" style="margin-top:5px;">

                <dxi-item dataField="ZTANKLITER2" editorType="dxNumberBox" [disabled]="true" [editorOptions]="{ format : '#,##0'}">
                  <dxo-label text="유창2"></dxo-label>
                </dxi-item>
                <dxi-item dataField="load2" editorType="dxNumberBox" [disabled]="true" [editorOptions]="{ format : '#,##0'}">
                  <dxo-label text="지시2"></dxo-label>
                </dxi-item>
                <dxi-item dataField="outData2" editorType="dxNumberBox" [editorOptions]="{ format : '#,##0'}">
                  <dxo-label text="출고2"></dxo-label>
                </dxi-item>
                <dxi-item dataField="startTime2" editorType="dxDateBox" [editorOptions]="{ displayFormat: 'HH:mm:ss',type: 'time', useMaskBehavior : true, height: 40}">
                  <dxo-label text="시작시간"></dxo-label>
                </dxi-item>
                <dxi-item dataField="endTime2" editorType="dxDateBox" [editorOptions]="{ displayFormat: 'HH:mm:ss',type: 'time', useMaskBehavior : true, height: 40}">
                  <dxo-label text="종료시간"></dxo-label>
                </dxi-item>
              </dxi-item>

              <dxi-item itemType="group" [colCount]="5" [colSpan]="2" style="margin-top:5px;">

                <dxi-item dataField="ZTANKLITER3" editorType="dxNumberBox" [disabled]="true" [editorOptions]="{ format : '#,##0'}">
                  <dxo-label text="유창3"></dxo-label>
                </dxi-item>
                <dxi-item dataField="load3" editorType="dxNumberBox" [disabled]="true" [editorOptions]="{ format : '#,##0'}">
                  <dxo-label text="지시3"></dxo-label>
                </dxi-item>
                <dxi-item dataField="outData3" editorType="dxNumberBox" [editorOptions]="{ format : '#,##0'}">
                  <dxo-label text="출고3"></dxo-label>
                </dxi-item>
                <dxi-item dataField="startTime3" editorType="dxDateBox" [editorOptions]="{ displayFormat: 'HH:mm:ss',type: 'time', useMaskBehavior : true, height: 40}">
                  <dxo-label text="시작시간"></dxo-label>
                </dxi-item>
                <dxi-item dataField="endTime3" editorType="dxDateBox" [editorOptions]="{ displayFormat: 'HH:mm:ss',type: 'time', useMaskBehavior : true, height: 40}">
                  <dxo-label text="종료시간"></dxo-label>
                </dxi-item>
              </dxi-item>

              <dxi-item itemType="group" [colCount]="5" [colSpan]="2" style="margin-top:5px;">

                <dxi-item dataField="ZTANKLITER4" editorType="dxNumberBox" [disabled]="true" [editorOptions]="{ format : '#,##0'}">
                  <dxo-label text="유창4"></dxo-label>
                </dxi-item>
                <dxi-item dataField="load4" editorType="dxNumberBox" [disabled]="true" [editorOptions]="{ format : '#,##0'}">
                  <dxo-label text="지시4"></dxo-label>
                </dxi-item>
                <dxi-item dataField="outData4" editorType="dxNumberBox" [editorOptions]="{ format : '#,##0'}">
                  <dxo-label text="출고4"></dxo-label>
                </dxi-item>
                <dxi-item dataField="startTime4" editorType="dxDateBox" [editorOptions]="{ displayFormat: 'HH:mm:ss',type: 'time', useMaskBehavior : true, height: 40}">
                  <dxo-label text="시작시간"></dxo-label>
                </dxi-item>
                <dxi-item dataField="endTime4" editorType="dxDateBox" [editorOptions]="{ displayFormat: 'HH:mm:ss',type: 'time', useMaskBehavior : true, height: 40}">
                  <dxo-label text="종료시간"></dxo-label>
                </dxi-item>
              </dxi-item>

              <dxi-item itemType="group" [colCount]="5" [colSpan]="2" style="margin-top:5px;">

                <dxi-item dataField="ZTANKLITER5" editorType="dxNumberBox" [disabled]="true" [editorOptions]="{ format : '#,##0'}">
                  <dxo-label text="유창5"></dxo-label>
                </dxi-item>
                <dxi-item dataField="load5" editorType="dxNumberBox" [disabled]="true" [editorOptions]="{ format : '#,##0'}">
                  <dxo-label text="지시5"></dxo-label>
                </dxi-item>
                <dxi-item dataField="outData5" editorType="dxNumberBox" [editorOptions]="{ format : '#,##0'}">
                  <dxo-label text="출고5"></dxo-label>
                </dxi-item>
                <dxi-item dataField="startTime5" editorType="dxDateBox" [editorOptions]="{ displayFormat: 'HH:mm:ss',type: 'time', useMaskBehavior : true, height: 40}">
                  <dxo-label text="시작시간"></dxo-label>
                </dxi-item>
                <dxi-item dataField="endTime5" editorType="dxDateBox" [editorOptions]="{ displayFormat: 'HH:mm:ss',type: 'time', useMaskBehavior : true, height: 40}">
                  <dxo-label text="종료시간"></dxo-label>
                </dxi-item>
              </dxi-item>

              <dxi-item itemType="group" [colCount]="5" [colSpan]="2" style="margin-top:5px;">

                <dxi-item dataField="ZTANKLITER6" editorType="dxNumberBox" [disabled]="true" [editorOptions]="{ format : '#,##0'}">
                  <dxo-label text="유창6"></dxo-label>
                </dxi-item>
                <dxi-item dataField="load6" editorType="dxNumberBox" [disabled]="true" [editorOptions]="{ format : '#,##0'}">
                  <dxo-label text="지시6"></dxo-label>
                </dxi-item>
                <dxi-item dataField="outData6" editorType="dxNumberBox" [editorOptions]="{ format : '#,##0'}">
                  <dxo-label text="출고6"></dxo-label>
                </dxi-item>
                <dxi-item dataField="startTime6" editorType="dxDateBox" [editorOptions]="{ displayFormat: 'HH:mm:ss',type: 'time', useMaskBehavior : true, height: 40}">
                  <dxo-label text="시작시간"></dxo-label>
                </dxi-item>
                <dxi-item dataField="endTime6" editorType="dxDateBox" [editorOptions]="{ displayFormat: 'HH:mm:ss',type: 'time', useMaskBehavior : true, height: 40}">
                  <dxo-label text="종료시간"></dxo-label>
                </dxi-item>
              </dxi-item>

              <dxi-item itemType="group" [colCount]="5" [colSpan]="2" style="margin-top:5px;">

                <dxi-item dataField="ZTANKLITER7" editorType="dxNumberBox" [disabled]="true" [editorOptions]="{ format : '#,##0'}">
                  <dxo-label text="유창7"></dxo-label>
                </dxi-item>
                <dxi-item dataField="load7" editorType="dxNumberBox" [disabled]="true" [editorOptions]="{ format : '#,##0'}">
                  <dxo-label text="지시7"></dxo-label>
                </dxi-item>
                <dxi-item dataField="outData7" editorType="dxNumberBox" [editorOptions]="{ format : '#,##0'}">
                  <dxo-label text="출고7"></dxo-label>
                </dxi-item>
                <dxi-item dataField="startTime7" editorType="dxDateBox" [editorOptions]="{ displayFormat: 'HH:mm:ss',type: 'time', useMaskBehavior : true, height: 40}">
                  <dxo-label text="시작시간"></dxo-label>
                </dxi-item>
                <dxi-item dataField="endTime7" editorType="dxDateBox" [editorOptions]="{ displayFormat: 'HH:mm:ss',type: 'time', useMaskBehavior : true, height: 40}">
                  <dxo-label text="종료시간"></dxo-label>
                </dxi-item>
              </dxi-item>

              <dxi-item itemType="group" [colCount]="5" [colSpan]="2" style="margin-top:5px;">

                <dxi-item dataField="ZTANKLITER8" editorType="dxNumberBox" [disabled]="true" [editorOptions]="{ format : '#,##0'}">
                  <dxo-label text="유창8"></dxo-label>
                </dxi-item>
                <dxi-item dataField="load8" editorType="dxNumberBox" [disabled]="true" [editorOptions]="{ format : '#,##0'}">
                  <dxo-label text="지시8"></dxo-label>
                </dxi-item>
                <dxi-item dataField="outData8" editorType="dxNumberBox" [editorOptions]="{ format : '#,##0'}">
                  <dxo-label text="출고8"></dxo-label>
                </dxi-item>
                <dxi-item dataField="startTime8" editorType="dxDateBox" [editorOptions]="{ displayFormat: 'HH:mm:ss',type: 'time', useMaskBehavior : true, height: 40}">
                  <dxo-label text="시작시간"></dxo-label>
                </dxi-item>
                <dxi-item dataField="endTime8" editorType="dxDateBox" [editorOptions]="{ displayFormat: 'HH:mm:ss',type: 'time', useMaskBehavior : true, height: 40}">
                  <dxo-label text="종료시간"></dxo-label>
                </dxi-item>
              </dxi-item>

              <dxi-item itemType="group" [colCount]="5" [colSpan]="2" style="margin-top:5px;">

                <dxi-item dataField="ZTANKLITER9" editorType="dxNumberBox" [disabled]="true" [editorOptions]="{ format : '#,##0'}">
                  <dxo-label text="유창9"></dxo-label>
                </dxi-item>
                <dxi-item dataField="load9" editorType="dxNumberBox" [disabled]="true" [editorOptions]="{ format : '#,##0'}">
                  <dxo-label text="지시9"></dxo-label>
                </dxi-item>
                <dxi-item dataField="outData9" editorType="dxNumberBox" [editorOptions]="{ format : '#,##0'}">
                  <dxo-label text="출고9"></dxo-label>
                </dxi-item>
                <dxi-item dataField="startTime9" editorType="dxDateBox" [editorOptions]="{ displayFormat: 'HH:mm:ss',type: 'time', useMaskBehavior : true, height: 40}">
                  <dxo-label text="시작시간"></dxo-label>
                </dxi-item>
                <dxi-item dataField="endTime9" editorType="dxDateBox" [editorOptions]="{ displayFormat: 'HH:mm:ss',type: 'time', useMaskBehavior : true, height: 40}">
                  <dxo-label text="종료시간"></dxo-label>
                </dxi-item>
              </dxi-item>

              <dxi-item itemType="group" [colCount]="5" [colSpan]="2" style="margin-top:5px;">

                <dxi-item dataField="ZTANKLITER10" editorType="dxNumberBox" [disabled]="true" [editorOptions]="{ format : '#,##0'}">
                  <dxo-label text="유창10"></dxo-label>
                </dxi-item>
                <dxi-item dataField="load10" editorType="dxNumberBox" [disabled]="true" [editorOptions]="{ format : '#,##0'}">
                  <dxo-label text="지시10"></dxo-label>
                </dxi-item>
                <dxi-item dataField="outData10" editorType="dxNumberBox" [editorOptions]="{ format : '#,##0'}">
                  <dxo-label text="출고10"></dxo-label>
                </dxi-item>
                <dxi-item dataField="startTime10" editorType="dxDateBox" [editorOptions]="{ displayFormat: 'HH:mm:ss',type: 'time', useMaskBehavior : true, height: 40}">
                  <dxo-label text="시작시간"></dxo-label>
                </dxi-item>
                <dxi-item dataField="endTime10" editorType="dxDateBox" [editorOptions]="{ displayFormat: 'HH:mm:ss',type: 'time', useMaskBehavior : true, height: 40}">
                  <dxo-label text="종료시간"></dxo-label>
                </dxi-item>
              </dxi-item>

            </dx-form>
          </dx-scroll-view>
        </dxi-tab>
      </dxi-item>
    </dx-form>
  </dx-scroll-view>
</dx-popup>



<!--화학팝업-->
<dx-popup width="90%"
          height="90%"
          [showTitle]="true"
          title="출고"
          [dragEnabled]="false"
          [showCloseButton]="false"
          container=".dx-viewport"
          [(visible)]="chePopupVisible">

  <dxi-toolbar-item widget="dxButton"
                    toolbar="top"
                    location="after"
                    [options]="cheGiButtonOptions">
  </dxi-toolbar-item>
  <dxi-toolbar-item widget="dxButton"
                    toolbar="top"
                    location="after"
                    [options]="chePopupCloseButtonOptions">
  </dxi-toolbar-item>


  <div id="form-container1">
    <dx-form id="popupHeaderForm" [formData]="chepopHeaderData" style="margin-bottom:20px">
      <dxi-item itemType="group" [colCount]="4">
        <dxi-item dataField="VBELN" [disabled]="true"><dxo-label text="납품문서번호"></dxo-label></dxi-item>
        <dxi-item dataField="POSNR" [disabled]="true"><dxo-label text="납품품번"></dxo-label></dxi-item>
        <dxi-item dataField="ZMENGE2" [disabled]="true" editorType="dxNumberBox" [editorOptions]="{ format : '#,##0.###', type: 'decimal'}"><dxo-label text="납품수량"></dxo-label></dxi-item>
        <dxi-item dataField="ZMENGE4" [disabled]="true" editorType="dxNumberBox" [editorOptions]="{ format : '#,##0.###', type: 'decimal'}"><dxo-label text="배차수량"></dxo-label></dxi-item>
      </dxi-item>
    </dx-form>
  </div>

  <dx-scroll-view width="100%" height="90%">

    <dx-form id="popupItemForm" [formData]="chepopItemData" height="90%" (onFieldDataChanged)="cheform_fieldDataChanged($event)">
      <dxi-item itemType="group" [colCount]="1" caption="출고정보">
        <dxi-item itemType="group" [colCount]="3">
          <dxi-item dataField="ZMENGE3" editorType="dxNumberBox" [editorOptions]="{ format : '#,##0.###', type: 'decimal'}"><dxo-label text="출고수량"></dxo-label></dxi-item>
          <dxi-item dataField="WADAT_IST" editorType="dxDateBox" [editorOptions]="{ displayFormat: 'yyyy-MM-dd', type: 'date', showClearButton : true , useMaskBehavior : true}"><dxo-label text="출고전기일자"></dxo-label></dxi-item>
          <dxi-item dataField="MATNR" [disabled]="true">
            <dxo-label text="자재명"></dxo-label>
            <div *dxTemplate>
              <nh-possible-comm [codeInfo]="matnrCode" #matnrCodeDynamic
                                [dataStoreKey]="dataStoreKey"
                                [(selectedValue)]="matnrValue"
                                valueColumn="MATNR"
                                valueDisplayFormat="%MAKTX%(%MATNR%)"
                                popupGridScrollMode="standard"
                                [popupGridPagingMode]="true"
                                [popupGridPageSize]="10"
                                comboGridScrollMode="virtual"
                                width="auto"
                                [gridBoxWidth]="500"
                                (onDataLoaded)="onPEDataLoaded($event)"
                                (onEntryValueChanged)="onmatnrCodeValueChanged($event)"></nh-possible-comm>
            </div>
          </dxi-item>
          <dxi-item dataField="Z3PARVW" [disabled]="true">
            <dxo-label text="1차운송사"></dxo-label>
            <div *dxTemplate>
              <nh-possible-comm [codeInfo]="tdlnr1Code" #tdlnr1Entery
                                [dataStoreKey]="dataStoreKey"
                                valueColumn="LIFNR"
                                valueDisplayFormat="%NAME1%(%LIFNR%)"
                                width="auto"
                                [showClearButton]="true"
                                [(selectedValue)]="tdlnr1Value"
                                popupGridScrollMode="standard"
                                [popupGridPagingMode]="true"
                                [popupGridPageSize]="10"
                                comboGridScrollMode="virtual"
                                [gridBoxWidth]="500"
                                (onDataLoaded)="onPEDataLoaded($event)"
                                (onEntryValueChanged)="onTdlnr1CodeValueChanged($event)"></nh-possible-comm>
            </div>
          </dxi-item>
          <dxi-item dataField="Z4PARVW" [disabled]="true">
            <dxo-label text="2차운송사"></dxo-label>
            <div *dxTemplate>
              <nh-possible-comm [codeInfo]="tdlnrCode" #tdlnrEntery
                                [dataStoreKey]="dataStoreKey"
                                valueColumn="LIFNR"
                                valueDisplayFormat="%NAME1%(%LIFNR%)"
                                width="auto"
                                [showClearButton]="true"
                                [(selectedValue)]="tdlnrValue"
                                popupGridScrollMode="standard"
                                [popupGridPagingMode]="true"
                                [popupGridPageSize]="10"
                                comboGridScrollMode="virtual"
                                [gridBoxWidth]="500"
                                (onDataLoaded)="onPEDataLoaded($event)"
                                (onEntryValueChanged)="onTdlnrCodeValueChanged($event)"></nh-possible-comm>
            </div>
          </dxi-item>
        </dxi-item>

        <dxi-item itemType="group" [colCount]="4">
          <dxi-item dataField="Z_N_WEI_EMP" editorType="dxNumberBox" [editorOptions]="{ format : '#,##0.##0', type: 'decimal'}"><dxo-label text="공차중량"></dxo-label></dxi-item>
          <dxi-item dataField="Z_N_WEI_TOT" editorType="dxNumberBox" [editorOptions]="{ format : '#,##0.##0', type: 'decimal'}"><dxo-label text="만차중량"></dxo-label></dxi-item>
          <dxi-item dataField="Z_N_WEI_TOT_OIL" editorType="dxNumberBox" [editorOptions]="{ format : '#,##0.##0', type: 'decimal'}"><dxo-label text="출고중량"></dxo-label></dxi-item>
          <dxi-item dataField="Z_N_WEI_NET" editorType="dxNumberBox" [editorOptions]="{ format : '#,##0.##0', type: 'decimal'}"><dxo-label text="정산수량"></dxo-label></dxi-item>
        </dxi-item>

        <dxi-item itemType="group" [colCount]="4">
          <dxi-item dataField="ZSTARTTIME" editorType="dxTextBox" [editorOptions]="{mask:'##:##:##', showMaskMode:'onFocus'}"><dxo-label text="상차시작시간"></dxo-label></dxi-item>
          <dxi-item dataField="ZENDTIME" editorType="dxTextBox" [editorOptions]="{mask:'##:##:##', showMaskMode:'onFocus'}"><dxo-label text="상차종료시간"></dxo-label></dxi-item>
        </dxi-item>

        <dxi-item itemType="group" [colCount]="4">
          <dxi-item dataField="ZRACK"><dxo-label text="Rack"></dxo-label></dxi-item>
          <dxi-item dataField="ZPUMP"><dxo-label text="Pump"></dxo-label></dxi-item>
          <dxi-item dataField="ZTANK"><dxo-label text="Tank"></dxo-label></dxi-item>
        </dxi-item>
      </dxi-item>

      <dxi-item itemType="group" [colCount]="1" caption="차량정보">
        <dxi-item itemType="group" [colCount]="4">
          <dxi-item dataField="ZSHIPMENT_NO" [disabled]="true"><dxo-label text="배차번호"></dxo-label></dxi-item>
          <dxi-item dataField="ZSHIPMENT_DATE" editorType="dxDateBox" [editorOptions]="{ displayFormat: 'yyyy-MM-dd', type: 'date', showClearButton : true , useMaskBehavior : true}"><dxo-label text="배차일자"></dxo-label></dxi-item>
        </dxi-item>

        <dxi-item itemType="group" [colCount]="4">
          <dxi-item dataField="ZUNLOAD">
            <dxo-label text="하차정보"></dxo-label>
            <div *dxTemplate>
              <nh-possible-comm [codeInfo]="unloadInfoCode" #unloadInfoCodeDynamic
                                 [dataStoreKey]="dataStoreKey"
                                 [(selectedValue)]="unloadInfoValue"
                                 valueColumn="DOMVALUE_L"
                                 valueDisplayFormat="%DDTEXT%(%DOMVALUE_L%)"
                                 popupGridScrollMode="standard"
                                [popupGridPagingMode]="true"
                                [popupGridPageSize]="10"
                                comboGridScrollMode="virtual"
                                 [width]="200"
                                 [gridBoxWidth]="500"
                                 [searchPanel]="true"
                                 (onDataLoaded)="onPEDataLoaded($event)"
                                 (onEntryValueChanged)="onzunloadCodeValueChanged($event)"></nh-possible-comm>
            </div>
          </dxi-item>
          <dxi-item dataField="ZCARTYPE">
            <dxo-label text="화물차종"></dxo-label>
            <div *dxTemplate>
              <nh-possible-comm [codeInfo]="truckTypeCode" #truckTypeCodeDynamic
                                [dataStoreKey]="dataStoreKey"
                                [(selectedValue)]="truckTypeValue"
                                valueColumn="DOMVALUE_L"
                                valueDisplayFormat="%DDTEXT%(%DOMVALUE_L%)"
                                popupGridScrollMode="standard"
                                [popupGridPagingMode]="true"
                                [popupGridPageSize]="10"
                                comboGridScrollMode="virtual"
                                [width]="200"
                                [gridBoxWidth]="500"
                                [searchPanel]="true"
                                (onDataLoaded)="onPEDataLoaded($event)"
                                (onEntryValueChanged)="onzcartypeCodeValueChanged($event)"></nh-possible-comm>
            </div>
          </dxi-item>
          <dxi-item dataField="ZCARNO">
            <dxo-label text="차량번호"></dxo-label>
            <div *dxTemplate>
              <nh-possible-comm #zcarnoCodeEntery
                                [dataStoreKey]="dataStoreKey"
                                [codeInfo]="zcarnoCode"
                                valueColumn="ZCARNO"
                                [showClearButton]="true"
                                valueDisplayFormat="%ZCARNO%"
                                width="auto"
                                [(selectedValue)]="checarnoValue"
                                popupGridScrollMode="standard"
                                [popupGridPagingMode]="true"
                                [popupGridPageSize]="10"
                                comboGridScrollMode="virtual"
                                [gridBoxWidth]="500"
                                class="weight-test"
                                (onDataLoaded)="onPEDataLoaded($event)"
                                [showDataLoadingPanel]="showDataLoadingPanel"
                                (onEntryValueChanged)="cheZcarNoCodeValueChanged($event)"></nh-possible-comm>
            </div>
          </dxi-item>
        </dxi-item>
      </dxi-item>

      <dxi-item itemType="group" [colCount]="1" caption="운전기사정보">
        <dxi-item itemType="group" [colCount]="4">
          <dxi-item dataField="ZDRIVER"><dxo-label text="기사명1"></dxo-label></dxi-item>
          <dxi-item dataField="ZPHONE"><dxo-label text="전화번호1"></dxo-label></dxi-item>
        </dxi-item>

        <dxi-item itemType="group" [colCount]="4">
          <dxi-item dataField="ZDRIVER1"><dxo-label text="기사명2"></dxo-label></dxi-item>
          <dxi-item dataField="ZPHONE1"><dxo-label text="전화번호2"></dxo-label></dxi-item>
        </dxi-item>

        <dxi-item itemType="group" [colCount]="4">
          <dxi-item dataField="ZDRIVER2"><dxo-label text="기사명3"></dxo-label></dxi-item>
          <dxi-item dataField="ZPHONE2"><dxo-label text="전화번호3"></dxo-label></dxi-item>
        </dxi-item>
      </dxi-item>
    </dx-form>
  </dx-scroll-view>
</dx-popup>

<report-viewer #reportViewer style="overflow:auto">
</report-viewer>

<!-- 로딩 패널-->
<dx-load-panel #loadPanel [position]="{ of: '#pageContent' }" shadingColor="rgba(0,0,0,0.4)" [(visible)]="loadingVisible" [showIndicator]="true" [showPane]="true"
               [shading]="true" [hideOnOutsideClick]="true">
</dx-load-panel>
