<!--
정문 수동공차/중량계근 I/F
  -->
<div style="margin:10px 10px 0px 10px">

  <dx-toolbar style="margin:20px 0px 20px 0px">
    <dxi-item location="before" locateInMenu="auto">
      <div *dxTemplate>
        <div style="float:left; margin-left: 10px;">
          <dx-date-box [value]="now"
                       type="date"
                       displayFormat="yyyy-MM-dd"
                       [width]="120"
                       [disabled]="true"
                       applyValueMode="useButtons"
                       label="현재일자">
          </dx-date-box>
        </div>
      </div>
    </dxi-item>

    <dxi-item location="before" locateInMenu="auto">
      <div *dxTemplate>
        <div style="float:left; margin-left: 10px;">
          <dx-date-box #datebox
                       [value]="now"
                       [width]="120"
                       [disabled]="true"
                       type="time"
                       displayFormat="HH:mm"
                       applyValueMode="useButtons"
                       label="현재시간">
          </dx-date-box>
        </div>
      </div>
    </dxi-item>

    <dxi-item location="before"
              widget="dxButton"
              horizontalAlignment="center"
              locateInMenu="center"
              style="margin-top:5px">
      <div *dxTemplate style="margin-left:15px;">
        <dx-button stylingMode="contained"
                   text="조회"
                   (onClick)="refreshDataGrid($event)"
                   [width]="100"
                   style="margin-top:3px">
        </dx-button>
      </div>
    </dxi-item>
    <dxi-item location="after"
              locateInMenu="auto"
              style="width: auto;
            margin-right: 5px;">
      <dx-button (onClick)="weighingCertificate()"
                 [disabled]="!selectedItemKeys.length"
                 [width]="120"
                 text="계량증명서">
      </dx-button>
    </dxi-item>

    <dxi-item location="after"
              locateInMenu="auto"
              style="width: auto;
            margin-right: 5px;">
      <dx-button (onClick)="takeOutSpecific()"
                 [disabled]="!selectedItemKeys.length"
                 [width]="100"
                 text="반출증">
      </dx-button>
    </dxi-item>

    <dxi-item location="after"
              widget="dxButton"
              locateInMenu="auto"
              style="width: auto;
            margin-right: 5px;">
      <dx-button stylingMode="contained"
                 [(text)]="buttonText"
                 (onClick)="manualRegis($event)"
                 [width]="100"
                 type="normal">
      </dx-button>
    </dxi-item>

    <dxi-item location="after"
              widget="dxButton"
              locateInMenu="auto"
              style="width: auto;
            margin-right: 5px;">
      <dx-button stylingMode="contained"
                 text="계근 시작"
                 type="normal"
                 (onClick)="openComClick($event)"
                 [width]="100">
      </dx-button>
    </dxi-item>
    <dxi-item location="after"
              widget="dxButton"
              locateInMenu="auto"
              style="width: auto;
            margin-right: 5px;">
      <dx-button stylingMode="contained"
                 text="계근 중지"
                 type="normal"
                 (onClick)="closeComClick($event)"
                 [width]="100">
      </dx-button>
    </dxi-item>
    <dxi-item location="after"
              locateInMenu="auto"
              style="width: auto;
            margin-right: 5px;">
      <dx-button (onClick)="carCheck()"
                 [width]="150"
                 text="차량 입출문 이력">
      </dx-button>
    </dxi-item>
  </dx-toolbar>

  <dx-box direction="row" width="100%" style="margin-top: 20px;">
    <dxi-item [ratio]="1" [baseSize]="300">
      <div *dxTemplate="let data of 'content'" style="margin-top:20px; ">

        ※ 정문 수동 입력<br><br>
        <dx-form id="manualRegisData" #masterform (onFieldDataChanged)="onZmenge3keyDown($event)" [formData]="weightStartData" validationGroup="valiData" [colCount]="1" width="90%">

          <dxi-item itemType="group" caption="">
            <dxi-item dataField="STATUS" editorType="dxTextBox" [editorOptions]="{ height: 50, readOnly: true, elementAttr: { class: 'form-text' }}">
              <dxo-label text="현재 상태"></dxo-label>
            </dxi-item>
          </dxi-item>

          <dxi-item itemType="group" caption="">

            <dxi-item dataField="ZGW_ATGEW" editorType="dxNumberBox" [editorOptions]="{ format : '#,##0', height: 50, disabled:true, elementAttr: { class: 'form-text' }}" #testBox>
              <dxo-label text="계근 중량"></dxo-label>
              <dxi-validation-rule type="required" message="계근 중량을 입력해주십시오."></dxi-validation-rule>
            </dxi-item>

            <dxi-item dataField="GEWEI" editorType="dxTextBox" [disabled]="true" [editorOptions]="{ height: 50, elementAttr: { class: 'form-text' }}">
              <dxo-label text="중량단위"></dxo-label>
              <dxi-validation-rule type="required" message="중량단위를 입력해주십시오."></dxi-validation-rule>
            </dxi-item>
          </dxi-item>
          <dxi-item itemType="group" caption="" [colCount]="2">
            <dxi-item dataField="ZCARNO" [editorOptions]="{ height: 50, elementAttr: { class: 'form-text' } }">
              <dxo-label text="차량 번호"></dxo-label>
              <dxi-validation-rule type="required" message="차량 번호를 입력해주십시오."></dxi-validation-rule>
            </dxi-item>
            <dxi-item dataField="ZDRIVER" [editorOptions]="{ height: 50, elementAttr: { class: 'form-text' } }">
              <dxo-label text="운전기사명"></dxo-label>
              <dxi-validation-rule type="required" message="운전기사명을 입력해주십시오."></dxi-validation-rule>
            </dxi-item>
          </dxi-item>
          <dxi-item itemType="group" caption="" [colCount]="2">
            <dxi-item dataField="ZGW_LIFNR" [colSpan]="1" [editorOptions]="{ height: 50, elementAttr: { class: 'form-text' } }">
              <dxo-label text="업체코드"></dxo-label>
              <div *dxTemplate>
                <nh-possible-comm #gwLifnrCodeEntery
                                  [dataStoreKey]="dataStoreKey"
                                  [codeInfo]="gwLifnrCode"
                                  valueColumn="ZCM_CODE2"
                                  [showClearButton]="true"
                                  valueDisplayFormat="%ZCM_CODE2%"
                                  width="auto"
                                  [height]="50"
                                  style="font-size:25px;" [(selectedValue)]="gwLifnrValue"
                                  popupGridScrollMode="standard"
                                  [popupGridPagingMode]="true"
                                  [popupGridPageSize]="10"
                                  [gridBoxWidth]="500"
                                  comboGridScrollMode="virtual"
                                  class="weight-test"
                                  placeholderText ="업체 선택"
                                  [showDataLoadingPanel]="showDataLoadingPanel"
                                  (onEntryValueChanged)="onGwLifnrValueChanged($event)"></nh-possible-comm>
              </div>
            </dxi-item>
            <dxi-item dataField="ZGW_NAME1" #testCodeEntery [colSpan]="1" [editorOptions]="{ height: 50, elementAttr: { class: 'form-text' } }">
              <dxo-label text="업체명"></dxo-label>
            </dxi-item>
          </dxi-item>
          <dxi-item itemType="group" caption="" [colCount]="2">
            <dxi-item dataField="ZGW_MATNR" [colSpan]="1" [editorOptions]="{ height: 50, elementAttr: { class: 'form-comm' } }">
              <dxo-label text="제품코드"></dxo-label>
              <div *dxTemplate class="form-comm">
                <nh-possible-comm #gwMatnrCodeEntery
                                  [dataStoreKey]="dataStoreKey"
                                  [codeInfo]="gwMatnrCode"
                                  valueColumn="ZCM_CODE2"
                                  [showClearButton]="true"
                                  valueDisplayFormat="%ZCM_CODE2%"
                                  width="auto"
                                  [height]="50"
                                  style="font-size:25px;"
                                  [(selectedValue)]="gwMatnrValue"
                                  popupGridScrollMode="standard"
                                  [popupGridPagingMode]="true"
                                  [popupGridPageSize]="10"
                                  [gridBoxWidth]="500"
                                  comboGridScrollMode="virtual"
                                  placeholderText ="제품 선택"
                                  class="weight-test"
                                  [showDataLoadingPanel]="showDataLoadingPanel"
                                  (onEntryValueChanged)="onGwMatnrValueChanged($event)"></nh-possible-comm>
              </div>
            </dxi-item>
            <dxi-item dataField="ZGW_MAKTX" #testCodeEntery [colSpan]="1" [editorOptions]="{ height: 50, elementAttr: { class: 'form-text' } }">
              <dxo-label text="제품명"></dxo-label>
            </dxi-item>
          </dxi-item>
          <dxi-item itemType="group" caption="">
            <dxi-item dataField="ZGW_PER1" [editorOptions]="{ height: 50, elementAttr: { class: 'form-text' } }" [disabled]="true">
              <dxo-label text="검량자"></dxo-label>
              <dxi-validation-rule type="required" message="검량자를 입력해주십시오."></dxi-validation-rule>
            </dxi-item>
          </dxi-item>
          <!--<dxi-item itemType="group" caption="">
            <dxi-item dataField="ZGW_PER2" [editorOptions]="{ height: 40 }">
              <dxo-label text="확인자"></dxo-label>
              <dxi-validation-rule type="required" message="확인자를 입력해주십시오."></dxi-validation-rule>
            </dxi-item>
          </dxi-item>-->
        </dx-form>
        <dx-form id="manualRegisData" [colCount]="1" width="80%" style="margin-top:30px;">

          <dxi-item itemType="group" [colCount]="3" [colSpan]="3">

            <dxi-item></dxi-item>

            <dxi-item itemType="button"
                      widget="dxButton"
                      location="before"
                      [buttonOptions]="weightEnterRegister">
            </dxi-item>
            <dxi-item></dxi-item>

          </dxi-item>
        </dx-form>
      </div>
    </dxi-item>
    <dxi-item [ratio]="1" [baseSize]="600">
      <dx-form>
        <dxi-item>
          <div *dxTemplate="let data of 'content'" style="margin-top:10px;">
            ※ 현재 계근대 차량 <br><br>
            <dx-data-grid [dataSource]="carData"
                          [showBorders]="false"
                          [columnAutoWidth]="true"
                          [allowColumnResizing]="true"
                          [repaintChangesOnly]="true"
                          [remoteOperations]="true"
                          [columnResizingMode]="columnResizeMode"
                          [columnHidingEnabled]="true"
                          [keyExpr]="['ZGW_DATE','ZGW_TIME']"
                          [allowColumnReordering]="true"
                          [selection]="{ mode: 'single' }"
                          height="calc(70vh - 315px)">

              <!--Datagrid Option-->
              <dxo-paging [enabled]="false"></dxo-paging>
              <dxo-pager [showPageSizeSelector]="true" [showInfo]="true"></dxo-pager>
              <!--Filtering Option-->
              <dxo-filter-builder [customOperations]="customOperations"
                                  [allowHierarchicalFields]="true">
              </dxo-filter-builder>
              <dxo-filter-builder-popup [position]="popupPosition">
              </dxo-filter-builder-popup>
              <dxo-filter-row [visible]="true"></dxo-filter-row>
              <dxo-header-filter [visible]="true"></dxo-header-filter>
              <dxo-scrolling columnRenderingMode="virtual"></dxo-scrolling>

              <!--Data column-->
              <dxi-column dataField="ZGW_DATE"
                          dataType="date"
                          alignment="center"
                          format="yyyy-MM-dd"
                          caption="발생일">
              </dxi-column>
              <dxi-column dataField="ZGW_TIME"
                          dataType="time"
                          alignment="center"
                          sortOrder="desc"
                          format="HH:mm:ss"
                          caption="시간">
              </dxi-column>
              <dxi-column dataField="ZCARNO"
                          caption="차량번호">
              </dxi-column>
              <dxi-column dataField="ZDRIVER"
                          caption="운전기사명">
              </dxi-column>
              <dxi-column dataField="ZGW_NAME1"
                          caption="업체명">
              </dxi-column>
              <dxi-column dataField="ZGW_MAKTX"
                          caption="자재명">
              </dxi-column>
              <dxi-column dataField="ZGW_ATGEW"
                          caption="실중량"
                          format="#,###">
              </dxi-column>
            </dx-data-grid>
          </div>
        </dxi-item>

      </dx-form>
      <dx-form>
        <dxi-item>
          <div *dxTemplate="let data of 'content'" style="margin-top:20px; ">
            ※ 입.출고 완료 차량<br><br>
            <dx-data-grid class="dx-card wide-card"
                          #maindataGrid
                          [dataSource]="mainData"
                          [showBorders]="false"
                          [focusedRowEnabled]="true"
                          [focusedRowIndex]="0"
                          [columnAutoWidth]="true"
                          [allowColumnResizing]="true"
                          [columnResizingMode]="columnResizeMode"
                          [columnHidingEnabled]="true"
                          [allowColumnReordering]="true"
                          [(selectedRowKeys)]="selectedRows"
                          [keyExpr]="['ZGW_DATE','ZGW_SEQ']"
                          (onSelectionChanged)="selectionChanged($event)"
                          [selection]="{ mode: 'single' }"
                          height="calc(60vh - 315px)">

              <!--Datagrid Option-->
              <dxo-paging [enabled]="false"></dxo-paging>
              <dxo-pager [showPageSizeSelector]="true" [showInfo]="true"></dxo-pager>

              <!--Filtering Option-->
              <dxo-filter-builder [customOperations]="customOperations"
                                  [allowHierarchicalFields]="true">
              </dxo-filter-builder>
              <dxo-filter-builder-popup [position]="popupPosition">
              </dxo-filter-builder-popup>
              <dxo-filter-row [visible]="true"></dxo-filter-row>
              <dxo-header-filter [visible]="true"></dxo-header-filter>
              <dxo-scrolling columnRenderingMode="virtual"></dxo-scrolling>

              <!--Data column-->
              <dxi-column dataField="ZGW_GRIR_GUBUN"
                          alignment="center"
                          caption="계근대 구분">
              </dxi-column>
              <dxi-column dataField="ZGW_DATE"
                          dataType="date"
                          alignment="center"
                          sortOrder="desc"
                          format="yyyy-MM-dd"
                          caption="발생일">
              </dxi-column>
              <dxi-column dataField="ZGW_SEQ"
                          alignment="center"
                          sortOrder="desc"
                          caption="순번">
              </dxi-column>
              <dxi-column dataField="ZCARNO"
                          caption="차량번호">
              </dxi-column>
              <dxi-column dataField="ZDRIVER"
                          caption="운전기사명">
              </dxi-column>
              <dxi-column dataField="ZGW_BRGEW"
                          caption="총중량"
                          format="#,###">
              </dxi-column>
              <dxi-column dataField="ZGW_NTGEW"
                          caption="공차중량"
                          format="#,###">
              </dxi-column>
              <dxi-column dataField="ZGW_ATGEW"
                          caption="실중량"
                          format="#,###">
              </dxi-column>
              <dxi-column dataField="ZGW_NAME1"
                          caption="업체명">
              </dxi-column>
              <dxi-column dataField="ZGW_MAKTX"
                          caption="자재명">
              </dxi-column>


              <dxi-column dataField="ZGW_GR_TIME"
                          dataType="time"
                          alignment="center"
                          format="HH:mm:ss"
                          caption="입문시간">
              </dxi-column>
              <dxi-column dataField="ZGW_GI_TIME"
                          dataType="time"
                          alignment="center"
                          format="HH:mm:ss"
                          caption="출문시간">
              </dxi-column>
            </dx-data-grid>
          </div>
        </dxi-item>
      </dx-form>
    </dxi-item>
  </dx-box>

</div>
<!--차량 입출문 이력-->
<dx-popup width="80%"
          height="80%"
          margin="20px"
          [showTitle]="false"
          [dragEnabled]="false"
          [hideOnOutsideClick]="true"
          container=".dx-viewport"
          [showCloseButton]="false"
          [(visible)]="PopupVisible">
  <dxi-toolbar-item text="차량 입출문 이력"
                    toolbar="top"
                    location="before">
  </dxi-toolbar-item>
  <dxi-toolbar-item widget="dxButton"
                    toolbar="top"
                    location="after"
                    [options]="CloseButtonOptions">
  </dxi-toolbar-item>
  <dx-scroll-view width="100%" height="100%">


    <dx-form direction="row" width="100%" style="margin-bottom: 10px;">
      <dxi-item>
        <div style="margin-bottom: 5px;">※ 차량 입출문 이력</div>
      </dxi-item>
      <dxi-item>
        <div *dxTemplate="let data of 'content'" style="margin-right: 30px;">

          <dx-data-grid #orderDataGrid
                        [dataSource]="orderData"
                        [showBorders]="false"
                        [focusedRowIndex]="0"
                        [columnAutoWidth]="true"
                        [allowColumnResizing]="true"
                        [repaintChangesOnly]="true"
                        [remoteOperations]="true"
                        [columnResizingMode]="columnResizeMode"
                        [columnHidingEnabled]="true"
                        [keyExpr]="['ZGW_DATE','ZGW_TIME']"
                        [allowColumnReordering]="true"
                        [selection]="{ mode: 'single' }"
                        height="calc(100vh - 315px)">

            <!--Datagrid Option-->
            <dxo-paging [enabled]="false"></dxo-paging>
            <dxo-pager [showPageSizeSelector]="true" [showInfo]="true"></dxo-pager>
            <!--Filtering Option-->
            <dxo-filter-builder [customOperations]="customOperations"
                                [allowHierarchicalFields]="true">
            </dxo-filter-builder>
            <dxo-filter-builder-popup [position]="popupPosition">
            </dxo-filter-builder-popup>
            <dxo-filter-row [visible]="true"></dxo-filter-row>
            <dxo-header-filter [visible]="true"></dxo-header-filter>
            <dxo-scrolling columnRenderingMode="virtual"></dxo-scrolling>

            <!--Data column-->
            <dxi-column dataField="ZGW_DATE"
                        dataType="date"
                        alignment="center"
                        format="yyyy-MM-dd"
                        caption="발생일">
            </dxi-column>
            <dxi-column dataField="ZGW_TIME"
                        dataType="time"
                        alignment="center"
                        sortOrder="desc"
                        format="HH:mm:ss"
                        caption="시간">
            </dxi-column>
            <dxi-column dataField="ZCARNO"
                        caption="차량번호">
            </dxi-column>
            <dxi-column dataField="ZDRIVER"
                        caption="운전기사명">
            </dxi-column>
            <dxi-column dataField="ZGW_MAKTX"
                        caption="자재명">
            </dxi-column>
            <dxi-column dataField="ZGW_NAME1"
                        caption="업체명">
            </dxi-column>
            <dxi-column dataField="ZGW_ATGEW"
                        caption="실중량"
                        format="#,###">
            </dxi-column>
          </dx-data-grid>

        </div>
      </dxi-item>
    </dx-form>
  </dx-scroll-view>
</dx-popup>
<report-viewer #reportViewer style="overflow:auto">
</report-viewer>

