 <!--toolbar-->
<div style="margin:20px 10px 10px 20px">

  <dx-toolbar style="margin: 20px 0px 20px 0px;padding:0px 5px 0px 5px">
    <dxi-item location="after"
              widget="dxButton"
              locateInMenu="auto"
              style="width: auto;
              margin-left: 5px;
              margin-right: 5px;">
      <dx-button stylingMode="contained"
                 (onClick)="LoadData($event)"
                 text="조회"
                 type="normal">
      </dx-button>
    </dxi-item>
  </dx-toolbar>
  <dx-data-grid [dataSource]="forestData"
                [remoteOperations]="false"
                [focusedRowIndex]="0"
                [allowColumnReordering]="true"
                [allowColumnResizing]="true"
                [rowAlternationEnabled]="true"
                [showBorders]="true"
                [columnAutoWidth]="true"
                height="calc(100vh - 155px)"
                [columnResizingMode]="columnResizeMode">
    <dxo-paging [pageSize]="10"></dxo-paging>
    <dxo-scrolling mode="infinite"></dxo-scrolling>

    <dxo-selection mode="single"></dxo-selection>
    <dxo-filter-row visible="true"></dxo-filter-row>
    <dxo-header-filter visible="true"></dxo-header-filter>

    <dxo-search-panel [visible]="true"
                      [highlightCaseSensitive]="true"></dxo-search-panel>


    <!--Data column-->
    <dxi-column dataField="MTART"
                caption="자재유형코드"
                [fixed]="true"
                [visible]="false"
                fixedPosition="left">
    </dxi-column>

    <dxi-column dataField="MATNR"
                caption="자재코드"
                [fixed]="true"
                fixedPosition="left">
    </dxi-column>

    <dxi-column dataField="MAKTX"
                caption="자재명칭"
                [fixed]="true"
                fixedPosition="left">
    </dxi-column>
    <dxi-column dataField="LABST"
                format="#,##0.###"
                dataType="number"
                caption="가용재고 수량">
    </dxi-column>

    <dxi-column dataField="INSME"
                format="#,##0.###"
                dataType="number"
                caption="품질검사 수량">
    </dxi-column>

    <dxi-column dataField="SPEME"
                format="#,##0.###"
                dataType="number"
                caption="고결/파포 수량">
    </dxi-column>

    <dxi-column dataField="UMLME"
                format="#,##0.###"
                dataType="number"
                caption="이동중/운송중">
    </dxi-column>

    <dxi-column dataField="LABST_MT"
                format="#,##0.###"
                dataType="number"
                caption="가용재고MT">
    </dxi-column>

    <dxi-column dataField="INSME_MT"
                format="#,##0.###"
                dataType="number"
                caption="품질검사MT">
    </dxi-column>

    <dxi-column dataField="SPEME_MT"
                format="#,##0.###"
                dataType="number"
                caption="고결/파포MT">
    </dxi-column>

    <dxi-column dataField="MEINS"
                caption="기본 단위">
    </dxi-column>

    <dxi-column dataField="SOBKZ"
                caption="특별재고지시자">
    </dxi-column>

    <dxi-column dataField="SOTXT"
                caption="특별재고유형">
    </dxi-column>

    <dxo-summary>
      <dxi-total-item column="MAKTX"
                      alignment="right"
                      summaryType="count"
                      displayFormat="{0}">
      </dxi-total-item>

      <dxi-total-item column="LABST"
                      dataType="number"
                      valueFormat="#,##0.###"
                      summaryType="sum"
                      displayFormat="{0}">
      </dxi-total-item>

      <dxi-total-item column="INSME"
                      dataType="number"
                      valueFormat="#,##0.###"
                      summaryType="sum"
                      displayFormat="{0}">
      </dxi-total-item>

      <dxi-total-item column="SPEME"
                      dataType="number"
                      valueFormat="#,##0.###"
                      summaryType="sum"
                      displayFormat="{0}">
      </dxi-total-item>

      <dxi-total-item column="UMLME"
                      dataType="number"
                      valueFormat="#,##0.###"
                      summaryType="sum"
                      displayFormat="{0}">
      </dxi-total-item>

      <dxi-total-item column="LABST_MT"
                      dataType="number"
                      valueFormat="#,##0.###"
                      summaryType="sum"
                      displayFormat="{0}">
      </dxi-total-item>

      <dxi-total-item column="INSME_MT"
                      dataType="number"
                      valueFormat="#,##0.###"
                      summaryType="sum"
                      displayFormat="{0}">
      </dxi-total-item>

      <dxi-total-item column="SPEME_MT"
                      dataType="number"
                      valueFormat="#,##0.###"
                      summaryType="sum"
                      displayFormat="{0}">
      </dxi-total-item>
    </dxo-summary>
  </dx-data-grid>
</div>
