<!--출하 요청 등록 -->
<dx-toolbar style="margin:20px 0px 20px 0px" width="99%">
  <dxi-item location="before">
    <div *dxTemplate>
      <div style="float: left; margin-left: 10px;">
        <dx-date-box [(value)]="startDate" label="기간(From)" type="date" [width]="150" displayFormat="yyyy-MM-dd"></dx-date-box>
      </div>

      <div style="float: left; margin-left: 10px;">
        <dx-date-box [(value)]="endDate" label="기간(to)" type="date" [width]="150" displayFormat="yyyy-MM-dd"></dx-date-box>
      </div>
    </div>
  </dxi-item>

  <dxi-item location="after">
    <div *dxTemplate>
      <dx-button text="조회" (onClick)="searchButton($event)">
      </dx-button>
    </div>
  </dxi-item>
  <dxi-item location="after">
    <div *dxTemplate>
      <dx-button text="등록" (onClick)="addButton($event)">
      </dx-button>
    </div>
  </dxi-item>
  <dxi-item location="after" [disabled]="state">
    <div *dxTemplate>
      <dx-button text="삭제" (onClick)="deleteButton($event)">
      </dx-button>
    </div>
  </dxi-item>
</dx-toolbar>

<dx-data-grid id="grid" #orderGrid
              [dataSource]="orderData"
              keyExpr="VBELN"
              [showBorders]="true"
              [focusedRowIndex]="0"
              [selection]="{ mode: 'single' }"
              height="calc(100vh - 230px)"
              [columnAutoWidth]="true"
              (onContentReady)="contentReady($event)"
              [allowColumnReordering]="true"
              columnResizingMode="widget"
              [loadPanel]="loadPanelOption"
              [allowColumnResizing]="true"
              (onSelectionChanged)="selectionChanged($event)">
  <dxo-scrolling mode="infinite"></dxo-scrolling>
  <dxo-paging [enabled]="false"></dxo-paging>
  <dxo-header-filter [visible]="true" [allowSearch]="true"></dxo-header-filter>
  <dxo-paging [pageSize]="10"></dxo-paging>
  <dxo-filter-panel [visible]="true"></dxo-filter-panel>
  <dxo-filter-builder [customOperations]="customOperations"
                      [allowHierarchicalFields]="true">
  </dxo-filter-builder>
  <dxo-filter-row [visible]="true"></dxo-filter-row>


  <!--Data column-->
  <dxi-column dataField="VBELN"
              caption="출하요청번호">
  </dxi-column>
  <dxi-column dataField="MAKTX"
              caption="제품명">
  </dxi-column>
  <dxi-column dataField="RQDAT"
              caption="요청일자"
              dataType="date"
              format="yyyy-MM-dd">
  </dxi-column>
  <!--<dxi-column dataField=""
              caption="주문구분">
  </dxi-column>-->
  <dxi-column dataField="NAME1"
              caption="거래처">
  </dxi-column>
  <!--<dxi-column dataField=""
              caption="배차번호">
  </dxi-column>-->
  <dxi-column dataField="ZCARNO"
              caption="차량번호">
  </dxi-column>
  <dxi-column dataField="ZDRIVER"
              caption="기사명">
  </dxi-column>
  <!--<dxi-column dataField="MATNR"
              caption="액상구분">
  </dxi-column>-->
  <dxi-column dataField="ZMENGE"
              caption="출하요청물량"
              format="#,###.###">
  </dxi-column>
  <dxi-column dataField="MEINS"
              caption="주문단위">
  </dxi-column>
  <dxi-column dataField="S_OILNO"
              caption="선적번호(S-OIL)">
  </dxi-column>
  <<dxi-column dataField="DONUM"
               caption="지시번호">
  </dxi-column>
  <dxi-column dataField="STREET"
              caption="주소">
  </dxi-column>
  <dxi-column dataField="TELF1"
              caption="전화번호">
  </dxi-column>
  <dxi-column dataField="VRDAT"
              caption="출하일"
              dataType="date"
              format="yyyy-MM-dd">
  </dxi-column>
  <!--<dxi-column dataField=""
              caption="H.P">
  </dxi-column>-->
  <!--<dxi-column dataField=""
              caption="차량용량">
  </dxi-column>-->
  <!--<dxi-column dataField=""
              caption="구분">
  </dxi-column>-->
  <!--<dxi-column dataField="LGORT"
              caption="저장소">
  </dxi-column>-->
  <!--<dxi-column dataField=""
              caption="정산량">
  </dxi-column>-->
  <dxi-column dataField="ZSTATNM"
              caption="출하상태">
  </dxi-column>
</dx-data-grid>

<!--배차등록팝업-->
<dx-popup width="60%"
          height="50%"
          [showTitle]="true"
          title="S-OIL 출하요청서 등록"
          [dragEnabled]="false"
          [showCloseButton]="false"
          container=".dx-viewport"
          [(visible)]="reqVisible">
  <dx-toolbar style="margin-bottom: 9px;">
    <dxi-item location="after">
      <div *dxTemplate>
        <dx-button text="저장" (onClick)="reqSaveButton($event)">
        </dx-button>
      </div>
    </dxi-item>
    <dxi-item location="after">
      <div *dxTemplate>
        <dx-button text="닫기" (onClick)="reqCloseButton($event)">
        </dx-button>
      </div>
    </dxi-item>
  </dx-toolbar>

  <dx-scroll-view width="100%" height="100%">
    <div id="form-container">
      <dx-form id="popupForm" [formData]="reqPopupData">

        <dxi-item itemType="group" [colCount]="2" [colSpan]="2">

          <!--<dxi-item dataField="VBELN" [disabled]="true"><dxo-label text="주문번호"></dxo-label></dxi-item>-->
          <dxi-item dataField="KUNNR">
            <dxo-label text="주문처"></dxo-label>
            <div *dxTemplate>
              <nh-possible-comm [codeInfo]="kunnrCode" #kunnrEntery
                                [dataStoreKey]="dataStoreKey"
                                valueColumn="KUNNR"
                                valueDisplayFormat="%NAME1%(%KUNNR%)"
                                width="auto"
                                [gridBoxWidth]="500"
                                [showClearButton]="true"
                                [(selectedValue)]="kunnrValue"
                                popupGridScrollMode="standard"
                                [popupGridPagingMode]="true"
                                [popupGridPageSize]="10"
                                (onDataLoaded)="onPEDataLoaded($event)"
                                [showDataLoadingPanel]="showDataLoadingPanel"
                                (onEntryValueChanged)="onKunnrCodeValueChanged($event)"></nh-possible-comm>
            </div>
          </dxi-item>
          <dxi-item dataField="MATNR">
            <dxo-label text="제품명"></dxo-label>
            <div *dxTemplate>
              <nh-possible-comm [dataStoreKey]="dataStoreKey" #matnrEntery
                                [codeInfo]="matnrCode"
                                valueColumn="MATNR"
                                valueDisplayFormat="%MAKTX%(%MATNR%)"
                                width="auto"
                                [(selectedValue)]="matnrValue"
                                [gridBoxWidth]="500"
                                class="weight-test"
                                [showClearButton]="true"
                                popupGridScrollMode="standard"
                                [popupGridPagingMode]="true"
                                [popupGridPageSize]="10"
                                (onDataLoaded)="onPEDataLoaded($event)"
                                [showDataLoadingPanel]="showDataLoadingPanel"
                                (onEntryValueChanged)="onMatnrCodeValueChanged($event)"></nh-possible-comm>
            </div>
          </dxi-item>
          <dxi-item dataField="RQDAT" editorType="dxDateBox" [editorOptions]="{ displayFormat: 'yyyy-MM-dd', type: 'date', useMaskBehavior : true}">
            <dxo-label text="요청일"></dxo-label>
          </dxi-item>
          <dxi-item dataField="VRDAT" editorType="dxDateBox" [editorOptions]="{ displayFormat: 'yyyy-MM-dd', type: 'date', useMaskBehavior : true}">
            <dxo-label text="출하희망일"></dxo-label>
          </dxi-item>
          <dxi-item dataField="KUNWE">
            <dxo-label text="도착지"></dxo-label>
            <div *dxTemplate>
              <nh-possible-comm [codeInfo]="kunweCode" #kunweEntery
                                [dataStoreKey]="dataStoreKey"
                                valueColumn="KUNNR"
                                valueDisplayFormat="%NAME1%(%KUNNR%)"
                                width="auto"
                                valueExpr="KUNWE"
                                [gridBoxWidth]="500"
                                [showClearButton]="true"
                                [(selectedValue)]="kunweValue"
                                popupGridScrollMode="standard"
                                [popupGridPagingMode]="true"
                                [popupGridPageSize]="10"
                                (onDataLoaded)="onPEDataLoaded($event)"
                                [showDataLoadingPanel]="showDataLoadingPanel"
                                (onEntryValueChanged)="onKunweCodeValueChanged($event)"></nh-possible-comm>
            </div>
          </dxi-item>
          <dxi-item dataField="LGORT">
            <dxo-label text="출고사업장"></dxo-label>
            <div *dxTemplate>
              <nh-possible-comm #t001Entery
                                [dataStoreKey]="dataStoreKey"
                                [codeInfo]="t001Code"
                                valueColumn="ZCM_CODE3"
                                valueDisplayFormat="%ZCMF01_CH%(%ZCM_CODE3%)"
                                width="auto"
                                [showClearButton]="true"
                                [(selectedValue)]="lgortValue"
                                [gridBoxWidth]="500"
                                class="weight-test"
                                popupGridScrollMode="standard"
                                [popupGridPagingMode]="true"
                                [popupGridPageSize]="10"
                                (onDataLoaded)="onPEDataLoaded($event)"
                                [showDataLoadingPanel]="showDataLoadingPanel"
                                (onEntryValueChanged)="onLgortCodeValueChanged($event)"></nh-possible-comm>
            </div>
          </dxi-item>
          <dxi-item dataField="ZCARNO">
            <dxo-label text="차량번호"></dxo-label>
            <div *dxTemplate>
              <nh-possible-comm #zcarnoEntery
                                [dataStoreKey]="dataStoreKey"
                                [codeInfo]="zcarnoCode"
                                valueColumn="ZCARNO"
                                [showClearButton]="true"
                                valueDisplayFormat="%ZCARNO%"
                                width="auto"
                                [(selectedValue)]="zcarnoValue"
                                [gridBoxWidth]="500"
                                class="weight-test"
                                popupGridScrollMode="standard"
                                [popupGridPagingMode]="true"
                                [popupGridPageSize]="10"
                                (onDataLoaded)="onPEDataLoaded($event)"
                                [showDataLoadingPanel]="showDataLoadingPanel"
                                (onEntryValueChanged)="onZcarnoCodeValueChanged($event)"></nh-possible-comm>
            </div>
          </dxi-item>
          <dxi-item dataField="ZDRIVER"><dxo-label text="기사명"></dxo-label></dxi-item>
          <dxi-item dataField="INCO1">
            <dxo-label text="운송방법"></dxo-label>
            <div *dxTemplate>
              <nh-possible-comm [codeInfo]="inco1Code" #inco1CodeDynamic
                                [dataStoreKey]="dataStoreKey"
                                [(selectedValue)]="inco1Value"
                                valueColumn="INCO1"
                                valueDisplayFormat="%BEZEI%(%INCO1%)"
                                width="auto"
                                [gridBoxWidth]="500"
                                popupGridScrollMode="standard"
                                [popupGridPagingMode]="true"
                                [popupGridPageSize]="10"
                                (onDataLoaded)="onPEDataLoaded($event)"
                                (onEntryValueChanged)="oninco1CodeValueChanged($event)"></nh-possible-comm>
            </div>
          </dxi-item>
          <!--<dxi-item dataField=""><dxo-label text="유종"></dxo-label></dxi-item>-->
          <!--<dxi-item dataField="ZSTAT"><dxo-label text="출하구분"></dxo-label></dxi-item>-->
          <dxi-item dataField="ZMENGE" editorType="dxNumberBox" [editorOptions]="{ format : '#,##0'}"><dxo-label text="출하요청물량"></dxo-label></dxi-item>
          <dxi-item dataField="S_OILNO"><dxo-label text="선적번호(S-Oil)"></dxo-label></dxi-item>
          <dxi-item dataField="ZTEXT"><dxo-label text="특기사항"></dxo-label></dxi-item>
          <dxi-item dataField="MEINS" [visible]="false"><dxo-label text="단위"></dxo-label></dxi-item>
        </dxi-item>
      </dx-form>
    </div>
  </dx-scroll-view>
</dx-popup>
