<!--보관검수대비 실출고량-->

<dx-toolbar style="margin:20px 0px 20px 0px" width="99%">
  <dxi-item location="before">
    <div *dxTemplate>
      <div style="float: left; margin-left: 10px;">
        <dx-date-box [(value)]="startDate" label="기준년도" type="date" [width]="150" displayFormat="yyyy">
          <dxo-calendar-options zoomLevel="decade" minZoomLevel="decade" maxZoomLevel="decade"></dxo-calendar-options>
        </dx-date-box>
      </div>
    </div>
  </dxi-item>
  <dxi-item location="before">
    <div style="float: left; margin-left: 10px; ">
      <nh-possible-table [codeInfo]="kunnCode" #kunnrEntery3
                         [dataStoreKey]="dataStoreKey"
                         valueColumn="KUNNR"
                         valueDisplayFormat="%NAME1%(%KUNNR%)"
                         width="200"
                         placeholderText="주문처(산하)"
                         label="주문처(산하)"
                         [gridBoxWidth]="500"
                         [showClearButton]="true"
                         (onDataLoaded)="onPEDataLoaded($event)"></nh-possible-table>
    </div>
  </dxi-item>
  <dxi-item location="before">
    <div style="float: left; margin-left: 10px; ">
      <nh-possible-table #lgEntery
                         [dataStoreKey]="dataStoreKey"
                         [codeInfo]="lgCode"
                         valueColumn="LGORT"
                         valueDisplayFormat="%LGOBE%(%LGORT%)"
                         placeholderText="비료창고"
                         width="200"
                         label="비료창고"
                         [gridBoxWidth]="500"
                         (onDataLoaded)="onPEDataLoaded($event)"
                         [showClearButton]="true"
                         class="weight-test"></nh-possible-table>
    </div>
  </dxi-item>
  <dxi-item location="after"
            widget="dxButton"
            locateInMenu="auto"
            [height]="25"
            [options]="searchButtonOptions">
  </dxi-item>
</dx-toolbar>

<div class="dx-field">
  <dx-data-grid id="grid"
                [dataSource]="orderData"
                keyExpr="VBELN"
                [showBorders]="true"
                [focusedRowIndex]="0"
                [selection]="{ mode: 'single' }"
                height="calc(100vh - 230px)"
                [columnAutoWidth]="true"
                (onContentReady)="contentReady($event)"
                [allowColumnReordering]="true"
                columnResizingMode="widget"
                [loadPanel]="loadPanelOption"
                [allowColumnResizing]="true">

    <dxo-scrolling mode="infinite"></dxo-scrolling>
    <dxo-header-filter [visible]="true" [allowSearch]="true"></dxo-header-filter>
    <dxo-search-panel [visible]="true"></dxo-search-panel>
    <dxo-group-panel [visible]="true"></dxo-group-panel>
    <dxo-grouping #expand [autoExpandAll]="false"></dxo-grouping>




    <dxi-column dataField="NAME1_AG" caption="주문처"  [groupIndex]="0"></dxi-column>
    <dxi-column dataField="STREET" caption="선검수 출고지"></dxi-column>
    <dxi-column dataField="NAME1" caption="선검수 도착처"></dxi-column>
    <dxi-column dataField="VGBEL" caption="선검수 출고번호"></dxi-column>
    <dxi-column dataField="ARKTX" caption="제품"  [groupIndex]="0"></dxi-column>
    <dxi-column dataField="요건몰겠음" caption="포장" ></dxi-column>
    <dxi-column dataField="FKIMG" caption="선검수량" format="#,###"></dxi-column>
    <dxi-column dataField="나중에 rfc추가" caption="실주문량" format="#,###"></dxi-column>
    <dxi-column dataField="ZMENGE3" caption="실출고량" format="#,###"></dxi-column>



    <dxo-summary>
      <dxi-total-item column="FKIMG"
                      summaryType="sum">
      </dxi-total-item>
      <dxi-total-item column="나중에 rfc추가"
                      summaryType="sum">
      </dxi-total-item>
      <dxi-total-item column="ZMENGE3"
                      summaryType="sum">
      </dxi-total-item>

      <!--<dxi-group-item column="inspQuantity"
                    summaryType="sum"
                    valueFormat="number"
                    [showInGroupFooter]="false" [alignByColumn]="true">
    </dxi-group-item>

    <dxi-group-item column="orderQuantity"
                    summaryType="sum"
                    valueFormat="number"
                    [showInGroupFooter]="false" [alignByColumn]="true">
    </dxi-group-item>

    <dxi-group-item column="deliQuantity"
                    summaryType="sum"
                    valueFormat="number"
                    [showInGroupFooter]="false" [alignByColumn]="true">
    </dxi-group-item>-->
    </dxo-summary>
  </dx-data-grid>
</div>





